
<#include "../include/header.html">
<script src="${base.contextPath}/lib/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="${base.contextPath}/common/code?yesNo=SYS.YES_NO"></script>
<script src="${base.contextPath}/common/code?hqmIqcSamplePlanType=HQM_IQC_SAMPLE_PLAN_TYPE"></script>
<script src="${base.contextPath}/common/code?hqmIqcSampleStandardType=HQM_IQC_SAMPLE_STANDARD_TYPE"></script>
<script src="${base.contextPath}/common/code?hqmIqcSampleSizeCodeLevel=HQM_IQC_SAMPLE_SIZE_CODE_LEVEL"></script>
<script src="${base.contextPath}/common/code?hqmIqcAql=HQM_IQC_AQL"></script>
<body>
<script>
	function ifNotNull(e) {
	    if(e!=null&&e!=undefined&&e!=''){
	        return true;
	    }
	    return false;
	}
	function getDataSource(uri,value){
		var array = new Array();
	    $.ajax({
	        url: _basePath + uri,
	        type: "GET",
	        dataType: "json",
	        data:{
	        	value:value
	        },
	        async: false,
	        success: function (data) {
	            if (data.success)
	            {
	                array = data.rows;
	            }else{
	                
	            }
	        }
	    });
		return array;
	}
	
</script>
<script type="text/javascript">
    var viewModel = Hap.createGridViewModel("#grid");
    var viewModelb = Hap.createGridViewModel("#gridb");
    var sampleStandardType = getDataSource('/hqm/sample/size/code/letter/standard','');
</script>

	<div class="col-sm-12" style="margin-top: 10px;">
		<ul class="nav nav-tabs" id="mytab">
			<li id="tab1" class="active"><a href="#div1" data-toggle="tab"><@spring.message "GB2828"/></a></li>
			<li id="tab2" class=""><a href="#div2" data-toggle="tab"><@spring.message "C=0"/></a></li>
		</ul>
		<div id="tabContent" class="tab-content">
			<div id="div1" class="tab-pane fade in active" style="margin-top: 10px;">
				<div id="page-content">
				    <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
				        <span class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;" data-bind="click:create"><@spring.message "hap.new"/></span>
				        <span class="btn btn-success k-grid-save-changes" data-bind="click:save" style="float:left;margin-right:5px;"><@spring.message "hap.save"/></span>
				        <!-- 
				        <span  data-bind="click:remove" class="btn btn-danger" style="float:left;"><@spring.message "hap.delete"/></span>
				         -->
				    </div>
				    <script>kendo.bind($('#toolbar-btn'), viewModel);</script>
				    <div id="queryPanel" class="pull-right" style="margin-right:5px;padding-bottom:10px;">
				    	<div class="k-query-simple" id="query-form">
				            <input  id="enableFlagComboBox" placeholder="<@spring.message 'samplescheme.enableflag'/>" style="width:150px;" data-bind="value:model.enableFlag" >
				        </div>
				        <script>kendo.bind($('#query-form'), viewModel);</script>
				        <div class="k-query-detail" id="query-form2">
				            <div class="rows">
				                <input id="samplePlanTypeComboBox"  placeholder="<@spring.message 'samplescheme.sampleplantype'/>"
				                       style="width:150px;" data-bind="value:model.samplePlanType">
				                
				                <input id="sampleSizeCodeLetterComboBox" placeholder="<@spring.message 'samplescheme.samplesizecodeletter'/>"
				                       style="width:150px;" data-bind="value:model.sampleSizeCodeLetter">
				                <input id="acceptanceQualityLimitComboBox" placeholder="<@spring.message 'samplescheme.acceptancequalitylimit'/>"
				                       style="width:150px;" data-bind="value:model.acceptanceQualityLimit">
				            </div>
				        </div>
				        <script>kendo.bind($('#query-form2'), viewModel);</script>
				    </div>
				    <div style="clear:both">
				        <div id="grid"></div>
				    </div>
				</div>
			</div>
			<div id="div2" class="tab-pane fade" style="margin-top: 10px;">
				<div id="page-contentb">
				    <div class="pull-left" id="toolbar-btnbb" style="padding-bottom:10px;">
				        <span class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;" data-bind="click:create"><@spring.message "hap.new"/></span>
				        <span class="btn btn-success k-grid-save-changes" data-bind="click:save" style="float:left;margin-right:5px;"><@spring.message "hap.save"/></span>
				        <!-- 
				        <span  data-bind="click:remove" class="btn btn-danger" style="float:left;"><@spring.message "hap.delete"/></span>
				         -->
				    </div>
				    <script>kendo.bind($('#toolbar-btnb'), viewModelb);</script>
				    <div id="queryPanelb" class="pull-right" style="margin-right:5px;padding-bottom:10px;">
				    	<div class="k-query-simple" id="query-formb">
				            <input  id="enableFlagComboBoxb" placeholder="<@spring.message 'samplescheme.enableflag'/>" style="width:150px;" data-bind="value:model.enableFlag" >
				        </div>
				        <script>kendo.bind($('#query-formb'), viewModelb);</script>
				        <div class="k-query-detail" id="query-form2b">
				            <div class="rows">
				                <input id="samplePlanTypeComboBoxb"  placeholder="<@spring.message 'samplescheme.sampleplantype'/>"
				                       style="width:150px;" data-bind="value:model.samplePlanType">
				                
				                <input id="sampleSizeCodeLetterComboBoxb" placeholder="<@spring.message 'samplescheme.samplesizecodeletter'/>"
				                       style="width:150px;" data-bind="value:model.sampleSizeCodeLetter">
				                <input id="acceptanceQualityLimitComboBoxb" placeholder="<@spring.message 'samplescheme.acceptancequalitylimit'/>"
				                       style="width:150px;" data-bind="value:model.acceptanceQualityLimit">
				            </div>
				        </div>
				        <script>kendo.bind($('#query-form2b'), viewModelb);</script>
				    </div>
				    <div style="clear:both">
				        <div id="gridb"></div>
				    </div>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript">
	var BaseUrl = _basePath;
	$("#enableFlagComboBox").kendoComboBox({
	    dataTextField: "meaning",
	    dataValueField: "value",
	    valuePrimitive: true,
	    dataSource: yesNo
	});
	$("#samplePlanTypeComboBox").kendoComboBox({
	    dataTextField: "meaning",
	    dataValueField: "value",
	    valuePrimitive: true,
	    dataSource: hqmIqcSamplePlanType
	});
	
	$("#sampleSizeCodeLetterComboBox").kendoComboBox({
	    dataTextField: "meaning",
	    dataValueField: "value",
	    valuePrimitive: true,
	    dataSource: hqmIqcSampleSizeCodeLevel
	});
	$("#acceptanceQualityLimitComboBox").kendoComboBox({
	    dataTextField: "meaning",
	    dataValueField: "value",
	    valuePrimitive: true,
	    dataSource: hqmIqcAql
	});
	$('#queryPanel').kendoQueryPanel({
	    queryFunction: function () {
	    	console.log("query");
	    	console.log(viewModel.model);
	        viewModel.query();
	        $("#grid").data("kendoGrid").dataSource.page(1);
	    },
	    resetFunction: function () {
	        viewModel.reset();
	    }
	});
    
    dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: BaseUrl + "/hqm/sample/scheme/query",
                type: "POST",
                dataType: "json"
            },
            update: {
                url: BaseUrl + "/hqm/sample/scheme/submit",
                type: "POST",
                contentType: "application/json"
            },
            destroy: {
                url: BaseUrl + "/hqm/sample/scheme/remove",
                type: "POST",
                contentType: "application/json"
            },
            create: {
                url: BaseUrl + "/hqm/sample/scheme/submit",
                type: "POST",
                contentType: "application/json"
            },
            parameterMap: function (options, type) {
                if (type !== "read" && options.models) {
                    var datas = Hap.prepareSubmitParameter(options, type);
                    $.each(datas,function(i,o){
                    	o.sampleProcedureType="0";
                    });
                    return kendo.stringify(datas);
                } else if (type === "read") {
                	viewModelb.model.sampleProcedureType="0";
                    return Hap.prepareQueryParameter(viewModelb.model.toJSON(), options)
                }
            }
        },
        batch: true,
        serverPaging: true,
        pageSize: 10,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "schemeId",
                fields: {
                	sampleSize: {
                        type: 'number',
                        format: "{0:0}",
                        defaultValue: 0,
                        validation: {
                            min: 0,
                            required: true,
                            NoValidation:function(input){
                                if (input.is("[name='sampleSize']") && input.val() != "") {
                                   if((input.val())%1 !== 0){
                                     input.attr("data-NoValidation-msg", "请输入整数");
                                        return false;
                                    }
                                }
                                return true;
                           },
                            required: {message: "抽样数量为必输项"},
                        },
                    },
                    sampleProcedureType:{
                    	defaultValue: "0",
                    },
                    acValue: {
                        type: 'number',
                        format: "{0:0}",
                        defaultValue: 0,
                        validation: {
                        	min: 0,
                            required: true,
                            required: {message: "AC值为必输项"},
                        },
                    },
                    reValue: {
                        type: 'number',
                        format: "{0:0}",
                        defaultValue: 0,
                        validation: {
                            min: 0,
                            required: true,
                            required: {message: "RE值为必输项"},
                        },
                    },
                },
                editable:function(column){
                	if(column=='sampleProcedureType'){
                		return false;
                	}
                	if(column=='samplePlanType'||column=='sampleSizeCodeLetter'){
                		if(ifNotNull(this.id) || !this.isNew()){
                			return false;
                		}
                		return true;
                	}
                	return true;
                }
            }
        }
    });

    $("#grid").kendoGrid({
        dataSource: dataSource,
        resizable: true,
        scrollable: true,
        navigatable: false,
        selectable: 'multiple, rowbox',
        dataBound: function () {
            if (parent.autoResizeIframe) {
                parent.autoResizeIframe('${RequestParameters.functionCode!}')
            }
        },
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        columns: [
           
                    {
                field: "samplePlanType",
                title: '<@spring.message "samplescheme.sampleplantype"/>',
                width: 120,
                template: function (dataItem) {
                    var v = dataItem.samplePlanType ? dataItem.samplePlanType : "";
                    $.each(hqmIqcSamplePlanType, function (i, n) {
                        if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
                            v = n.meaning;
                            return v;
                        }
                    });
                    return v;
                },
                editor: function (container, options) {
                    $('<input name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            dataTextField: "meaning",
                            dataValueField: "value",
                            valuePrimitive: true,
                            dataSource: hqmIqcSamplePlanType
                        });
                }
            },
                    {
                field: "sampleProcedureType",
                title: '<@spring.message "samplescheme.sampleproceduretype"/>',
                width: 120,
                template: function (dataItem) {
                    var v = dataItem.sampleProcedureType ? dataItem.sampleProcedureType : "";
                    $.each(hqmIqcSampleStandardType, function (i, n) {
                        if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
                            v = n.meaning;
                            return v;
                        }
                    });
                    return v;
                },
                editor: function (container, options) {
                    $('<input name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            dataTextField: "meaning",
                            dataValueField: "value",
                            valuePrimitive: true,
                            dataSource: sampleStandardType
                        });
                }
            },
                    {
                field: "sampleSizeCodeLetter",
                title: '<@spring.message "samplescheme.samplesizecodeletter"/>',
                width: 120,
                template: function (dataItem) {
                    var v = dataItem.sampleSizeCodeLetter ? dataItem.sampleSizeCodeLetter : "";
                    $.each(hqmIqcSampleSizeCodeLevel, function (i, n) {
                        if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
                            v = n.meaning;
                            return v;
                        }
                    });
                    return v;
                },
                editor: function (container, options) {
                    $('<input name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            dataTextField: "meaning",
                            dataValueField: "value",
                            valuePrimitive: true,
                            dataSource: getDataSource('/hqm/sample/size/code/letter/codelevel',options.model.sampleProcedureType)
                        });
                }
            },
                    {
                field: "acceptanceQualityLimit",
                title: '<@spring.message "samplescheme.acceptancequalitylimit"/>',//
                width: 120,
                template: function (dataItem) {
                    var v = dataItem.acceptanceQualityLimit ? dataItem.acceptanceQualityLimit : "";
                    $.each(hqmIqcAql, function (i, n) {
                        if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
                            v = n.meaning;
                            return v;
                        }
                    });
                    return v;
                },
                editor: function (container, options) {
                    $('<input name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            dataTextField: "meaning",
                            dataValueField: "value",
                            valuePrimitive: true,
                            dataSource: hqmIqcAql
                        });
                }
            },
                    {
                field: "sampleSize",
                title: '<@spring.message "samplescheme.samplesize"/>',
                width: 80
            },
                    {
                field: "acValue",
                title: '<@spring.message "samplescheme.acvalue"/>',
                width: 80
            },
                    {
                field: "reValue",
                title: '<@spring.message "samplescheme.revalue"/>',
                width: 80
            },
                    {
                field: "enableFlag",
                title: '<@spring.message "samplescheme.enableflag"/>',
                width: 120,
                template: function (dataItem) {
                    var v = dataItem.enableFlag ? dataItem.enableFlag : "";
                    $.each(yesNo, function (i, n) {
                        if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
                            v = n.meaning;
                            return v;
                        }
                    });
                    return v;
                },
                editor: function (container, options) {
                    $('<input name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            dataTextField: "meaning",
                            dataValueField: "value",
                            valuePrimitive: true,
                            dataSource: yesNo
                        });
                }
            },
                    
        ],
        editable: true
    });

</script>
<script type="text/javascript">
	$("#enableFlagComboBoxb").kendoComboBox({
	    dataTextField: "meaning",
	    dataValueField: "value",
	    valuePrimitive: true,
	    dataSource: yesNo
	});
	$("#samplePlanTypeComboBoxb").kendoComboBox({
	    dataTextField: "meaning",
	    dataValueField: "value",
	    valuePrimitive: true,
	    dataSource: hqmIqcSamplePlanType
	});
	
	$("#sampleSizeCodeLetterComboBoxb").kendoComboBox({
	    dataTextField: "meaning",
	    dataValueField: "value",
	    valuePrimitive: true,
	    dataSource: hqmIqcSampleSizeCodeLevel
	});
	$("#acceptanceQualityLimitComboBoxb").kendoComboBox({
	    dataTextField: "meaning",
	    dataValueField: "value",
	    valuePrimitive: true,
	    dataSource: hqmIqcAql
	});
	$('#queryPanelb').kendoQueryPanel({
	    queryFunction: function () {
	        viewModelb.query();
	        $("#gridb").data("kendoGrid").dataSource.fetch();
	    },
	    resetFunction: function () {
	        viewModelb.reset();
	    }
	});
    dataSourceb = new kendo.data.DataSource({
        transport: {
            read: {
                url: BaseUrl + "/hqm/sample/scheme/query",
                type: "POST",
                dataType: "json"
            },
            update: {
                url: BaseUrl + "/hqm/sample/scheme/submit",
                type: "POST",
                contentType: "application/json"
            },
            destroy: {
                url: BaseUrl + "/hqm/sample/scheme/remove",
                type: "POST",
                contentType: "application/json"
            },
            create: {
                url: BaseUrl + "/hqm/sample/scheme/submit",
                type: "POST",
                contentType: "application/json"
            },
            parameterMap: function (options, type) {
                if (type !== "read" && options.models) {
                    var datas = Hap.prepareSubmitParameter(options, type);
                    $.each(datas,function(i,o){
                    	o.sampleProcedureType="1";
                    });
                    return kendo.stringify(datas);
                } else if (type === "read") {
                	viewModelb.model.sampleProcedureType="1";
                    return Hap.prepareQueryParameter(viewModelb.model.toJSON(), options)
                }
            }
        },
        batch: true,
        serverPaging: true,
        pageSize: 10,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "schemeId",
                fields: {
                	sampleSize: {
                        type: 'number',
                        format: "{0:0}",
                        defaultValue: 0,
                        validation: {
                            min: 0,
                            required: true,
                            NoValidation:function(input){
                                if (input.is("[name='sampleSize']") && input.val() != "") {
                                   if((input.val())%1 !== 0){
                                     input.attr("data-NoValidation-msg", "请输入整数");
                                        return false;
                                    }
                                }
                                return true;
                           },
                            required: {message: "抽样数量为必输项"},
                        },
                    },
                    sampleProcedureType:{
                    	defaultValue: "1",
                    },
                    acValue: {
                        type: 'number',
                        format: "{0:0}",
                        defaultValue: 0,
                        validation: {
                        	min: 0,
                            required: true,
                            required: {message: "AC值为必输项"},
                        },
                    },
                    reValue: {
                        type: 'number',
                        format: "{0:0}",
                        defaultValue: 0,
                        validation: {
                            min: 0,
                            required: true,
                            required: {message: "RE值为必输项"},
                        },
                    },
                },
                editable:function(column){
                	if(column=='sampleProcedureType'){
                		return false;
                	}
                	if(column=='samplePlanType'||column=='sampleSizeCodeLetter'){
                		if(ifNotNull(this.id) || !this.isNew()){
                			return false;
                		}
                		return true;
                	}
                	return true;
                }
            }
        }
    });

    $("#gridb").kendoGrid({
        dataSource: dataSourceb,
        resizable: true,
        scrollable: true,
        navigatable: false,
        selectable: 'multiple, rowbox',
        dataBound: function () {
            if (parent.autoResizeIframe) {
                parent.autoResizeIframe('${RequestParameters.functionCode!}')
            }
        },
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        columns: [
           
                    {
                field: "sampleProcedureType",
                title: '<@spring.message "samplescheme.sampleproceduretype"/>',
                width: 120,
                template: function (dataItem) {
                    var v = dataItem.sampleProcedureType ? dataItem.sampleProcedureType : "";
                    $.each(hqmIqcSampleStandardType, function (i, n) {
                        if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
                            v = n.meaning;
                            return v;
                        }
                    });
                    return v;
                },
                editor: function (container, options) {
                    $('<input name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            dataTextField: "meaning",
                            dataValueField: "value",
                            valuePrimitive: true,
                            dataSource: sampleStandardType
                        });
                }
            },
                    {
                field: "acceptanceQualityLimit",
                title: '<@spring.message "samplescheme.acceptancequalitylimit"/>',//
                width: 120,
                template: function (dataItem) {
                    var v = dataItem.acceptanceQualityLimit ? dataItem.acceptanceQualityLimit : "";
                    $.each(hqmIqcAql, function (i, n) {
                        if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
                            v = n.meaning;
                            return v;
                        }
                    });
                    return v;
                },
                editor: function (container, options) {
                    $('<input name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            dataTextField: "meaning",
                            dataValueField: "value",
                            valuePrimitive: true,
                            dataSource: hqmIqcAql
                        });
                }
            },
                    {
                field: "sampleSize",
                title: '<@spring.message "samplescheme.samplesize"/>',
                width: 80
            },
                    {
                field: "enableFlag",
                title: '<@spring.message "samplescheme.enableflag"/>',
                width: 120,
                template: function (dataItem) {
                    var v = dataItem.enableFlag ? dataItem.enableFlag : "";
                    $.each(yesNo, function (i, n) {
                        if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
                            v = n.meaning;
                            return v;
                        }
                    });
                    return v;
                },
                editor: function (container, options) {
                    $('<input name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            dataTextField: "meaning",
                            dataValueField: "value",
                            valuePrimitive: true,
                            dataSource: yesNo
                        });
                }
            },
                    
        ],
        editable: true
    });

</script>
</body>
</html>