<#include "../include/header.html">
<script type="text/javascript">
    var viewModel = Hap.createGridViewModel("#grid");
    var controlPlanId = "${RequestParameters.controlPlanId!}";
    viewModel.model.set('controlPlanId',controlPlanId);
    
    viewModel.save1 = function() {
		var selectedName = '';
		var selectedid = '';
		var data = $("#grid").data("kendoGrid")._data;
		for(var i=0;i<data.length;i++){
			if(!data[i].dirty){
				selectedid = selectedid+ "," + data[i].employeeId;
				selectedName = selectedName+ "," + data[i].employeeName;
			}
		}
		viewModel.model.selectedName=selectedName.substr(1,selectedName.length-1);
		viewModel.model.selectedid=selectedid.substr(1,selectedid.length-1);
		window.parent.loadData(controlPlanId, viewModel.model.selectedid,viewModel.model.selectedName);
		window.parent.$("#staffWindow").data("kendoWindow").close();
	}
</script>
<body>
<div id="page-content">
    <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
        <span class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;" data-bind="click:create"><@spring.message "hap.new"/></span>
        <span class="btn btn-success k-grid-save-changes" data-bind="click:save" style="float:left;margin-right:5px;"><@spring.message "hap.save"/></span> <!--data-bind="click:save"   -->
        <span  data-bind="click:remove" class="btn btn-danger" style="float:left;"><@spring.message "hap.delete"/></span>
        <span class="btn btn-success k-grid-save-changes" data-bind="click:save1 " style="float: right; margin-left: 5px;"><@spring.message "fmea.confirm.selection"/></span>
    </div>
    <script>kendo.bind($('#toolbar-btn'), viewModel);</script>
    <!-- <div id="queryPanel" class="pull-right" id="query-form" style="padding-bottom:10px;">
    	<div class="k-query-simple" id="query-form">
    	   <input type="text" data-role="maskedtextbox" style="float:left;width:150px;margin-right:5px;" placeholder='姓名' data-bind="value:model.employeeName" class="k-textbox">
        </div>
        <script>kendo.bind($('#query-form'), viewModel);</script>
        <div class="k-query-detail" id="query-form2">
            <div class="rows" style="margin-top:5px">
            <input type="text" data-role="maskedtextbox" style="float:left;width:150px;margin-right:5px;" placeholder='<@spring.message "ControlPlanStaff.employeeName"/>' data-bind="value:model.employeeName" class="k-textbox">
            </div>
        </div>
        <script>kendo.bind($('#query-form2'), viewModel);</script>
        <div style="clear:both"></div>
    </div> -->
    <script>
    kendo.bind($('#query-form'), viewModel);
    $('#queryPanel').kendoQueryPanel({
        queryFunction: function () {
            viewModel.query();
        },
        resetFunction: function () {
            viewModel.reset();
        }
    });
    </script>
    <div style="clear:both">
        <div id="grid"></div>
    </div>
</div>

<script type="text/javascript">
    Hap.initEnterQuery('#query-form', viewModel.query);
    var BaseUrl = _basePath;
    dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: BaseUrl + "/hqm/control/plan/staff/query",
                type: "POST",
                dataType: "json"
            },
            update: {
                url: BaseUrl + "/hqm/control/plan/staff/submit",
                type: "POST",
                contentType: "application/json"
            },
            destroy: {
                url: BaseUrl + "/hqm/control/plan/staff/remove",
                type: "POST",
                contentType: "application/json"
            },
            create: {
                url: BaseUrl + "/hqm/control/plan/staff/submit",
                type: "POST",
                contentType: "application/json"
            },
            parameterMap: function (options, type) {
                if (type !== "read" && options.models) {
                    var datas = Hap.prepareSubmitParameter(options, type)
                    for (var i = 0; i < datas.length; i++) {
                    	datas[i].controlPlanId=controlPlanId;
                    }
                    return kendo.stringify(datas);
                } else if (type === "read") {
                    return Hap.prepareQueryParameter(viewModel.model.toJSON(), options)
                }
            }
        },
        batch: true,
        serverPaging: true,
        pageSize: 20,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "staffId",
                fields: {}
            }
        }
    });

    $("#grid").kendoGrid({
        dataSource: dataSource,
        resizable: true,
        scrollable: true,
        navigatable: false,
        selectable: 'multiple, rowbox',
        dataBound: function () {
            if (parent.autoResizeIframe) {
                parent.autoResizeIframe('${RequestParameters.functionCode!}')
            }
        },
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        columns: [
            {
                field: "staffId",
                title: '<@spring.message "controlplanstaff.staffid"/>',
                width: 120,
                hidden:true
            },
            {
                field: "controlPlanId",
                title: '控制id',
                width: 120,
                hidden:true
            },
            { field: "employeeId",
                title: '<@spring.message "fmea.employee.id"/>',
                width: 120 ,
                template: function (dataItem) {
                    return dataItem['employeeId'] || ''
                },
                editor: function (container, options) {
                    $('<input name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoLov($.extend(<@lov "LOV_EMPLOYEE"/>, {
                        query: function (e) {
                            e.param['enabledFlag'] = 'Y'
                        },
                        select:function(e){
                            options.model.employeeNameEdit = true;
                            options.model.set('employeeCode', e.item.employeeCode);
                            options.model.set('employeeName', e.item.name);
                        },
                        change:function(e){
                            var employeeCode = options.model.get('employeeCode');
                            if(null == employeeCode || "" == employeeCode){
                                options.model.employeeNameEdit = true;
                                options.model.set('employeeName', "");
                            }
                        },
                        textField: 'employeeCode',
                        model: options.model
                    }));
                },
                sortable: false
            },
                    {
                field: "employeeName",
                title: '<@spring.message "fmea.employee.name"/>',
                width: 120
            },
                    
        ],
        editable: true
    });
    
    /* function save(){
    	var strs= new Array();
    	var data = $("#grid").data("kendoGrid")._data;
    	for (var i = 0; i < data.length; i++) {
    		var obj = {
      	            'employeeId':data[i].employeeId,
      	            'employeeName':data[i].employeeName,
      	            'controlPlanId':controlPlanId,
      	            '__status':'insert'
      	        };
    		strs.push(obj);
		}
    	var data1= kendo.stringify(strs);
		$.ajax({
	            type: "POST",
	            url: BaseUrl + "/hqm/control/plan/staff/submit",
	            contentType: "application/json; charset=utf-8", //此处不能省略
	            data:data1,//json序列化
	            dataType: "json",
	            success:function(data){
	                if(data.success){
	                    Hap.showToast({
	                        type:'success',  //1.success 2.error
	                        message: '保存成功',
	                        hideDuration:2000,
	                        "positionClass": "toast-bottom-right",
	                    });
	                    //grid.dataSource.read();
	                }else{
	                    alert(data.message);
	                }
	            },
	            error:function(data){
	                alert(JSON.stringify(data));
	            }
	        });
    } */
    
                            
</script>
</body>
</html>