<#include "../include/header.html"> <!-- 
tianmin.wang:2019-08-05
 --> <script src="${base.contextPath}/common/code?yesNo=SYS.YES_NO"></script>
<script
	src="${base.contextPath}/common/code?hqmIqcItemCategory=HQM_IQC_ITEM_CATEGORY"></script>
<script
	src="${base.contextPath}/common/code?hqmIqcSampleStandardType=HQM_IQC_SAMPLE_STANDARD_TYPE"></script>
<script
	src="${base.contextPath}/common/code?hqmIqcIinspectionLevels=HQM_IQC_INSPECTION_LEVELS"></script>
<script
	src="${base.contextPath}/common/code?hqmIqcQualityGrade=HQM_IQC_QUALITY_GRADE"></script>
<script src="${base.contextPath}/common/code?hqmIqcAql=HQM_IQC_AQL"></script>
<script
	src="${base.contextPath}/common/code?hqmIqcSourceType=HQM_IQC_SOURCE_TYPE"></script>
<script
	src="${base.contextPath}/common/code?hqmIqcAttributeCategory=HQM_IQC_ATTRIBUTE_CATEGORY"></script>
<script
	src="${base.contextPath}/common/code?hqmIqcStandardType=HQM_IQC_STANDARD_TYPE"></script>
<script
	src="${base.contextPath}/common/code?hqmIqcFrequencyType=HQM_IQC_FREQUENCY_TYPE"></script>

<script
	src="${base.contextPath}/common/code?HQM_SOURCE_TYPE_TEMP=HQM_SOURCE_TYPE_TEMP"></script>
<script>
	var isRepalceFlag = '0';
	var viewModel = Hap.createGridViewModel("#grid");
	viewModel.save = function() {
		var selected = grid.selectedDataItems();
		if (selected.length == 0) {
			kendo.ui.showErrorDialog({
				message : "未选择同步项"
			});
			return;
		}
		if (isRepalceFlag == "0") {
			kendo.ui.showErrorDialog({
				message : "未选择同步类型"
			});
			return;
		}
		window.parent.getSynchronize(isRepalceFlag, selected[0].headId);
	}
	viewModel.query = function() {
		$("#grid").data("kendoGrid").dataSource.fetch();
	}
</script>
<body>
	<div id="page-content">
		<div class="container">
			<div class="row">
				<div class="pull-left" id="toolbar-btn"
					style="padding-bottom: 10px;">
					<span class="btn btn-primary k-grid-add"
						style="float: left; margin-right: 5px;" data-bind="click:save"><@spring.message
						"hap.save"/></span> <span data-bind="click:reset" class="btn btn-default"
						style="float: left;"><@spring.message "hap.reset"/></span>
				</div>
				<script>
					kendo.bind($('#toolbar-btn'), viewModel);
				</script>
			</div>
			<div class="row" style="margin-bottom:5px;">

				<div class="col-xs-2">
					<span><@spring.message "asliqccontrol.item"/></span>
				</div>
				<div class="col-xs-10">
					<input id="itemCode" style="width: 60%;" data-role="maskedtextbox"
						data-bind="value:model.itemCode" />
					<script>
						kendo.bind($("#itemCode"), viewModel);
					</script>
				</div>

			</div>
			
			<div class="row" style="margin-bottom:5px;">

				<div class="col-xs-2">
					<span><@spring.message "asliqccontrol.itemDescriptions"/></span>
				</div>
				<div class="col-xs-10">
					<input id="itemDescriptions" style="width: 60%;" data-role="maskedtextbox"
						data-bind="value:model.itemDescriptions" />
				</div>
					<script>
						kendo.bind($("#itemDescriptions"), viewModel);
					</script>
			</div>
			
			<div class="row" style="margin-bottom:5px;">
				<div class="col-xs-2">
					<span>来源类型</span>
				</div>
				<div class="col-xs-10">
					<input id="sourceType" style="width: 60%;"
						data-bind="value:model.sourceType" />
						<span id="querySpan" 
						data-bind="click:query" 
						class="btn btn-primary"
						style="float: right;"
						><@spring.message "hap.query"/></span>
					<script>
						kendo.bind($("#sourceType"), viewModel);
						kendo.bind($("#querySpan"), viewModel);
						$("#sourceType").kendoComboBox({
							dataTextField : "meaning",
							dataValueField : "value",
							valuePrimitive : true,
							dataSource : HQM_SOURCE_TYPE_TEMP
						});
					</script>
				</div>

			</div>
			

			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div id="isRepalceFlag" style="margin-top: 5px;"
						data-bind="enabled: isEnabled,value:isRepalceFlag"></div>
					<script>
						kendo.bind("#isRepalceFlag", isRepalceFlag);
						$("#isRepalceFlag").kendoRadio({
							layout : '',//vertical
							readonly : false,
							items : [ {
								label : "保留已有项复制",
								value : "HC"
							}, {
								label : "覆盖式复制",
								value : "RC"
							} ],
							change : function(e) {
								isRepalceFlag = e.values;
							}
						});
					</script>
				</div>
				<div class="col-sm-2"></div>
			</div>
		</div>
	</div>
	<div style="clear: both">
		<div id="grid"></div>
	</div>
	<script>
		var BaseUrl = _basePath;
		dataSource = new kendo.data.DataSource({
			transport : {
				read: {
	                url: BaseUrl + "/hqm/standard/op/item/h/select",
	                type: "POST",
	                dataType: "json"
	            },
	            update: {
	                url: BaseUrl + "/hqm/standard/op/item/h/submit",
	                type: "POST",
	                contentType: "application/json"
	            },
	            destroy: {
	                url: BaseUrl + "/hqm/standard/op/item/h/remove",
	                type: "POST",
	                contentType: "application/json"
	            },
	            create: {
	                url: BaseUrl + "/hqm/standard/op/item/h/submit",
	                type: "POST",
	                contentType: "application/json"
	            },
				parameterMap : function(options, type) {
					if (type !== "read" && options.models) {
						var datas = Hap.prepareSubmitParameter(options, type)
						return kendo.stringify(datas);
					} else if (type === "read") {
						return Hap.prepareQueryParameter(viewModel.model
								.toJSON(), options)
					}
				}
			},
			batch : true,
			serverPaging : true,
			pageSize : 10,
			schema : {
				data : 'rows',
				total : 'total',
				model : {
					id : "kid",
					fields : {

					},
					editable : function(col) {
						return false;
					},
				}
			}
		});

		var grid = $("#grid")
				.kendoGrid(
						{
							dataSource : dataSource,
							resizable : true,
							scrollable : true,
							navigatable : false,
							autoBind : false,
							selectable : 'rowbox',
							dataBound : function() {
								if (parent.autoResizeIframe) {
									parent.autoResizeIframe('${RequestParameters.functionCode!}')
								}
							},
							pageable : {
								pageSizes : [ 5, 10, 20, 50 ],
								refresh : true,
								buttonCount : 5
							},
							columns : [
								{
					                field: "plantCode",
					                title: '<@spring.message "standardopinspectionh.plantid"/>',
					                width: 120,
					                template: function (item) {
					                    return item['plantCode'] || ''
					                },
					            },
					            {
					            	field: "itemCode",
					                title: '<@spring.message "asliqccontrol.item"/>',//
					                width: 120,
					                sortable: false,
					                template: function (item) {
					                    return item['itemCode'] || ''
					               },
					            },
					            {
					            	field: "itemDescriptions",
					                title: '<@spring.message "asliqccontrol.itemDescriptions"/>',//
					                width: 120,
					                editor: function (container, options) {
					                         $('<span data-bind="text:itemDescriptions"></span>').appendTo(container);
					                   }

								},
									
									{
										field : "sourceType",
										title : '<@spring.message "itemcategoryext.sourcetype"/>',//来源类型
										width : 120,
										template : function(dataItem) {
											var v = dataItem.sourceType ? dataItem.sourceType
													: "";
											$.each(HQM_SOURCE_TYPE_TEMP,
															function(i, n) {
																if ((n.value || '')
																		.toLowerCase() == (v || '')
																		.toLowerCase()) {
																	v = n.meaning;
																	return v;
																}
															});
											return v;
										},
									},

							],
							editable : false,
						}).data("kendoGrid");
	</script>
	<script>
		$(function() {

		});
	</script>
</body>
</html>