<#include "../include/header.html">
<script src="${base.contextPath}/common/code?yesNo=SYS.YES_NO"></script> 
<script src="${base.contextPath}/common/code?HQM_PQC_SOURCE_TYPE=HQM_PQC_SOURCE_TYPE"></script>
<script src="${base.contextPath}/common/code?HQM_INSPECTION_TEMPLATE_STATUS=HQM_INSPECTION_TEMPLATE_STATUS"></script>
<script type="text/javascript">
    var viewModel = Hap.createGridViewModel("#grid");
</script>
<script>
        viewModel.create= function(){
		var dialog = $("#childrenWindow").kendoWindow({
			width: 1500,
			height: 700,
            title: '新建',
            visible: false,
            iframe: true,
            modal: true,
            close:function(){
            	$("#grid").data("kendoGrid").dataSource.fetch();
            },
            content: './standard_op_item_detail.html?jumpFlag=NEW'
        }).data("kendoWindow");   
	    dialog.center().open();
	}
      //发布
    	viewModel.operationIssue = function(){
    		var opFlag = true;
    		var data = grid.selectedDataItems();
    		if (data == undefined||data == null ||data.length == 0) {
            	kendo.ui.showWarningDialog({
                    message: '请选择要发布的数据'
                });
            	
               	return;
            }
    		$.each(data, function (i, n) {
                if(n.status == '2'){
                	opFlag = false;
                	kendo.ui.showWarningDialog({
                        message: '请选择未发布的数据'
                    });
                	return;
                }
            });
    		$.each(data, function (i, n) {
                if(n.enableFlag == 'N'){
                	opFlag = false;
                	kendo.ui.showWarningDialog({
                        message: '只能对有效的进行发布'
                    });
                	return;
                }
            });
    		//进行发布请求
    		if(!opFlag)return;
    		$.ajax({
                url: '${base.contextPath}/hqm/standard/op/item/h/issue',
                type: 'POST',
                data: kendo.stringify(data),
                async: false,
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                    	grid.dataSource.fetch();
                    	kendo.ui.showInfoDialog({
                            message: '发布成功'
                        });
                    } else {
                    	kendo.ui.showWarningDialog({
                            message: response.message
                        });
                    }
                }
            });
        }
      
      	//导入 2020年2月28日
    	viewModel.inportFunction = function() {
        	var newModelWindow = $('#excelimport').kendoWindow({
                title: '<@spring.message "hap.import"/>',//导入
                width: 500,
                height: 300,
                modal: true,
                close: function() {
                    $('#grid').data('kendoGrid').dataSource.read();
                } 
            }).data('kendoWindow');
        	newModelWindow.center().open();
        }
      	
    	viewModel.audit = function() { //审核 added by likai 20200304
        	var opFlag = true;
            var data = grid.selectedDataItems();
            if(data.length == 0){
            	return;
            }
            $.each(data, function(i, n) {
                if(n.status != '2'){
                	kendo.ui.showInfoDialog({
                        message: '<@spring.message "error.iqc.template.audit.error1001"/>'
                    });
                	opFlag = false;
                	return false;
                }
            });
            //进行审核请求
            if (!opFlag) return;
            $.ajax({
                url: '${base.contextPath}/hqm/standard/op/item/h/audit',
                type: 'POST',
                data: JSON.stringify(data),
                async: false,
                contentType: "application/json",
                dataType: "json",
                success: function(response) {
                    if (response.success) {
                        grid.dataSource.fetch();
                    } else {
                        kendo.ui.showWarningDialog({
                            message: response.message
                        });
                    }
                }
            });
        }
    	
    	viewModel.commit = function() { //提交 added by likai 20200317
        	var opFlag = true;
            var data = grid.selectedDataItems();
            if(data.length == 0){
            	return;
            }
            $.each(data, function(i, n) {
                if(n.status != '1'){
                	kendo.ui.showInfoDialog({
                        message: '<@spring.message "error.iqc.template.commit.error1001"/>'
                    });
                	opFlag = false;
                	return false;
                }
            });
            //进行提交请求
            if (!opFlag) return;
            $.ajax({
                url: '${base.contextPath}/hqm/standard/op/item/h/commit',
                type: 'POST',
                data: JSON.stringify(data),
                async: false,
                contentType: "application/json",
                dataType: "json",
                success: function(response) {
                    if (response.success) {
                        grid.dataSource.fetch();
                        kendo.ui.showWarningDialog({
                            message: '<@spring.message "audit.processful"/>'
                        });
                    } else {
                        kendo.ui.showWarningDialog({
                            message: response.message
                        });
                    }
                }
            });
        }
</script>
<script>
        function detail(headId){
		    var dialog = $("#detailWindow").kendoWindow({
		    	width: 1500,
				height: 700,
            title: '明细',
            visible: false,
            iframe: true,
            modal: true,
            content: './standard_op_item_detail.html?jumpFlag=DETAIL&&headId='+headId
        }).data("kendoWindow");     
	    dialog.center().open(); 
	}
        function viewHis(relId){
        	var dialog = $("#hisWindow").kendoWindow({
        		width: 1500,
        		height: 700,
                title: '历史',
                visible: false,
                iframe: true,
                modal: true,
                content: '../hcm_object_events/standard_op_item_oe.html?businessKeyId=' + relId
            }).data("kendoWindow");
            dialog.center().open();
        }
</script>
<body>
<div id="hisWindow"></div>
<div id="childrenWindow"></div>
<div id="detailWindow"></div>
<div id="page-content">
      <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
       <!--  <span class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;" data-bind="click:create"><@spring.message "hap.new"/></span>
         <span  data-bind="click:remove" class="btn btn-danger" style="float:left;"><@spring.message "hap.delete"/></span> -->
         
        <span type="button" class="btn btn-primary"  style="float:left;margin-right:5px;padding-left:5px" data-bind="click:create"><i class="fa fa-plus-square" style="margin-right:3px;"></i><@spring.message "hap.new"/></span> 
<!--         <span class="btn btn-success k-grid-save-changes" style="float:left;margin-right:5px;"  data-bind="click:save"><i class="fa fa-save" style="margin-right:3px;"></i><@spring.message "hap.save"/></span>      
 -->    <span class="btn btn-danger" style="float:left;margin-right:5px;" data-bind="click:remove"><i class="fa fa-trash-o"></i><@spring.message "hap.delete"/></span>
    	<span class="btn btn-success fa fa-share" data-bind="click:operationIssue" style="float:left;margin-right:5px;">&nbsp;<@spring.message "hqm.qc.publish"/></span>
    	<span id="inportexcel" class="btn btn-warning " data-bind="click:inportFunction" style="float:left;margin-right:5px;">
                	<i class="fa fa-file-excel-o"></i><@spring.message "hap.inportexcel"/></span>
         <span id="commit-btn" class="btn btn-warning" data-bind="click:commit" style="float:left;margin-right:5px;">
         			<i class="fa fa-hand-o-right"></i><@spring.message "hap.commit"/></span>
         <span id="audit" class="btn btn-primary " data-bind="click:audit" style="float:left;margin-right:5px;">
                	<i class="fa fa-check"></i><@spring.message "hap.audit"/></span>
    </div>
    <script>kendo.bind($('#toolbar-btn'), viewModel);</script>
    <div id="queryPanel" class="pull-right" style="margin-right:5px;padding-bottom:10px;">
        <div class="k-query-simple" id="query-form">
            <input  id="plantLov"  placeholder="<@spring.message 'nonconformingOrder.plantid'/>" style="margin-right:5px;"  data-bind="value:model.plantId"> 
           <input  id="prodlineLov"  placeholder="<@spring.message 'standardopinspectionh.prodlineid'/>" style="margin-right:5px;" data-bind="value:model.prodLineId"> 
           <input  id="itemLov"  placeholder="<@spring.message 'hqm.qc.item'/>" style="margin-right:5px;"  data-bind="value:model.itemId"> 
           <input  id="standardOpLov"  placeholder="<@spring.message 'hqm.qc.process'/>" data-bind="value:model.standardOpId"> 
        </div>
        <script>kendo.bind($('#query-form'), viewModel);
        $("#plantLov").kendoLov($.extend
        	    (<@lov"LOV_PLANT"/>, {
        	        textField: 'plantCode',
        	        valueField:'plantId',
        	    }));
        $("#prodlineLov").kendoLov($.extend
        	    (<@lov"LOV_PROD_LINE"/>, {
        	        textField: 'prodLineCode',
        	        valueField:'prodLineId',
        	    }));
        $("#itemLov").kendoLov($.extend
        	    (<@lov"LOV_ITEM"/>, {
        	        textField: 'itemCode',
        	        valueField:'itemId',
        	        query: function(e){
        	        	e.param['plantId'] = viewModel.model.plantId;
        	        }
        	}));
        $("#standardOpLov").kendoLov($.extend
        	    (<@lov"LOV_STANDARD"/>, {
        	        textField: 'standardOpCode',
        	        valueField:'standardOpId',	 
        	        select:function(e){	
        	        }
        	    }));
        </script>
    </div>
    <div style="clear:both">
        <div id="grid"></div>
    </div>
</div>

<div id="excelimport" style="display:none">
	<form id="mainform" class="form-horizontal">
	<div class="row" style="width:95%">
		<div class="form-group">
			<label class="col-sm-3 control-label"></label>
			<div class="col-sm-7">
			<div class="demo-section k-content">
				<input name="files" id="files1" type="file" accept=".xlsx" />
			</div>

			<script>
				$(document).ready(function() {
					$("#files1").kendoUpload({
						async: {
                        saveUrl: "${base.contextPath}/hqm/standard/op/item/h/excelimport?${_csrf.parameterName}=${_csrf.token}",
						autoUpload: true },
						upload : function(e){},
                        success : function(e){
                        	var response = e.response;
                        	if(response.success){
                        		console.log(e);
                        		kendo.ui.showInfoDialog({ message: response.message }).done(function (e) {
                                        if(e.button=='OK'){
                                        	window.$("#excelimport").data("kendoWindow").close();
                                        	$("#grid").data('kendoGrid').dataSource.read();
                                        }});
                        	}else{
                        		kendo.ui.showErrorDialog({ message: response.message }).done(function (e) {
                                    	window.$("#excelimport").data("kendoWindow").close();
                                    	self.location.reload();
                                    	});
                        	}
                        },
						showFileList:true
					});
				});
				</script>
			</div>
		</div>
	</div>
	</form>
</div>

<script type="text/javascript">
	$('#queryPanel').kendoQueryPanel({
	    queryFunction: function () {
	        viewModel.query();
	    },
	    resetFunction: function () {
	        viewModel.reset();
	    }
	});
    Hap.initEnterQuery('#query-form', viewModel.query);
    var BaseUrl = _basePath;
    dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: BaseUrl + "/hqm/standard/op/item/h/select",
                type: "POST",
                dataType: "json"
            },
            update: {
                url: BaseUrl + "/hqm/standard/op/item/h/submit",
                type: "POST",
                contentType: "application/json"
            },
            destroy: {
                url: BaseUrl + "/hqm/standard/op/item/h/remove",
                type: "POST",
                contentType: "application/json"
            },
            create: {
                url: BaseUrl + "/hqm/standard/op/item/h/submit",
                type: "POST",
                contentType: "application/json"
            },
            parameterMap: function (options, type) {
                if (type !== "read" && options.models) {
                    var datas = Hap.prepareSubmitParameter(options, type)
                    return kendo.stringify(datas);
                } else if (type === "read") {
                    return Hap.prepareQueryParameter(viewModel.model.toJSON(), options)
                }
            }
        },
        batch: true,
        serverPaging: true,
        pageSize: 20,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "headId",
                fields: {},
                editable: function(col)
                {
                	if(col=="enableFlag")
                		{
                		return "Y"
                		}
                	else{
                		return "N"
                		}
                }
            }
        }
    });

   var grid = $("#grid").kendoGrid({
        dataSource: dataSource,
        resizable: true,
        scrollable: true,
        sortable:true,
        navigatable: false,
        selectable: 'multiple, rowbox',
        dataBound: function () {
            if (parent.autoResizeIframe) {
                parent.autoResizeIframe('${RequestParameters.functionCode!}')
            }
        },
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        columns: [
        	{
                field: "plantCode",
                title: '<@spring.message "standardopinspectionh.plantid"/>',
                width: 120,
                template: function (Item) {
                    return Item['plantCode'] || ''
                },
                editor: function (container, options) {
                    $('<input name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoLov($.extend(<@lov "LOV_STAN_OP_INS_H"/>, {
                        query: function (e) {
                            e.param['enableFlag'] = 'Y'
                        },
                        textField: 'plantCode',
                        model: options.model,
                        change:function() {
                            var v = this.value();
                            if (v == undefined  || v == ""){
                                options.model.set('plantCode', "");
                                options.model.set('plantId', "");
                            }else{
                                options.model.plantCode =  this._dataItem.plantCode;
                                options.model.plantId =  this._dataItem.plantId;
                                options.model.prodLineCode = this._dataItem.prodLineCode;
                                options.model.standardOpCode = this._dataItem.standardOpCode;
                                options.model.standardOpDes = this._dataItem.standardOpDes;
                                options.model.workstationCode = this._dataItem.workstationCode; 
                                options.model.set('prodLineCode',this._dataItem.standardOpCode);
                                options.model.set('standardOpCode',this._dataItem.standardOpCode);
                                options.model.set('standardOpDes',this._dataItem.standardOpDes);
                                options.model.set('workstationCode',this._dataItem.workstationCode);             
                            }
                        }
                    }));
                }
            },
                  {
                field: "prodLineCode",
                title: '<@spring.message "standardopinspectionh.prodlineid"/>',
                width: 120,
                sortable: false,
                editor: function (container, options) {
                    $('<span data-bind="text:prodLineCode"></span>').appendTo(container);
                }
            },
            
            {
                field: "standardOpCode",
                title: '<@spring.message "standardopinspectionh.standardopid"/>',
                width: 120,
                sortable: false,
                editor: function (container, options) {
                    $('<span data-bind="text:standardOpCode"></span>').appendTo(container);
                }
            },
            {
                field: "standardOpDes",
                title: '<@spring.message "standardopinspectionh.standardopdes"/>',
                width: 120,
                sortable: false,
                editor: function (container, options) {
                    $('<span data-bind="text:standardOpDes"></span>').appendTo(container);
                }
            },
            {
                field: "workstationCode",
                title: '<@spring.message "standardopinspectionh.workstationid"/>',
                width: 120,
                sortable: false,
                editor: function (container, options) {
                    $('<span data-bind="text:workstationCode"></span>').appendTo(container);
                }
            },
            {
                field: "status",
                title: '<@spring.message "standardopinspectionh.status"/>',
                width: 120,
                attributes:{style:"text-align:center"},
                    headerAttributes:{style:"text-align:center"},
                    template: function (dataItem) {
                        var v = dataItem.status ? dataItem.status : "";
                        $.each(HQM_INSPECTION_TEMPLATE_STATUS, function (i, n) {
                            if ((n.value) == (v)) {
                                v = n.meaning;
                                return v;
                            }
                        });
                        return v;
                    },
                    editor: function (container, options) {
                        $('<input name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoDropDownList({
                                dataTextField: "meaning",
                                dataValueField: "value",
                                valuePrimitive: true,
                                dataSource: HQM_INSPECTION_TEMPLATE_STATUS
                            });
                    }
                }, 
            {
                field: "sourceType",
                title: '<@spring.message "hqm.qc.sourcetype"/>',
                width: 120,
                attributes:{style:"text-align:center"},
                    headerAttributes:{style:"text-align:center"},
                    template: function (dataItem) {
                        var v = dataItem.sourceType ? dataItem.sourceType : "";
                        $.each(HQM_PQC_SOURCE_TYPE, function (i, n) {
                            if ((n.value) == (v)) {
                                v = n.meaning;
                                return v;
                            }
                        })
                        return v;
                    },
                    editor: function (container, options) {
                        $('<input name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoDropDownList({
                                dataTextField: "meaning",
                                dataValueField: "value",
                                valuePrimitive: true,
                                dataSource: HQM_PQC_SOURCE_TYPE
                            });
                    }
                }, 
            {
                field: "itemCode",
                title: '<@spring.message "asliqccontrol.item"/>',//
                width: 120,
                sortable: false,
                template: function (Item) {
                    return Item['itemCode'] || ''
               },
                editor: function (container, options) {
                    if(options.model.plantId==''||options.model.plantId==undefined||options.model.plantId==null){
                        $('<span><@spring.message "standardopinspectionh.plantid"/> is needed</span>').appendTo(container);
                        return;
                    }
                    $('<input required name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoLov($.extend(<@lov "LOV_ITEM"/> ,{
                        query: function (e) {
                            e.param['enableFlag'] = 'Y'
                            e.param['plantId']= options.model.plantId;
                        },
                        textField: 'itemCode',
                        model: options.model,
                        select:function(e) {
                            var v = this.value();
                            if (v == undefined  || v == ""){

                            }else{
                                options.model.itemCode = e.item.itemCode;
                                options.model.itemId = e.item.itemId;
                                options.model.set('itemDescriptions',e.item.itemDescriptions);
                            }
                        }
                    }));
                }
            },
                    {
                field: "itemDescriptions",
                title: '<@spring.message "asliqccontrol.itemDescriptions"/>',//
                width: 180,
                sortable: false,
                        editor: function (container, options) {
                            $('<span data-bind="text:itemDescriptions"></span>').appendTo(container);
                        }
            },                 
                    {
                field: "version",
                title: '<@spring.message "standardopinspectionh.version"/>',
                width: 120
            },
                    {
                field: "enableFlag",
                title: '<@spring.message "standardopinspectionh.enableflag"/>',
                width: 120,
                attributes:{style:"text-align:center"},
                    headerAttributes:{style:"text-align:center"},
                    template: function (dataItem) {
                        var v = dataItem.enableFlag ? dataItem.enableFlag : "";
                        $.each(yesNo, function (i, n) {
                            if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
                                v = n.meaning;
                                return v;
                            }
                        })
                        return v;
                    },
                    editor: function (container, options) {
                        $('<input name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoDropDownList({
                                dataTextField: "meaning",
                                dataValueField: "value",
                                valuePrimitive: true,
                                dataSource: yesNo
                            });
                    }
                },
                {
                    title:'<@spring.message "standardopinspectionh.detail"/>',
                    width : 90,
                    headerAttributes: {
                        style  : "text-align: center"
                    },
                    attributes: {style: "text-align:center"},
                    template : function (rowdata) {
                    	return '<a href="#"style="color:#0099FF;"  onclick="detail(\''+rowdata.headId+'\')"><@spring.message "hap.detail"/></a>'                    
                    },
                    sortable: false
                },
                {
                    title: '<@spring.message "hap.operate"/>',//操作
                    width: 80,
                    template: function(item){
                    	var str = '<a style="color: blue;" href="javascript:void(0);" onclick="viewHis('+ item.headId +')"><@spring.message "hap.his"/></a>';
                    	return str;
                    }
                    
                }
        ],
        editable: false
    }).data("kendoGrid");

</script>
</body>
</html>