<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.npi.npi_technology.mapper.EbomMainMapper">
    <resultMap id="BaseResultMap" type="com.hand.npi.npi_technology.dto.EbomMain">
        <result column="SKU_ID" property="skuId" jdbcType="DECIMAL" />
        <result column="SKU_CODE" property="skuCode" jdbcType="VARCHAR" />
        <result column="PLANT_ID" property="plantId" jdbcType="VARCHAR" />
        <result column="ITEM_ID" property="itemId" jdbcType="VARCHAR" />
        <result column="USAGE" property="usage" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="BASE_QTY" property="baseQty" jdbcType="DECIMAL" />
        <result column="EFFECTIVE_DATE" property="effectiveDate" jdbcType="DATE" />
        <result column="ITEM_VERSION" property="itemVersion" jdbcType="VARCHAR" />
        <result column="CHANGE_NUMBER" property="changeNumber" jdbcType="VARCHAR" />
    </resultMap>

	<select id="queryNewEBomVersion" resultMap="BaseResultMap">
		SELECT n.* from NPI_EBOM_MAIN n
          where n.ITEM_ID = #{itemId} and n.IS_LATEST_VERSION = 'Y'
	</select>

</mapper>