<#include "../include/header.html"> <!-- 
tianmin.wang:2019-07-18
 --> <script src="${base.contextPath}/common/code?yesNo=SYS.YES_NO"></script>
<script
	src="${base.contextPath}/common/code?hqmIqcItemCategory=HQM_IQC_ITEM_CATEGORY"></script>
<script
	src="${base.contextPath}/common/code?hqmIqcSampleStandardType=HQM_IQC_SAMPLE_STANDARD_TYPE"></script>
<script
	src="${base.contextPath}/common/code?hqmIqcIinspectionLevels=HQM_IQC_INSPECTION_LEVELS"></script>
<script
	src="${base.contextPath}/common/code?hqmIqcQualityGrade=HQM_IQC_QUALITY_GRADE"></script>
<script src="${base.contextPath}/common/code?hqmIqcAql=HQM_IQC_AQL"></script>
<script
	src="${base.contextPath}/common/code?hqmIqcSourceType=HQM_IQC_SOURCE_TYPE"></script>
<script
	src="${base.contextPath}/common/code?hqmIqcAttributeCategory=HQM_IQC_ATTRIBUTE_CATEGORY"></script>
<script
	src="${base.contextPath}/common/code?hqmIqcStandardType=HQM_IQC_STANDARD_TYPE"></script>
<script
	src="${base.contextPath}/common/code?hqmIqcFrequencyType=HQM_IQC_FREQUENCY_TYPE"></script>
<script
	src="${base.contextPath}/common/code?HQM_SOURCE_TYPE_TEMP=HQM_SOURCE_TYPE_TEMP"></script>
<script>
	function getDetail(itemCategory, categoryCode,sourceType, itemCategoryDescription) {
		console.log(sourceType);
		var win = $("#childWindow").kendoWindow(
				{
					width: 1500,
					height: 700,
					title : '物料类别拓展明细',
					visible : false,
					iframe : true,
					modal : true,
					content : './item_category_ext_add.html?itemCategory='
							+ itemCategory + '&&categoryCode=' + categoryCode+
							'&&sourceType='+ sourceType
							+ '&&itemCategoryDescription='
							+ itemCategoryDescription,
					close : function() {
						$("#grid").data("kendoGrid").dataSource.fetch();
					}
				}).data("kendoWindow");
		win.center().open();
	}
</script> <script type="text/javascript">
	var viewModel = Hap.createGridViewModel("#grid");
	viewModel.addnew = function() {
		var win = $("#childWindow").kendoWindow({
			width: 1500,
			height: 700,
			title : '明细',
			visible : false,
			iframe : true,
			modal : true,
			content : './item_category_ext_add.html',
			close : function() {
				$("#grid").data("kendoGrid").dataSource.fetch();
			}
		}).data("kendoWindow");
		win.center().open();
	}
</script>
<body>
	<div id="childWindow"></div>
	<div id="page-content">
		<div class="pull-left" id="toolbar-btn" style="padding-bottom: 10px;">
			<span class="btn btn-primary k-grid-add fa fa-plus-square"
				style="float: left; margin-right: 5px;" data-bind="click:addnew">&nbsp;<@spring.message
				"hap.new"/></span>
			<!--         <span class="btn btn-success k-grid-save-changes" data-bind="click:save" style="float:left;margin-right:5px;"><@spring.message "hap.save"/></span> -->
			<span data-bind="click:exportExcel"
				class="btn btn-success fa fa-file-excel-o"
				style="float: left; margin-right: 5px;">&nbsp;<@spring.message
				"hap.exportexcel"/></span> <span data-bind="click:remove"
				class="btn btn-danger fa fa-trash-o" style="float: left;">&nbsp;<@spring.message
				"hap.delete"/></span>
		</div>
		<script>
			kendo.bind($('#toolbar-btn'), viewModel);
		</script>
		<div id="queryPanel" class="pull-right"
			style="margin-right: 5px; padding-bottom: 10px;">
			<div class="k-query-simple" id="query-form">
				<input id="itemCategoryComboBox"
					placeholder="<@spring.message 'itemcategoryext.itemcategory'/>"
					style="width: 150px;margin-right:5px;" data-bind="value:model.itemCategory">
				<input id="sourceTypeComboBox"
					placeholder="<@spring.message 'itemcategoryext.sourcetype'/>"
					style="width: 150px;" data-bind="value:model.sourceType">
				<!--             <input  id="inspectionAttributeLov" placeholder="<@spring.message 'itemcategoryext.inspectionattribute'/>" data-bind="value:model.inspectionAttribute" > -->
			</div>
			<script>
				kendo.bind($('#query-form'), viewModel);
			</script>
			<div class="k-query-detail" id="query-form2">
				<div class="rows">

					<input id="sampleProcedureTypeComboBox"
						placeholder="<@spring.message 'itemcategoryext.sampleproceduretype'/>"
						style="width: 150px;" data-bind="value:model.sampleProcedureType">
					<input id="inspectionLevelsComboBox"
						placeholder="<@spring.message 'itemcategoryext.inspectionlevels'/>"
						style="width: 150px;" data-bind="value:model.inspectionLevels">
					<input data-role="maskedtextbox"
						placeholder="<@spring.message 'itemcategoryext.acceptancequalitylimit'/>"
						style="width: 150px;"
						data-bind="value:model.acceptanceQualityLimit"> <input
						id="enableFlagComboBox"
						placeholder="<@spring.message 'itemcategoryext.enableflag'/>"
						style="width: 150px;" data-bind="value:model.enableFlag">
				</div>
				<div class="rows" style="margin-top: 5px">
					<input id="standardTypeComboBox"
						placeholder="<@spring.message 'itemcategoryext.standardtype'/>"
						style="width: 150px;" data-bind="value:model.standardType">
					<input id="qualityCharacterGradeComboBox"
						placeholder="<@spring.message 'itemcategoryext.qualitycharactergrade'/>"
						style="width: 150px;"
						data-bind="value:model.qualityCharacterGrade"> <input
						data-role="maskedtextbox"
						placeholder="<@spring.message 'itemcategoryext.acceptancequalitylimit'/>"
						style="width: 150px;"
						data-bind="value:model.acceptanceQualityLimit"> <input
						id="frequencyTypeComboBox"
						placeholder="<@spring.message 'itemcategoryext.frequencytype'/>"
						style="width: 150px;" data-bind="value:model.frequencyType">
				</div>
				<div class="rows" style="margin-top: 5px">
					<input id="attributeTypeComboBox"
						placeholder="<@spring.message 'itemcategoryext.attributetype'/>"
						style="width: 150px;" data-bind="value:model.attributeType">

				</div>
			</div>
			<script>
				kendo.bind($('#query-form2'), viewModel);
			</script>
		</div>
		<div style="clear: both">
			<div id="grid"></div>
		</div>
	</div>

	<script type="text/javascript">
		//LOV_INSPECTION_ATTRIBUTE
		$('#queryPanel').kendoQueryPanel({
			queryFunction : function() {
				viewModel.query();
			},
			resetFunction : function() {
				viewModel.reset();
			}
		});
		$("#enableFlagComboBox").kendoComboBox({
			dataTextField : "meaning",
			dataValueField : "value",
			valuePrimitive : true,
			dataSource : yesNo
		});
		$("#attributeTypeComboBox").kendoComboBox({
			dataTextField : "meaning",
			dataValueField : "value",
			valuePrimitive : true,
			dataSource : hqmIqcAttributeCategory
		});
		$("#frequencyTypeComboBox").kendoComboBox({
			dataTextField : "meaning",
			dataValueField : "value",
			valuePrimitive : true,
			dataSource : hqmIqcFrequencyType
		});
		$("#qualityCharacterGradeComboBox").kendoComboBox({
			dataTextField : "meaning",
			dataValueField : "value",
			valuePrimitive : true,
			dataSource : hqmIqcQualityGrade
		});
		$("#standardTypeComboBox").kendoComboBox({
			dataTextField : "meaning",
			dataValueField : "value",
			valuePrimitive : true,
			dataSource : hqmIqcStandardType
		});
		$("#sourceTypeComboBox").kendoComboBox({
			dataTextField : "meaning",
			dataValueField : "value",
			valuePrimitive : true,
			dataSource : hqmIqcSourceType
		});
		$("#inspectionLevelsComboBox").kendoComboBox({
			dataTextField : "meaning",
			dataValueField : "value",
			valuePrimitive : true,
			dataSource : hqmIqcIinspectionLevels
		});
		$("#sampleProcedureTypeComboBox").kendoComboBox({
			dataTextField : "meaning",
			dataValueField : "value",
			valuePrimitive : true,
			dataSource : hqmIqcSampleStandardType
		});
		$("#itemCategoryComboBox").kendoLov(
				$.extend(<@lov"LOV_ITEM_CATEGORY"/>, {
					textField : 'categoryCode',
					valueField : 'categoryId',
				}));
		$("#inspectionAttributeLov").kendoLov(
				$.extend(<@lov"LOV_INSPECTION_ATTRIBUTE"/>, {
					textField : 'inspectionAttribute',
					valueField : 'inspectionAttribute',
				}));
		Hap.initEnterQuery('#query-form', viewModel.query);
		var BaseUrl = _basePath;
		dataSource = new kendo.data.DataSource({
			transport : {
				read : {
					url : BaseUrl + "/hqm/item/category/ext/groupquery",
					type : "POST",
					dataType : "json"
				},
				update : {
					url : BaseUrl + "/hqm/item/category/ext/submit",
					type : "POST",
					contentType : "application/json"
				},
				destroy : {
					url : BaseUrl + "/hqm/item/category/ext/remove",
					type : "POST",
					contentType : "application/json"
				},
				create : {
					url : BaseUrl + "/hqm/item/category/ext/submit",
					type : "POST",
					contentType : "application/json"
				},
				parameterMap : function(options, type) {
					if (type !== "read" && options.models) {
						var datas = Hap.prepareSubmitParameter(options, type)
						return kendo.stringify(datas);
					} else if (type === "read") {
						return Hap.prepareQueryParameter(viewModel.model
								.toJSON(), options)
					}
				}
			},
			batch : true,
			serverPaging : true,
			pageSize : 20,
			schema : {
				data : 'rows',
				total : 'total',
				model : {
					id : "kid",
					fields : {
						enableFlag : {
							type : 'string',
							validation : {
								required : true,
								required : {
									message : "有效性为必输项"
								},
							},
						},

						itemCategory : {
							type : 'string',

							validation : {
								required : true,
								required : {
									message : "IQC物料类别为必输项"
								},
							},
						},
						sampleProcedureType : {
							type : 'string',
							validation : {
								required : true,
								required : {
									message : "抽样标准类型为必输项"
								},
							},
						},
						inspectionAttribute : {
							type : 'string',
							validation : {
								required : true,
								required : {
									message : "检验项目为必输项"
								},
							},
						},
						/*  orderCode: {
						     type: 'number',
						     defaultValue: 0,
						     format: "{0:0}",
						     validation: {
						         min: 0,
						         required: true,
						         required: {message: "排序码为必输项"},
						     },
						 }, */
						inspectionLevels : {
							type : 'string',
							validation : {
								required : true,
								required : {
									message : "检验水平为必输项"
								},
							},
						},
						qualityCharacterGrade : {
							type : 'string',
							validation : {
								required : true,
								required : {
									message : "质量等级特性为必输项"
								},
							},
						},
						acceptanceQualityLimit : {
							type : 'string',
							validation : {
								required : true,
								required : {
									message : "AQL值为必输项"
								},
							},
						},
						sourceType : {
							type : 'string',
							validation : {
								required : true,
								required : {
									message : "来源类型为必输项"
								},
							},
						},
						standardType : {
							type : 'string',
							validation : {
								required : true,
								required : {
									message : "规格类型为必输项"
								},
							},
						},
						attributeType : {
							type : 'string',
							validation : {
								required : true,
								required : {
									message : "检验类型为必输项"
								},
							},
						},
						/*  frequencyType:{
						     type: 'string',
						     validation: {
						         required: true,
						         required: {message: "检验频次类型为必输项"},
						     },
						 }, */
						/*  frequency: {
						     type: 'number',
						     format: "{0:0}",
						     defaultValue: 0,
						     validation: {
						         min: 0,
						         required: true,
						         required: {message: "检验频次为必输项"},
						     },
						 }, */
						inspectionTool : {
							type : 'string',
							validation : {
								required : true,
								required : {
									message : "检验工具为必输项"
								},
							},
						},
						enableFlag : {
							/* type: 'string',
							defaultValue:yesNo[1].value,
							validation: {
							    required: true,
							    required: {message: "有效性为必输项"},
							}, */
							type : "boolean",
							defaultValue : "Y",
							checkedValue : 'Y',
							uncheckedValue : 'N',
						},
					},
					editable : function(col) {
						return false;
					},
				}
			}
		});

		$("#grid")
				.kendoGrid(
						{
							dataSource : dataSource,
							resizable : true,
							scrollable : true,
							navigatable : false,
							selectable : 'multiple, rowbox',
							dataBound : function() {
								if (parent.autoResizeIframe) {
									parent
											.autoResizeIframe('${RequestParameters.functionCode!}')
								}
							},
							pageable : {
								pageSizes : [ 5, 10, 20, 50 ],
								refresh : true,
								buttonCount : 5
							},
							columns : [
									{
										field : "categoryCode",
										title : '<@spring.message "itemcategoryext.itemcategory"/>',//IQC物料类别
										width : 120,
										template : function(dataItem) {
											var v = dataItem.categoryCode ? dataItem.categoryCode
													: "";

											return v;
										},
										attributes : {
											style : "text-align:center"
										},
										headerAttributes : {
											style : "text-align:center"
										}

									},
									{
										field : "itemCategoryDescription",
										title : '<@spring.message "itemcategoryext.itemcategory"/>',//IQC物料类别
										width : 150,
										template : function(dataItem) {
											var v = dataItem.itemCategoryDescription ? dataItem.itemCategoryDescription
													: "";

											return v;
										},
										attributes : {
											style : "text-align:center"
										},
										headerAttributes : {
											style : "text-align:center"
										}

									},
									{
										field : "sampleProcedureType",
										title : '<@spring.message "itemcategoryext.sampleproceduretype"/>',//抽样标准类型
										width : 120,
										hidden : true,
										template : function(dataItem) {
											var v = dataItem.sampleProcedureType ? dataItem.sampleProcedureType
													: "";
											$
													.each(
															hqmIqcSampleStandardType,
															function(i, n) {
																if ((n.value || '')
																		.toLowerCase() == (v || '')
																		.toLowerCase()) {
																	v = n.meaning;
																	return v;
																}
															});
											return v;
										},
										editor : function(container, options) {
											$(
													'<input name="' + options.field + '"/>')
													.appendTo(container)
													.kendoDropDownList(
															{
																dataTextField : "meaning",
																dataValueField : "value",
																valuePrimitive : true,
																dataSource : hqmIqcSampleStandardType
															});
										},
										attributes : {
											style : "text-align:center"
										},
										headerAttributes : {
											style : "text-align:center"
										}
									},
									{
										field : "attributeType",
										title : '<@spring.message "itemcategoryext.attributetype"/>',//检验项类型
										width : 120,
										hidden : true,
										template : function(dataItem) {
											var v = dataItem.attributeType ? dataItem.attributeType
													: "";
											$
													.each(
															hqmIqcAttributeCategory,
															function(i, n) {
																if ((n.value || '')
																		.toLowerCase() == (v || '')
																		.toLowerCase()) {
																	v = n.meaning;
																	return v;
																}
															});
											return v;
										},
										editor : function(container, options) {
											$(
													'<input name="' + options.field + '"/>')
													.appendTo(container)
													.kendoDropDownList(
															{
																dataTextField : "meaning",
																dataValueField : "value",
																valuePrimitive : true,
																dataSource : hqmIqcAttributeCategory
															});
										},
										attributes : {
											style : "text-align:center"
										},
										headerAttributes : {
											style : "text-align:center"
										}
									},
									{
										field : "inspectionAttribute",
										title : '<@spring.message "itemcategoryext.inspectionattribute"/>',//检验项目
										width : 120,
										hidden : true,
										attributes : {
											style : "text-align:center;white-space:nowrap;"
										},
										headerAttributes : {
											style : "text-align:center"
										}
									},
									/* {
									    field: "orderCode",
									    title: '<@spring.message "itemcategoryext.ordercode"/>',//排序码
									    width: 120
									}, */
									{
										field : "inspectionLevels",
										title : '<@spring.message "itemcategoryext.inspectionlevels"/>',//检验水平
										width : 120,
										hidden : true,
										template : function(dataItem) {
											var v = dataItem.inspectionLevels ? dataItem.inspectionLevels
													: "";
											$
													.each(
															hqmIqcIinspectionLevels,
															function(i, n) {
																if ((n.value || '')
																		.toLowerCase() == (v || '')
																		.toLowerCase()) {
																	v = n.meaning;
																	return v;
																}
															});
											return v;
										},
										editor : function(container, options) {
											$(
													'<input name="' + options.field + '"/>')
													.appendTo(container)
													.kendoDropDownList(
															{
																dataTextField : "meaning",
																dataValueField : "value",
																valuePrimitive : true,
																dataSource : hqmIqcIinspectionLevels
															});
										},
										attributes : {
											style : "text-align:center"
										},
										headerAttributes : {
											style : "text-align:center"
										}
									},
									{
										field : "qualityCharacterGrade",
										title : '<@spring.message "itemcategoryext.qualitycharactergrade"/>',//质量等级特性
										width : 120,
										hidden : true,
										template : function(dataItem) {
											var v = dataItem.qualityCharacterGrade ? dataItem.qualityCharacterGrade
													: "";
											$
													.each(
															hqmIqcQualityGrade,
															function(i, n) {
																if ((n.value || '')
																		.toLowerCase() == (v || '')
																		.toLowerCase()) {
																	v = n.meaning;
																	return v;
																}
															});
											return v;
										},
										editor : function(container, options) {
											$(
													'<input name="' + options.field + '"/>')
													.appendTo(container)
													.kendoDropDownList(
															{
																dataTextField : "meaning",
																dataValueField : "value",
																valuePrimitive : true,
																dataSource : hqmIqcQualityGrade
															});
										},
										attributes : {
											style : "text-align:center"
										},
										headerAttributes : {
											style : "text-align:center"
										}
									},
									{
										field : "acceptanceQualityLimit",
										title : '<@spring.message "itemcategoryext.acceptancequalitylimit"/>',//AQL值
										width : 120,
										hidden : true,
										template : function(dataItem) {
											var v = dataItem.acceptanceQualityLimit ? dataItem.acceptanceQualityLimit
													: "";
											$
													.each(
															hqmIqcAql,
															function(i, n) {
																if ((n.value || '')
																		.toLowerCase() == (v || '')
																		.toLowerCase()) {
																	v = n.meaning;
																	return v;
																}
															});
											return v;
										},
										editor : function(container, options) {
											$(
													'<input name="' + options.field + '"/>')
													.appendTo(container)
													.kendoDropDownList(
															{
																dataTextField : "meaning",
																dataValueField : "value",
																valuePrimitive : true,
																dataSource : hqmIqcAql
															});
										},
										attributes : {
											style : "text-align:center"
										},
										headerAttributes : {
											style : "text-align:center"
										}
									},
// 									{
// 										field : "sourceType",
// 										title : '<@spring.message "itemcategoryext.sourcetype"/>',//来源类型
// 										width : 120,
// 									},
									{
										field : "sourceType",
										title : '<@spring.message "itemcategoryext.sourcetype"/>',//来源类型
										width : 120,
										template : function(dataItem) {
											var v = dataItem.sourceType ? dataItem.sourceType
													: "";
											$
													.each(
															HQM_SOURCE_TYPE_TEMP,
															function(i, n) {
																if ((n.value || '')
																		.toLowerCase() == (v || '')
																		.toLowerCase()) {
																	v = n.meaning;
																	return v;
																}
															});
											return v;
										},
										editor : function(container, options) {
											$(
													'<input name="' + options.field + '"/>')
													.appendTo(container)
													.kendoDropDownList(
															{
																dataTextField : "meaning",
																dataValueField : "value",
																valuePrimitive : true,
																dataSource : HQM_SOURCE_TYPE_TEMP
															});
										},
										attributes : {
											style : "text-align:center"
										},
										headerAttributes : {
											style : "text-align:center"
										}
									},
									{
										field : "standardType",
										title : '<@spring.message "itemcategoryext.standardtype"/>',//规格类型
										width : 120,
										hidden : true,
										template : function(dataItem) {
											var v = dataItem.standardType ? dataItem.standardType
													: "";
											$
													.each(
															hqmIqcStandardType,
															function(i, n) {
																if ((n.value || '')
																		.toLowerCase() == (v || '')
																		.toLowerCase()) {
																	v = n.meaning;
																	return v;
																}
															});
											return v;
										},
										editor : function(container, options) {
											$(
													'<input name="' + options.field + '"/>')
													.appendTo(container)
													.kendoDropDownList(
															{
																dataTextField : "meaning",
																dataValueField : "value",
																valuePrimitive : true,
																dataSource : hqmIqcStandardType
															});
										},
										attributes : {
											style : "text-align:center"
										},
										headerAttributes : {
											style : "text-align:center"
										}
									},

									/* {
									    field: "frequencyType",
									    title: '<@spring.message "itemcategoryext.frequencytype"/>',//检验频次类型
									    width: 120,
									    template: function (dataItem) {
									        var v = dataItem.frequencyType ? dataItem.frequencyType : "";
									        $.each(hqmIqcFrequencyType, function (i, n) {
									            if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
									                v = n.meaning;
									                return v;
									            }
									        });
									        return v;
									    },
									    editor: function (container, options) {
									        $('<input name="' + options.field + '"/>')
									            .appendTo(container)
									            .kendoDropDownList({
									                dataTextField: "meaning",
									                dataValueField: "value",
									                valuePrimitive: true,
									                dataSource: hqmIqcFrequencyType
									            });
									    }
									},
									{
									    field: "frequency",
									    title: '<@spring.message "itemcategoryext.frequency"/>',//检验频次
									    width: 120
									}, */
									{
										field : "inspectionTool",
										title : '<@spring.message "itemcategoryext.inspectiontool"/>',//检验工具
										width : 120,
										hidden : true,
										attributes : {
											style : "text-align:center"
										},
										headerAttributes : {
											style : "text-align:center"
										}
									},
									{
										field : "enableFlag",
										title : '<@spring.message "itemcategoryext.enableflag"/>',//有效性
										width : 120,
										attributes : {
											style : "text-align:center"
										},
										headerAttributes : {
											style : "text-align:center"
										}
									/* template: function (dataItem) {
									    var v = dataItem.enableFlag ? dataItem.enableFlag : "";
									    $.each(yesNo, function (i, n) {
									        if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
									            v = n.meaning;
									            return v;
									        }
									    });
									    return v;
									},
									editor: function (container, options) {
									    $('<input name="' + options.field + '"/>')
									        .appendTo(container)
									        .kendoDropDownList({
									            dataTextField: "meaning",
									            dataValueField: "value",
									            valuePrimitive: true,
									            dataSource: yesNo
									        });
									} */
									},
									{
										field : "remark",
										title : '<@spring.message "itemcategoryext.remark"/>',//备注
										width : 120,
										hidden : true,
										attributes : {
											style : "text-align:center"
										},
										headerAttributes : {
											style : "text-align:center"
										}
									},
									{

										title : '<@spring.message "明细"/>',
										width : 120,
										template : function(item) {
											return '<a style="color:blue;" href="#" onclick=getDetail("'
													+ item.itemCategory
													+ '","'
													+ item.categoryCode
													+ '","'
													+ item.sourceType
													+ '","'
													+ item.itemCategoryDescription
													+ '")>明细</a>'
										},
										attributes : {
											style : "text-align:center"
										},
										headerAttributes : {
											style : "text-align:center"
										}
									}, ],
							editable : true
						});
	</script>
	<script>
		function ifNotNull(e) {
			if (e != null && e != undefined && e != '') {
				return true;
			}
			return false;
		}
	</script>
</body>
</html>