<#include "../include/header.html">


<script type="text/javascript">
	var sku = '${RequestParameters.sku!0}';
    var viewModel = Hap.createGridViewModel(null,{
    	model:{
    	},
    	closeWin:function(e) {
    		window.parent.$("#eBomViewWindow").data("kendoWindow").close();
    	}
    });
    //查询出最新的sku的版本信息
    var data={"skuCode":sku};
    $.ajax({
		url:"${base.contextPath}/npi/technology/working/procedure/queryEBomVersion",
		type:"POST",
		data:JSON.stringify(data) ,
		dataType:'json',
		contentType: "application/json",
		success: function(data){
			viewModel.model.set('skuCode',sku) ;
            viewModel.model.set('version',data.version);
            viewModel.model.set('skuId',data.skuId);
            //渲染行信息
            $('#grid').data('kendoGrid').dataSource.page(1);
		}
	});
</script>

<body>

<div id="page-content">
<form id = "mainForm" style="paddiing-bottom:50px;padding-top:15px" class="form-horizontal" method="post" enctype="application/json;charset=UTF-8">
		<div class="row" class="col-sm-12">
			<div class="col-sm-6">
				<div class="form-group">
					<div class="row">
						<label class="col-sm-4 control-label">SKU</label>
						<div class="col-sm-8">
							<input style="width:100%" id="skuCode"  
								data-bind="value:model.skuCode" readonly="readonly">
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<div class="row">
						<label class="col-sm-4 control-label">E-BOM版本</label>
						<div class="col-sm-8">
							<input style="width:100%" id="version"
								data-bind="value:model.version" readonly="readonly">
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
    <div style="clear:both">
        <div id="grid"></div>
    </div>
</div>
<script>
		kendo.bind($('#mainForm'), viewModel);
	</script>
<script>
    var BaseUrl = _basePath;
    dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: BaseUrl + "/npi/technology/working/procedure/qeuryEBomPart",
                type: "POST",
            },
            parameterMap: function (options, type) {
                if (type !== "read" && options.models) {
                    var datas = Hap.prepareSubmitParameter(options, type)
                    return kendo.stringify(datas);
                } else if (type === "read") {
                    return Hap.prepareQueryParameter(viewModel.model.toJSON(), options)
                }
            }
        },
        batch: true,
        serverPaging: true,
        pageSize: 20,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                //id: "materielId",
                fields: {}
            }
        }
    });

</script>

<script>
    var grid = $("#grid").kendoGrid({
        dataSource: dataSource,
        resizable: true,
        scrollable: true,
        navigatable: false,
        sortable:true,
        //selectable: 'multiple, rowbox',
        autoBind:false,
        dataBound: function () {
            if (parent.autoResizeIframe) {
                parent.autoResizeIframe('${RequestParameters.functionCode!}')
            }
        },
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        columns: [
        	{
                field: "partNumber",
                title: '物料编码',
                width: 120,
                headerAttributes: {
                    style: "text-align: center"
                },
                attributes: {
                    style: "text-align: center"
                }
            },
            {
                field: "partDescription",
                title: '物料名称',
                width: 120,
                headerAttributes: {
                    style: "text-align: center"
                },
                attributes: {
                    style: "text-align: center"
                }
            },
            {
                field: "quantity",
                title: '数量',
                width: 60,
                headerAttributes: {
                    style: "text-align: center"
                },
                attributes: {
                    style: "text-align: center"
                }
            }
        ],
        editable: false
    }).data("kendoGrid");
	Hap.autoResizeGrid("#grid");
</script>
</body>
</html>