<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hqm.hqm_standard_op_item_h_his.mapper.StandardOpItemHHisMapper">
    <resultMap id="BaseResultMap" type="com.hand.hqm.hqm_standard_op_item_h_his.dto.StandardOpItemHHis">
        <result column="EVENT_ID" property="eventId" jdbcType="DECIMAL" />
        <result column="EVENT_BY" property="eventBy" jdbcType="DECIMAL" />
        <result column="EVENT_TIME" property="eventTime" jdbcType="DATE" />
        <result column="HEAD_ID" property="headId" jdbcType="DECIMAL" />
        <result column="VERSION" property="version" jdbcType="VARCHAR" />
        <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR" />
        <result column="ITEM_ID" property="itemId" jdbcType="DECIMAL" />
        <result column="HSO_HEAD_ID" property="hsoHeadId" jdbcType="DECIMAL" />
        <result column="PLANT_ID" property="plantId" jdbcType="DECIMAL" />
        <result column="PROD_LINE_ID" property="prodLineId" jdbcType="DECIMAL" />
        <result column="STANDARD_OP_ID" property="standardOpId" jdbcType="DECIMAL" />
        <result column="WORKSTATION_ID" property="workstationId" jdbcType="DECIMAL" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="SOURCE_TYPE" property="sourceType" jdbcType="VARCHAR" />
        <result column="TIME_LIMIT" property="timeLimit" jdbcType="DECIMAL" />
        <result column="ITEM_EDITION" property="itemEdition" jdbcType="VARCHAR" />
    </resultMap>

	<!-- 查询离流程发起时间最近的一条数据 -->
	<select id="selectbyheadIdTime" resultMap="BaseResultMap" parameterType="com.hand.hqm.hqm_standard_op_item_h_his.dto.StandardOpItemHHis">
		SELECT *
			FROM HQM_STANDARD_OP_ITEM_H_HIS t
			WHERE 1=1
				<if test="headerId != null">
					AND t.header_id = #{headerId}
				</if>
				<if test="startDateString != null">
				   AND t.event_time &lt;= to_date(#{startDateString},'yyyy-mm-dd hh24:mi:ss')
				 </if>
				ORDER BY t.event_time desc
	</select>
</mapper>