<!DOCTYPE html>
<!--
  description 制程监控我发起的流程
  @author KOCE3G3 2020/03/30 11:10 AM 
-->
<#if '${RequestParameters.processInstanceId}' == 'null'>
<#include "../include/header.html">
</#if>
<#if '${RequestParameters.processInstanceId}' != 'null' && '${RequestParameters.taskId}' != ''>
<#include "../activiti/approve_header.html">
</#if>
<#if '${RequestParameters.processInstanceId}' != 'null' && '${RequestParameters.taskId}' == ''>
<#include "../activiti/process_instance_detail_header.html">
</#if>
<style>
    .col-sm-8{
        padding-top: 7px;
    }
</style>
<script src="${base.contextPath}/common/code?statuss=HQM_PRODUCT_MONITOR_STATUS"></script>
<script src="${base.contextPath}/common/code?ngstatus=HQM_PRODUCT_NG_STATUS"></script>
<script type="text/javascript">
    var BaseUrl = _basePath;
    var viewModel =Hap.createGridViewModel("#grid");
    var businessKey = '${RequestParameters.businessKey!0}';
    if(businessKey != null){
        var produceId = businessKey.toString().split(":")[0].toString();
    }

    viewModel.model.produceId=produceId;

    var viewModelHead = Hap.createGridViewModel("#mainForm",{
        model:{},
        queryInfo:function(){
            if(produceId != 0){
                $.ajax({
                    url:BaseUrl+"/hcs/item/station/produce/listQuery?produceId="+produceId,
                    success:function(data){
                        var a0 = data.rows[0] || {};
                        for(var k in a0){
                            viewModelHead.model.set(k,a0[k]);
                        }
                    }
                })
            }
        }
    });
    viewModelHead.queryInfo();

</script>
<div class="approve-block" style="width: 100%;">
    <h3>审批表单</h3>
    <!--<iframe id="includeFrame" style="width:100%" name="includeFrame" onLoad="onIncludeFrameLoad()"></iframe>-->
    <div id = "mainForm" style="paddiing-bottom:50px;padding-top:15px" class="form-horizontal">
        <div style="clear:both;">
            <div style="border-top: 1px solid #e7ecf1;padding: 15px 0px 0px 0px;">
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label class="col-sm-4 control-label" style="padding-right: 0px;"><@spring.message
                            "asl.suppliercode"/>：</label>
                        <div class="col-sm-8">
                                        <span id="supplierCode" style="border: none;"
                                              data-bind="text:model.supplierCode"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="col-sm-4 control-label" style="padding-right: 0px;"><@spring.message"asl.suppliername"/>：</label>
                        <div class="col-sm-8">
                                        <span id="supplierName" style="border: none"
                                              data-bind="text:model.supplierName"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="col-sm-4 control-label" style="padding-right: 0px;"><@spring.message"hcs.produce.producenumber"/>：</label>
                        <div class="col-sm-8">
                                        <span id="produceNumber" style="border: none"
                                              data-bind="text:model.produceNumber"></span>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="form-group col-sm-3">
                        <label class="col-sm-4 control-label" style="padding-right: 0px;"><@spring.message
                            "asl.itemcode"/>：</label>
                        <div class="col-sm-8">
                                        <span id="itemCode" style="border: none"
                                              data-bind="text:model.itemCode"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="col-sm-4 control-label" style="padding-right: 0px;"><@spring.message
                            "settlement.itemname"/>：</label>
                        <div class="col-sm-8">
                                        <span id="itemDescription" style="border: none"
                                              data-bind="text:model.itemDescription"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="col-sm-4 control-label" style="padding-right: 0px;"><@spring.message
                            "hcs.produce.productdate"/>：</label>
                        <div class="col-sm-8">
                                        <span id="productDate" style="border: none"
                                              data-bind="text:model.productDate"></span>
                        </div>
                    </div>

                    <div class="form-group col-sm-3">
                        <label class="col-sm-4 control-label" style="padding-right: 0px;"><@spring.message
                            "hcs.produce.productversion"/>：</label>
                        <div class="col-sm-8">
                                        <span id="productVersion" style="border: none"
                                              data-bind="text:model.productVersion"></span>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="form-group col-sm-3">
                        <label class="col-sm-4 control-label" style="padding-right: 0px;"><@spring.message
                            "hcs.produce.productlots"/>：</label>
                        <div class="col-sm-8">
                                        <span id="productLots" style="border: none"
                                              data-bind="text:model.productLots"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="col-sm-4 control-label" style="padding-right: 0px;"><@spring.message
                            "hcs.produce.productqty"/>：</label>
                        <div class="col-sm-8">
                                        <span id="productQty" style="border: none"
                                              data-bind="text:model.productQty"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="col-sm-4 control-label" style="padding-right: 0px;"><@spring.message
                            "hcs.produce.ngqty"/>：</label>
                        <div class="col-sm-8">
                                        <span id="ngQty" style="border: none"
                                              data-bind="text:model.ngQty"></span>
                        </div>
                    </div>

                    <div class="form-group col-sm-3">
                        <label class="col-sm-4 control-label" style="padding-right: 0px;"><@spring.message
                            "hcs.produce.rty"/>：</label>
                        <div class="col-sm-8">
                                        <span id="rty" style="border: none"
                                              data-bind="text:model.rty"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        kendo.bind($('#mainForm'), viewModelHead);
    </script>
    <div style="clear: both;">
        <div  id="grid"></div>
    </div>

    <script type="text/javascript">
        var BaseUrl = _basePath
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: BaseUrl + "/hcs/item/station/produce/line/listQuery",
                    type: "POST",
                    dataType: "json"
                },
                parameterMap: function (options, type) {
                    if (type !== "read" && options.models) {
                        var datas = Hap.prepareSubmitParameter(options, type)
                        return kendo.stringify(datas);
                    } else if (type === "read") {
                        return Hap.prepareQueryParameter(viewModel.model.toJSON(), options)
                    }
                }
            },
            batch: true,
            serverPaging: true,
            pageSize: 10,
            schema: {
                data: 'rows',
                total: 'total',
                model: {
                    id: "produceLineId",
                    fields: {

                    }
                }
            }
        });

        //制程监控行数据
        var grid = $("#grid").kendoGrid({
            dataSource: dataSource,
            resizable: true,
            scrollable: true,
            navigatable: false,
            sortable:true,
            dataBound: function () {
                if (parent.autoResizeIframe) {
                    parent.autoResizeIframe('${RequestParameters.functionCode!}')
                }
            },

            columns: [
                {
                    field: "lineNumber",
                    title: '<@spring.message "hcs.produce.linenumber"/>',
                    width: 120
                },
                {
                    field: "ngProject",
                    title: '<@spring.message "hcs.produce.ngproject"/>',
                    width: 120
                },
                {
                    field: "ngQty",
                    title: '<@spring.message "hcs.produce.ngqty"/>',
                    width: 120
                },
                {
                    field: "reason",
                    title: '<@spring.message "hcs.produce.reason"/>',
                    width: 120
                },
                {
                    field: "solution",
                    title: '<@spring.message "hcs.produce.solution"/>',
                    width: 120
                },
                {
                    field: "attachment",
                    title: '<@spring.message "hcs.produce.attachment"/>',
                    width: 120
                },
                {
                    field: "finishedDate",
                    title: '<@spring.message "hcs.produce.finisheddate"/>',
                    width: 120
                },
                {
                    field: "status",
                    title: '<@spring.message "hcs.produce.status"/>',
                    width: 120,
                    template:function (rowdata) {
                        var v = rowdata.status;
                        $.each(ngstatus,function (i,n) {
                            if(n.value == v){
                                v = n.meaning;
                            }
                        })
                        return v || '';
                    }
                }
            ],
        }).data("kendoGrid");

    </script>
</div>

<#if '${RequestParameters.processInstanceId}' != 'null' && '${RequestParameters.taskId}' != ''>
<#include "../activiti/approve_footer.html">
</#if>
<#if '${RequestParameters.processInstanceId}' != 'null' && '${RequestParameters.taskId}' == ''>
<#include "../activiti/process_instance_detail_footer.html">
</#if>

</html>