<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hqm.hqm_sop_pqc_control_h.mapper.SopPqcControlHMapper">
    <resultMap id="BaseResultMap" type="com.hand.hqm.hqm_sop_pqc_control_h.dto.SopPqcControlH">
        <result column="STANDARD_OP_ID" property="standardOpId" jdbcType="DECIMAL" />
        <result column="PLANT_ID" property="plantId" jdbcType="DECIMAL" />
        <result column="PROD_LINE" property="prodLine" jdbcType="VARCHAR" />
        <result column="STANDARD_OP_ORDER" property="standardOpOrder" jdbcType="DECIMAL" />
        <result column="STANDARD_OP_CODE" property="standardOpCode" jdbcType="VARCHAR" />
        <result column="STANDARD_OP_DES" property="standardOpDes" jdbcType="VARCHAR" />
        <result column="KEY_OP_FLAG" property="keyOpFlag" jdbcType="VARCHAR" />
        <result column="PQC_FLAG" property="pqcFlag" jdbcType="VARCHAR" />
        <result column="IQ_FLAG" property="iqFlag" jdbcType="VARCHAR" />
        <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR" />
        <result column="GLOBAL_ATTRIBUTE1" property="globalAttribute1" jdbcType="VARCHAR" />
        <result column="GLOBAL_ATTRIBUTE2" property="globalAttribute2" jdbcType="VARCHAR" />
        <result column="GLOBAL_ATTRIBUTE3" property="globalAttribute3" jdbcType="VARCHAR" />
        <result column="GLOBAL_ATTRIBUTE4" property="globalAttribute4" jdbcType="VARCHAR" />
        <result column="GLOBAL_ATTRIBUTE5" property="globalAttribute5" jdbcType="VARCHAR" />
        <result column="GLOBAL_ATTRIBUTE6" property="globalAttribute6" jdbcType="VARCHAR" />
        <result column="GLOBAL_ATTRIBUTE7" property="globalAttribute7" jdbcType="VARCHAR" />
        <result column="GLOBAL_ATTRIBUTE8" property="globalAttribute8" jdbcType="VARCHAR" />
        <result column="GLOBAL_ATTRIBUTE9" property="globalAttribute9" jdbcType="VARCHAR" />
        <result column="GLOBAL_ATTRIBUTE10" property="globalAttribute10" jdbcType="VARCHAR" />
        <result column="GLOBAL_ATTRIBUTE11" property="globalAttribute11" jdbcType="VARCHAR" />
        <result column="GLOBAL_ATTRIBUTE12" property="globalAttribute12" jdbcType="VARCHAR" />
        <result column="GLOBAL_ATTRIBUTE13" property="globalAttribute13" jdbcType="VARCHAR" />
        <result column="GLOBAL_ATTRIBUTE14" property="globalAttribute14" jdbcType="VARCHAR" />
        <result column="GLOBAL_ATTRIBUTE15" property="globalAttribute15" jdbcType="VARCHAR" />
        
        <result column="PLANT_CODE" property="plantCode" jdbcType="VARCHAR" />
        <result column="PROD_LINE_CODE" property="prodLineCode" jdbcType="VARCHAR" />
        <result column="PROD_LINE_ID" property="prodLineId" jdbcType="DECIMAL" />
        
        <result column="OPERATION_SEQUENCE_ID" property="operationSequenceId" jdbcType="DECIMAL" />
    </resultMap>

<select id="myselect" resultMap="BaseResultMap"
            parameterType="com.hand.hqm.hqm_sop_pqc_control_h.dto.SopPqcControlH">
       SELECT h.standard_op_id,
       h.plant_id,
       hp.plant_code,
       h.prod_line_id,
       hl.prod_line_code,
       h.standard_op_order,
       h.standard_op_code,
       h.standard_op_des,
       h.key_op_flag,
       h.pqc_flag,
       h.iq_flag,
       h.enable_flag,
       h.operation_sequence_id
  FROM hqm_sop_pqc_control_h h, hcm_plant hp, hcm_production_line hl
 WHERE h.plant_id = hp.plant_id
   AND hl.prod_line_id = h.prod_line_id
		   <if test="standardOpCode!=null">
		  AND h.standard_op_code = #{standardOpCode}
		   </if>
		  
    </select>
     <select id="selectLov" resultMap="BaseResultMap"
            parameterType="com.hand.hqm.hqm_sop_pqc_control_h.dto.SopPqcControlH">
       SELECT h.standard_op_id,
       h.plant_id,
       hp.plant_code,
       h.prod_line_id,
       h.standard_op_order,
       h.standard_op_code,
       h.standard_op_des,
       h.key_op_flag,
       h.pqc_flag,
       h.iq_flag,
       h.enable_flag,
       h.operation_sequence_id
  FROM hqm_sop_pqc_control_h h, hcm_plant hp
 WHERE h.plant_id = hp.plant_id
       <if test="standardOpCode!=null">
       	AND	t.standard_op_code = #{standardOpCode}
       </if>
		<if test="standardOpDes!=null">
       	AND	t.standard_op_des = #{standardOpDes}
       </if> 
       <if test="plantId!=null">
       	AND	t.plant_id = #{plantId}
       </if>
       <if test="prodLineId!=null">
       	AND	t.prod_line_id = #{prodLineId}
       </if>
    </select>
     
    
     
</mapper>