<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.spc.pspc_ce_parameter_relation.mapper.CeParameterRelationMapper">
    <resultMap id="BaseResultMap" type="com.hand.spc.pspc_ce_parameter_relation.dto.CeParameterRelation">
        <result column="relation_id" property="relationId" jdbcType="DECIMAL" />
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL" />
        <result column="site_id" property="siteId" jdbcType="DECIMAL" />
        <result column="ce_parameter_id" property="ceParameterId" jdbcType="DECIMAL" />
        <result column="classify_group_id" property="classifyGroupId" jdbcType="DECIMAL" />
    </resultMap>


</mapper>