<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hqm.hqm_fqc_inspection_l.mapper.FqcInspectionLMapper">
    <resultMap id="BaseResultMap" type="com.hand.hqm.hqm_fqc_inspection_l.dto.FqcInspectionL">
        <result column="LINE_ID" property="lineId" jdbcType="DECIMAL" />
        <result column="HEADER_ID" property="headerId" jdbcType="DECIMAL" />
        <result column="INSPECTION_ATTRIBUTE" property="inspectionAttribute" jdbcType="VARCHAR" />
        <result column="ORDER_CODE" property="orderCode" jdbcType="DECIMAL" />
        <result column="SAMPLE_PROCEDURE_TYPE" property="sampleProcedureType" jdbcType="VARCHAR" />
        <result column="INSPECTION_LEVELS" property="inspectionLevels" jdbcType="VARCHAR" />
        <result column="QUALITY_CHARACTER_GRADE" property="qualityCharacterGrade" jdbcType="VARCHAR" />
        <result column="ACCEPTANCE_QUALITY_LIMIT" property="acceptanceQualityLimit" jdbcType="VARCHAR" />
        <result column="SAMPLE_QTY" property="sampleQty" jdbcType="DECIMAL" />
        <result column="STANDARD_TYPE" property="standardType" jdbcType="VARCHAR" />
        <result column="SIZE_CODE_LETTER" property="sizeCodeLetter" jdbcType="VARCHAR" />
        <result column="AC" property="ac" jdbcType="VARCHAR" />
        <result column="RE" property="re" jdbcType="VARCHAR" />
        <result column="TEXT_STANDRAD" property="textStandrad" jdbcType="VARCHAR" />
        <result column="STANDRAD_FROM" property="standradFrom" jdbcType="VARCHAR" />
        <result column="STANDRAD_TO" property="standradTo" jdbcType="VARCHAR" />
        <result column="STANDRAD_UOM" property="standradUom" jdbcType="VARCHAR" />
        <result column="FREQUENCY_TYPE" property="frequencyType" jdbcType="VARCHAR" />
        <result column="FREQUENCY" property="frequency" jdbcType="DECIMAL" />
        <result column="INSPECTION_TOOL" property="inspectionTool" jdbcType="VARCHAR" />
        <result column="REMARK" property="remark" jdbcType="VARCHAR" />
        <result column="INSPECTION_COUNT" property="inspectionCount" jdbcType="DECIMAL" />
        <result column="CONFORMING_QTY" property="conformingQty" jdbcType="DECIMAL" />
        <result column="NON_CONFORMING_QTY" property="nonConformingQty" jdbcType="DECIMAL" />
        <result column="ENABLE_TYPE" property="enableType" jdbcType="VARCHAR" />
        <result column="DATA_FROM" property="dataFrom" jdbcType="VARCHAR" />
        <result column="ATTRIBUTE_ID" property="attributeId" jdbcType="DECIMAL" />
        <result column="ATTRIBUTE_TYPE" property="attributeType" jdbcType="VARCHAR" />
        <result column="ATTRIBUTE_INSPECTION_RES" property="attributeInspectionRes" jdbcType="VARCHAR" />
        <result column="PRECISION" property="precision" jdbcType="DECIMAL"/>
        <result column="SAMPLE_WAY_ID" property="sampleWayId" jdbcType="DECIMAL"/>
        <result column="SAMPLE_TYPE" property="sampleType" jdbcType="DECIMAL"/>
        <result column="PARAMETER" property="parameter" jdbcType="DECIMAL"/>
        <result column="INSPECTION_METHOD" property="inspectionMethod" jdbcType="VARCHAR"/>
        <result column="TEMPLATE_LINE_ID" property="templateLineId" jdbcType="DECIMAL" />
        <result column="SAMPLE_PLAN" property="samplePlan" jdbcType="VARCHAR" />
        <result column="IS_LABORATORY" property="isLaboratory" jdbcType="VARCHAR" />
        <result column="SAMPLE_WAY_CODE" property="sampleWayCode" jdbcType="VARCHAR" />
    </resultMap>
    
    <select id="timeItemSelectN" resultMap="BaseResultMap" parameterType="com.hand.hqm.hqm_fqc_inspection_l.dto.FqcInspectionL">
    SELECT temp.attribute_inspection_res,temp.sample_plan
  FROM (SELECT t.attribute_inspection_res,t.sample_plan
          FROM hqm_fqc_inspection_l t
          JOIN hqm_fqc_inspection_h h
            ON t.header_id = h.header_id
         WHERE h.item_id = (SELECT he.item_id FROM hqm_fqc_inspection_h he WHERE he.header_id = #{headerId})
           AND h.source_type = '6'
           AND h.inspection_status = '5'
           AND t.attribute_id = #{attributeId}
         ORDER BY h.inspection_date DESC) temp
 WHERE rownum &lt;= #{valueN}
    </select>
    <select id="selectAttribute" resultMap="BaseResultMap" parameterType="com.hand.hqm.hqm_fqc_inspection_l.dto.FqcInspectionL">
	    SELECT t.line_id,
	       t.header_id,
	       t.attribute_id,
	       t.inspection_attribute,
	       t.order_code,
	       hsm.sample_procedure_type,
	       hsm.inspection_levels,
	       t.quality_character_grade,
	       hsm.acceptance_quality_limit,
	       t.sample_qty,
	       t.standard_type,
	       t.size_code_letter,
	       t.ac,
	       t.re,
	       t.text_standrad,
	       t.standrad_from,
	       t.standrad_to,
	       t.standrad_uom,
	       t.frequency_type,
	       t.frequency,
	       t.inspection_tool,
	       t.remark,
	       t.inspection_count,
	       t.conforming_qty,
	       t.non_conforming_qty,
	       t.attribute_inspection_res,
	       t.enable_type,
	       t.data_from,
	       t.object_version_number,
	       t.attribute_type,
	       t.precision,
	       t.inspection_method,
	       t.sample_way_id,
	       t.parameter,
	       t.fill_in_type,
	       t.sample_plan,
	       hsm.sample_type,
	       hsm.sample_way_code,
	       hia.attribute1 AS is_laboratory
	  FROM hqm_fqc_inspection_l t
	  JOIN hqm_inspection_attribute hia
	    ON t.attribute_id = hia.attribute_id, hqm_sample_manage hsm
	 WHERE 1 = 1
	   AND t.sample_way_id = hsm.sample_way_id
		AND t.header_id = #{headerId}
		ORDER BY t.template_line_id
    </select>
	<!-- fqc检验单行查询 -->
	<select id="query" resultMap="BaseResultMap" parameterType="com.hand.hqm.hqm_fqc_inspection_l.dto.FqcInspectionL">
		SELECT t.line_id,
       t.header_id,
       t.attribute_id,
       t.inspection_attribute,
       t.order_code,
       hsm.sample_procedure_type,
       hsm.inspection_levels,
       t.quality_character_grade,
       hsm.acceptance_quality_limit,
       t.sample_qty,
       t.standard_type,
       t.size_code_letter,
       t.ac,
       t.re,
       t.text_standrad,
       t.standrad_from,
       t.standrad_to,
       t.standrad_uom,
       t.frequency_type,
       t.frequency,
       t.inspection_tool,
       t.remark,
       t.inspection_count,
       t.conforming_qty,
       t.non_conforming_qty,
       t.attribute_inspection_res,
       t.enable_type,
       t.data_from,
       t.object_version_number,
       t.attribute_type,
       t.precision,
       t.inspection_method,
       t.sample_way_id,
       t.parameter,
       t.fill_in_type,
       t.sample_plan,
       hsm.sample_type,
       hia.attribute1 AS is_laboratory
  FROM hqm_fqc_inspection_l t
  JOIN hqm_inspection_attribute hia
    ON t.attribute_id = hia.attribute_id, hqm_sample_manage hsm
 WHERE 1 = 1
   AND t.sample_way_id = hsm.sample_way_id
		<if test="headerId != null">
		AND t.header_id = #{headerId}
		</if>
		<if test="headerId == null">
		AND t.header_id = '-1'
		</if>
		ORDER BY t.template_line_id
	</select>
	
		<select id="queryfornon" resultMap="BaseResultMap" parameterType="com.hand.hqm.hqm_fqc_inspection_l.dto.FqcInspectionL">
		SELECT t.line_id,
       t.header_id,
       t.attribute_id,
       t.inspection_attribute,
       t.order_code,
       hsm.sample_procedure_type,
       hsm.inspection_levels,
       t.quality_character_grade,
       hsm.acceptance_quality_limit,
       t.sample_qty,
       t.standard_type,
       t.size_code_letter,
       t.ac,
       t.re,
       t.text_standrad,
       t.standrad_from,
       t.standrad_to,
       t.standrad_uom,  
       t.frequency_type,
       t.frequency,
       t.inspection_tool,
       t.remark,
       t.inspection_count,
       t.conforming_qty,
       t.non_conforming_qty,
       t.attribute_inspection_res,
       t.enable_type,
       t.data_from,
       t.object_version_number,
       t.attribute_type,
       t.precision,
       t.inspection_method,
       t.sample_way_id,
       t.parameter,
       t.fill_in_type,
       hsm.sample_type
  FROM hqm_fqc_inspection_l t, hqm_sample_manage hsm
 WHERE 1 = 1
   AND t.sample_way_id = hsm.sample_way_id
   and t.attribute_inspection_res='NG'
		<if test="headerId != null">
		AND t.header_id = #{headerId}
		</if>
		<if test="headerId == null">
		AND t.header_id = '-1'
		</if>
		ORDER BY t.attribute_inspection_res,t.attribute_id
	</select>
</mapper>