<#include "../include/header.html">
<body>
<script>

</script>
		<div class="k-widget k-window k-window-titleless" data-role="draggable" style="min-width: 90px; min-height: 50px; width: 400px; display: block; touch-action: none; left: 611.5px; top: 330.5px; z-index: 10003; opacity: 1; transform: scale(1);">
			<div class="modal-content k-dialog-information k-window-content k-content" data-role="dialog" tabindex="0" style="">
				<div class="modal-header"><span class="modal-title">提示</span></div>
					<div class="modal-body" style="">
						<table>
						<tbody>
						<tr>
						<td width="54">
						<span class="fa fa-info-circle"></span>
						</td><td><span>请先选择要打印的数据</span>
						</td>
						</tr>
						</tbody>
						</table>
					</div>
					<div class="modal-footer"><button class="btn btn-primary">确定</button></div>
			</div>
		</div>
</body>
</html>