<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.spc.pspc_count_sample_data_extend.mapper.CountSampleDataExtendMapper">
    <resultMap id="BaseResultMap" type="com.hand.spc.pspc_count_sample_data_extend.dto.CountSampleDataExtend">
        <result column="COUNT_SAMPLE_DATA_EXTEND_ID" property="countSampleDataExtendId" jdbcType="DECIMAL" />
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL" />
        <result column="SITE_ID" property="siteId" jdbcType="DECIMAL" />
        <result column="COUNT_SAMPLE_DATA_ID" property="countSampleDataId" jdbcType="DECIMAL" />
        <result column="EXTEND_ATTRIBUTE" property="extendAttribute" jdbcType="VARCHAR" />
        <result column="EXTEND_VALUE" property="extendValue" jdbcType="VARCHAR" />
    </resultMap>
    <select id="getExtAttribute" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
            csde.extend_attribute,
            csde.extend_value
        FROM
            pspc_count_sample_data_extend csde
            LEFT JOIN pspc_count_sample_data pcsd ON csde.count_sample_data_id = pcsd.count_sample_data_id
        WHERE
            pcsd.count_sample_data_id = #{countSampleDataId,jdbcType=DECIMAL}
    </select>


</mapper>