<#include "../include/header.html"> 
 <script src="${base.contextPath}/common/code?HQM_8D_PROBLEM_SOURCE=HQM_8D_PROBLEM_SOURCE"></script>
 
 <script src="${base.contextPath}/common/code?HQM_8D_PROBLEM_LEVEL=HQM_8D_PROBLEM_LEVEL"></script>
 <script src="${base.contextPath}/common/code?HQM_8D_PROBLEM_TYPE=HQM_8D_PROBLEM_TYPE"></script>
<body>
<style>
  .btn-foot{
        width: 95%;
        position: absolute;
        bottom: 20px;
    }
#_loading_div {
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    z-index: 3;
    line-height: 20;
    opacity: 0.7;
    display: none;
    position: absolute;
    top: 0px;
    background: #f7f7f7;
}

</style>
<script>
var viewModel =Hap.createGridViewModel("#gridItem");
var viewModelD2 = Hap.createGridViewModel("#gridOrder",{
	onCreate:function(e){
		e.data.create();
	}
});
var viewModelTree = kendo.observable({
    model: { },
    query: function (e) {
        $('#gridTree').data('kendoTreeList').dataSourceTree.read();
    },
}); 
viewModel.model.ecrno= "${RequestParameters.ecrno!}";
viewModel.model.readFlag= "N";


Hap.createGridViewModel("#gridOrder",{
	onOrderCreate:function(e){
		e.data.create();
	}
});
if(viewModel.model.ecrno!=null&&viewModel.model.ecrno!=""){
	$.ajax({
	    url: '${base.contextPath}/hpm/ecr/main/duty/single',
	    data:JSON.stringify( viewModel.model.toJSON() ) ,
	    type: 'POST',
	    dataType: 'json',
	    contentType: "application/json;charset=UTF-8",
	    success: function (args) { 
	    	if(args.rows[0]!=null){
	    		viewModel.model.set("mainDuty",args.rows[0].mainDuty);
	    		viewModel.model.set("subDuty",args.rows[0].subDuty);
	    		viewModel.model.set("risk",args.rows[0].risk);
	    		//如果有值证明分配过数据不把所有逻辑都写在这里 用状态标识取区分判断
	    		if(viewModel.model.mainDuty!=null&&viewModel.model.mainDuty!=""){	    				    		
	    			viewModel.model.readFlag= "Y";
	    		}
	    }
	    },
	    async: false
	}); 	 
}
//doucment.getElementById("ecrnot1").value="${RequestParameters.ecrno!'-1'}";
</script>
<div style="width:98%">
	<div class="row" style="margin-top: 5px">
        <div class="col-sm-4">
            <label class="col-sm-3 control-label" style="text-align:left;padding:0px;margin-top:2%"><@spring.message "ecrmain.ecrno"/>:</label>
            <div class="col-sm-4">
                    <input id="ecrnot1" disabled style="width:200%" name="occurPlace" data-bind="value:model.ecrno" data-role="maskedtextbox">
                    <script>
                        kendo.bind($("#ecrnot1"),viewModel);
                    </script>
            </div>
        </div>

        <div class="col-sm-4">
            <label class="col-sm-3 control-label" style="text-align:left;padding:0px;margin-top:2%"><@spring.message "ecrperson.mainperson"/>:</label>
            <div class="col-sm-4">
                    <input id="persont1"   style="width:200%"   data-bind="value:model.mainDuty" autocomplete="off"  data-role="maskedtextbox">
                    <script>
                        if(viewModel.model.readFlag!= "Y"){
                            $("#persont1").kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "HPM_ECR_DUTY")}, {
                                textField: 'mainDuty',
                                valueField: 'mainDuty',
                                model: viewModel.model,
                                query: function (e) {

                                    e.param['ecrno'] = viewModel.model.ecrno;
                                },
                                select: function(e) {
                                    //options.model.set("name", e.item.name);
                                    viewModel.model.categoryThird=e.item.categoryThird;
                                    viewModel.model.categorySecond=e.item.categorySecond;
                                    viewModel.model.categoryFirst=e.item.categoryFirst;
                                    viewModel.model.subPosition=e.item.subPosition;
                                    viewModel.model.mainPosition=e.item.mainPosition;
                                    viewModel.model.email=e.item.email;
                                    viewModel.model.set("subDuty",e.item.subDuty)
                                    ;
                                }
                            }))
                        }
                        else
                            kendo.bind($("#persont1"),viewModel);
                    </script>

            </div>
        </div>

        <div class="col-sm-4">
            <label class="col-sm-3 control-label" style="text-align:left;padding:0px;margin-top:2%"><@spring.message "ecrperson.subperson"/>:</label>
            <div class="col-xs-7">
                    <input id="happendatet1" disabled style="width:100%" name="occurPlace" data-bind="value:model.subDuty" data-role="maskedtextbox">
                    <script>
                        kendo.bind($("#happendatet1"),viewModel);
                    </script>
            </div>
             <div class="col-xs-2">
             <span id="confirms" class="btn btn-primary"  onclick="commit()" type="submit" style="margin-right:5px"><@spring.message "hap.commit"/></span>
             </div>
        </div>
	</div>


  <!-- div id="mainBottom" class="text-center btn-foot" style=" position: fixed;  float: left;padding-top:15px;width:100%; background: #fff;">
        <span id="confirms" class="btn btn-primary"  onclick="commit()" type="submit" style="margin-right:5px"><@spring.message "hap.commit"/></span>
        <span class="btn btn-default" data-bind="click:closeWin" type="button" style="margin-right:25px;"><@spring.message "hap.cancel"/></span>
 </div> --> 
</div>
<script type="text/javascript">	
//点击现有申请单进入界面时，不允许修改
var loading = {
    baosight: {
        showPageLoadingMsg: function (showMessage) {
            if ($("#_loading_div").length == 0) {
                $("body").append('<div id="_loading_div" style="font-size: 24px"> <i class="fa fa-refresh fa-spin"></i><span><@spring.message "calberporder.info"/></span></div>');
            }
            $("#_loading_div").show();
        },
        hidePageLoadingMsg: function () {
            $("#_loading_div").hide();
        }
    }
}

var webWidth=window.screen.availHeight*0.2; 
$('#gridItem').css("height",webWidth); 

if(viewModel.model.readFlag=="Y"){
	$("#confirms").kendoButton({
	    enable: false
	});
	$("#persont1").attr("readOnly","true") ;
}

function commit(){
	if(viewModel.model.readFlag=="Y"){
		return;
	}
	 if(viewModel.model.mainDuty==null||viewModel.model.mainDuty==''){
		 kendo.ui.showInfoDialog({
             title: $l('hap.tip.info'),
             message: "请选择主负责人后进行确认"
         });
	 }	
	 loading.baosight.showPageLoadingMsg(true);
	 var data= viewModel.model.toJSON();
	 $.ajax({
	        url: '${base.contextPath}/hpm/ecr/main/duty',
	        data:JSON.stringify( data ) ,
	        type: 'POST',
	        dataType: 'json',
	        contentType: "application/json;charset=UTF-8",
	        success: function (args) {
	        	if(args.success){
	        	 kendo.ui.showInfoDialog({
                     title: $l('hap.tip.info'),
                     message: "成功"
                 });
	        	}
	        	else{
	        		kendo.ui.showInfoDialog({
	                     title: $l('hap.tip.info'),
	                     message:args.message
	                 });
	        	}
	        	loading.baosight.hidePageLoadingMsg();
	        },
	        async: true
	    });
 }
var BaseUrl = _basePath;
var dataSource = new kendo.data.DataSource({
    transport: {
    	   read: {
               url: BaseUrl + "/hpm/ecr/influencedmaterial/bsquery",
               type: "POST",
               dataType: "json"
           } ,
        parameterMap: function (options, type) {
            if (type !== "read" && options.models) {
                var datas = Hap.prepareSubmitParameter(options, type)
                return kendo.stringify(datas);
            } else if (type === "read") {
                return Hap.prepareQueryParameter(viewModel.model.toJSON(), options)
            }
        }
    },
    batch: true,
    serverPaging: true,
    pageSize: 10,
    schema: {
    	data: 'rows',
        total: 'total',
        model: {
            id: "itemId",
            fields: {
            	itemCode:{
                    
                     validation:{
                         required:true,
                         custom:function(e){
                        	 if(e[0]!= undefined && e[0] != ""){
                 			var length=e[0].value;
                 			var datas=$("#gridItem").data('kendoGrid').dataSource.data();
                 			$.each(datas,function(i,v){
                 				if(v.itemId==length){
                 					  
                 					return false;
                 				}
                 			});
                        	 }
                 			return true;
                 		}
                        
                     }
                 }
            },
            editable: function (col) {
            	 
                if (col == 'itemCode') {
                	if (!this.isNew()) {
                        return false;
                    }
                    return true;
                };
                if (col == 'itemDescription') {
                    if (!this.isNew()) {
                        return false;
                    }
                    return true;
                };
                return false;
            }
        }
    }
});

var grid = $("#gridItem").kendoGrid({
    dataSource: dataSource,
    resizable: true,
    scrollable: true,
    navigatable: false,
    sortable:true,
    selectable: 'multiple, rowbox',  
   // detailInit: detailInit,
    dataBound: function () {
        if (parent.autoResizeIframe) {
            parent.autoResizeIframe('${RequestParameters.functionCode!}')
        }
    },
    
    columns: [
        {
            field: "mainPerson",
            title: '<@spring.message "ecrperson.mainperson"/>',
            width: 120,
            
        },
                {
            field: "subPerson",
            title: '<@spring.message "ecrperson.subperson"/>',
            width: 120
        },
        {
            field: "itemCode",
            title: '<@spring.message "asl.itemcode"/>',
            width: 120,
            require:true,
            template: function (dataItem) {
                return dataItem['itemCode'] || ''
            },
            editor: function (container, options) {
                $('<input name="' + options.field + '"/>')
                    .appendTo(container)
                    .kendoLov($.extend(<@lov "LOV_ITEM"/>, {
                    valueField: "itemId",
                    textField: 'itemCode',
                    model: options.model,
                    select: function(e) {
                        //options.model.set("itemId", e.item.itemId);
                         var datas=$("#gridItem").data('kendoGrid').dataSource.data();
             			var check=true;
             			$.each(datas,function(i,v){
             				if(v.itemId==e.item.itemId){
             					 kendo.ui.showErrorDialog({
            	                     title: $l('hap.tip.info'),
            	                     message: $l('<@spring.message "ecrmain.itemtip"/>')
            	                 });
             					 e.item.itemCode="";
             					  options.model.itemId="";
             					 options.model.itemCode="";
                                  options.model.set("itemDescription", ""); 
                                  check= false;
                                  return false;
             				}
             			});
                       if(check){
                    	   options.model.itemId=e.item.itemId;
                           options.model.set("itemDescription", e.item.itemDescriptions); 
                       }
                      
                    }
                }));
            }
        },
        {
            field: "itemDescription",
            title: '<@spring.message "asl.itemname"/>',
            width: 120
        },
        {
            field: "itemLevel1",
            title: '<@spring.message "ecrperson.itemLevel1"/>',
            width: 120
        },
        {
            field: "itemLevel2",
            title: '<@spring.message "ecrperson.itemLevel2"/>',
            width: 120
        },
        {
            field: "itemLevel3",
            title: '<@spring.message "ecrperson.itemLevel3"/>',
            width: 120
        },
      
            
    ],
    editable: true
}).data("kendoGrid");
 
 
 

</script>
</body>

