<#include "../include/header.html">

<script src="${base.contextPath}/common/code?YES_NO=SYS.YES_NO" type="text/javascript"></script>
<script src="${base.contextPath}/common/code?NPI_METERING_COUNT=NPI_METERING_COUNT"></script>
<script src="${base.contextPath}/common/code?HQM_STANDARD_UOM=HQM_STANDARD_UOM"></script>

<script type="text/javascript">
	var BaseUrl = _basePath;
	var specId = '${RequestParameters.specId!0}';
    var viewModel = Hap.createGridViewModel(null,{
    	model:{
    		'specId':specId
    	},
    	closeWin:function(e) {
    		window.parent.$("#detailInfo").data("kendoWindow").close();
    	},
    	save:function(){
    		//修改方法逻辑 版本字段去除前后缀 
    		viewModel.model.__status = 'update';
    		//设置所有数据的dirty为true
    		
             var ds2 = $("#detailGrid").data("kendoGrid").dataSource;
             $.each(ds2.data(), function (idx, data) {
                 if (data.dirty != true) {
                	 data.dirty = true;
                 }
             });
             
            Hap.submitForm({
                url: '${base.contextPath}/npi/technology/spec/submit',
                formModel: viewModel.model,
                grid: {"matList": $("#matGrid"), "detailList": $("#detailGrid")},
                success: function (data) {
                	viewModel.closeWin();
                }
            });
    	}
    });
    var viewModelDet = Hap.createGridViewModel("#detailGrid",{
        model:{
        	field:{
        		/* specRequirement:{validation: {required: true}} */
        	}        	
        },
        save:function () {
        },
        remove: function () {
                Hap.deleteGridSelection({
                    grid: $('#detailGrid')
                });
        },
    });
    
    $.ajax({
		url:"${base.contextPath}/npi/technology/specList/info?specId="+specId,
		type:"POST",
		//data:ticketIdData,
		dataType:'json',
		success: function(data){
			viewModel.model.set('technologyActionNumber',data.rows[0].technologyActionNumber) ;
            viewModel.model.set('versionCode',data.rows[0].versionCode);
            viewModel.model.set('standardWorkingHours',data.rows[0].standardWorkingHours);
            viewModel.model.set('specRemark',data.rows[0].specRemark);
            viewModel.model.set('_token',data.rows[0]._token);
		}
	});
    
    $.ajax({
		url:"${base.contextPath}/npi/technology/spec/mat/detail/query?specId="+specId,
		type:"POST",
		dataType:'json',
		success: function(data){
            viewModel.model.set('sparePartId',data.rows[0].materielAttributeNumber);
            viewModel.model.set('detailsName',data.rows[0].detailsName);
		}
	});
</script>

<body>

<div id="page-content">
	<form id = "mainForm" style="paddiing-bottom:50px;padding-top:15px" class="form-horizontal" method="post" enctype="application/json;charset=UTF-8">
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<div class="col-sm-12">
						<label class="col-sm-4 control-label">标准工艺动作<span style="color:red;">*</span></label>
						<div class="col-sm-8">
							<input style="width:100%" id="technologyActionNumber"  
								data-bind="value:model.technologyActionNumber"  readonly="readonly" >
						</div>
						<script>
							$('#technologyActionNumber').kendoComboBox({
								filter:"contains",
								valuePrimitive:true,
								dataTextField:"text",
								dataValueField:"value",
								dataSource:{
									transport:{
										read:_basePath + "/npi/technology/queryTestActionName",
									}
								}
							}).data("kendoComboBox");
						</script>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<div class="col-sm-12">
						<label class="col-sm-4 control-label">版本</label>
						<div class="col-sm-8">
							<input style="width:100%" id="versionCode"  data-role="maskedtextbox" class="k-textbox"
								data-bind="value:model.versionCode" readonly="readonly">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 10px;">
			<div class="col-sm-6">
				<div class="form-group">
					<div class="col-sm-12">
						<label class="col-sm-4 control-label">标准工时（S）<span style="color:red;">*</span></label>
						<div class="col-sm-8">
							<input style="width:100%" id="standardWorkingHours"  data-role="maskedtextbox" class="k-textbox"
								data-bind="value:model.standardWorkingHours" readonly="readonly">
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<div class="col-sm-12">
						<label class="col-sm-4 control-label">产品序列<span style="color:red;">*</span></label>
						<div class="col-sm-8">
							<input style="width:100%" id="sparePartId" data-bind="value:model.sparePartId,text:model.detailsName" readonly="readonly" >
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 10px;">
			<div class="col-sm-12">
				<div class="form-group">
					<div class="col-sm-12">
						<label class="col-sm-2 control-label">备注<span style="color:red;">*</span></label>
						<div class="col-sm-10">
							<input style="width:100%;" id=specRemark  data-role="maskedtextbox" class="k-textbox" maxlength = "20"
								data-bind="value:model.specRemark" readonly="readonly" >
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div style="clear:both">
		<span>要求明细</span>
		<div id="page-detailcontent">
		</div>
	</div>
	<div style="clear:both">
		<div id="detailGrid"></div>
	</div>
	<div id="mainBottom" class="text-right" style="bottom:15px;position:fixed;float:left;padding-top:15px;border-top:1px solid #e8e1eb;
		width:100%;background:#fff;margin-right:30px">
			<span class="btn btn-default" data-bind="click:closeWin" type="button" style="margin-right:25px">取消</span>
	</div>
	<script>
		kendo.bind($('#mainForm'), viewModel);
		kendo.bind($('#mainBottom'), viewModel);
	</script>
	<script>
		$('#mainForm').kendoValidator({
			messages:{
				required:'<@spring.message "hap.validation.notempty"/>'
			},
			invalidMessageType:"tooltip"
		});
	</script>
<script>
    var BaseUrl = _basePath;
    var dataSourceDet = new kendo.data.DataSource({
        transport: {
            read: {
                url: BaseUrl + "/npi/technology/spec/detail/query",
                type: "POST",
                dataType: "json"
            },
            destroy: {
                url: BaseUrl + "/npi/technology/spec/detail/remove",
                type: "POST",
                contentType: "application/json"
            },
            create:{
                url: BaseUrl + "/npi/technology/spec/detail/submit",
                type: "POST",
                contentType: "application/json",
                async: true
            },
            parameterMap: function (options, type) {
                if (type !== "read" && options.models) {
                    var datas = Hap.prepareSubmitParameter(options, type);
                    return kendo.stringify(datas);
                } else if (type === "read") {
                	viewModelDet.model.specId = specId
                    return Hap.prepareQueryParameter(viewModelDet.model.toJSON(), options)
                }
            }
        },
        batch: true,
        serverPaging: true,
        pageSize: 20,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "standardActionId",
                editable:function(col){
                	if(col == 'technologyActionNumber') {
                		return false;
                	}
                	return true;
                }
            }
        }
    });

</script>

<script>
	
    var detailGrid = $("#detailGrid").kendoGrid({
        dataSource: dataSourceDet,
        resizable: true,
        scrollable: true,
        navigatable: false,
        //sortable:true,
        autoBind:true,
        selectable: 'multiple, rowbox',
        dataBound: function () {
            if (parent.autoResizeIframe) {
                parent.autoResizeIframe('${RequestParameters.functionCode!}')
            }
        },
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        columns: [
        	{
                field: "specRequirement",
                title: 'SPEC要求',
                width: 120,
                headerAttributes: {
                    style: "text-align: center"
                },
                attributes: {
                    style: "text-align: center"
                } ,
                editor: function (container, options) {
                    $('<input required type="text" class="k-input k-textbox" name="' + options.field + '"/>').appendTo(container);
                }
            },
            {
                field: "meteringCount",
                title: '计量/计数',
                width: 120,
                headerAttributes: {
                    style: "text-align: center"
                },
                attributes: {
                    style: "text-align: center"
                },
                template: function (dataItem) {
                    var v = dataItem.meteringCount ? dataItem.meteringCount : "";
                    $.each(NPI_METERING_COUNT, function (i, n) {
                        if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
                            v = n.meaning;
                            return v;
                        }
                    });
                    return v;
                },
                editor: function (container, options) {
                    $('<input required name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            dataTextField: "meaning",
                            dataValueField: "value",
                            valuePrimitive: true,
                            dataSource: NPI_METERING_COUNT
                        });
                }
            },
            {
                field: "lowerLimit",
                title: '下限',
                width: 120,
                headerAttributes: {
                    style: "text-align: center"
                },
                attributes: {
                    style: "text-align: center"
                }
            },
            {
                field: "upperLimit",
                title: '上限',
                width: 120,
                headerAttributes: {
                    style: "text-align: center"
                },
                attributes: {
                    style: "text-align: center"
                }
            },
            {
                field: "unit",
                title: '单位',
                width: 120,
                headerAttributes: {
                    style: "text-align: center"
                },
                attributes: {
                    style: "text-align: center"
                },
                template: function (dataItem) {
                    var v = dataItem.unit ? dataItem.unit : "";
                    $.each(HQM_STANDARD_UOM	, function (i, n) {
                        if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
                            v = n.meaning;
                            return v;
                        }
                    });
                    return v;
                },
                editor: function (container, options) {
                    $('<input required name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            dataTextField: "meaning",
                            dataValueField: "value",
                            valuePrimitive: true,
                            dataSource: HQM_STANDARD_UOM	
                        });
                }
            },
            {
                field: "characteristicId",
                title: '特性分类',
                width: 120,
                headerAttributes: {
                    style: "text-align: center"
                },
                attributes: {
                    style: "text-align: center"
                },
                template:function (dataItem) {
                    var result = dataItem.characteristicName;
                    return result||'';
                },
                editor:function (container, options){
                        $('<input name="'+options.field+'" required>').appendTo(container).kendoComboBox({
                            valuePrimitive: true,
                            dataTextField: "text",
                            dataValueField: "value",
                            clearNoData: false,
                            model: options.model,
                            dataSource:{
								transport:{
									read:_basePath + "/npi/technology/queryCharacteristicName",
								}
							},
	                        select:function(e) {
	                        	options.model.set('characteristicName',e.item[0].textContent);
	                        }
                        });
                }
            },
            {
                field: "msa",
                title: 'MSA',
                width: 120,
                headerAttributes: {
                    style: "text-align: center"
                },
                attributes: {
                    style: "text-align: center"
                }
            },
            {
                field: "spc",
                title: 'SPC',
                width: 120,
                headerAttributes: {
                    style: "text-align: center"
                },
                attributes: {
                    style: "text-align: center"
                }
            }
        ],
        editable: false
    }).data("kendoGrid");
    
    kendo.bind($("#mainForm"), viewModel);
    $("#sparePartId").kendoLov($.extend( <@lov "SPARE_PART_CODE_DETAIL" /> , {
        textField: 'detailsName',
        valueField: 'sparePartId',
        change: function() {
            viewModel.model.sparePartId = this._dataItem.sparePartId;
        }
    }));
</script>
</div>
</body>
</html>