<#include "../include/header.html">
<script src="${base.contextPath}/common/code?position_codes=HPM_ECR_POSITION_NAME"></script>
<script src="${base.contextPath}/common/code?position_types=HPM_ECR_POSITION_CATRGORY"></script>

<script type="text/javascript">
    var positionId = "${RequestParameters.positionId!0}";
    var BaseUrl = _basePath;
    var viewModel = Hap.createGridViewModel(null,{
        model:{
            positionId:positionId
        },
        closeWin:function(e) {
            window.parent.$("#userNewWindow").data("kendoWindow").close();
        },
        save:function(){
            var data = viewModel.model.toJSON();
            data.__status = "add";
            var validator = $("#mainForm").data("kendoValidator");
            if(validator.validate()) {
                Hap.request({
                    url: BaseUrl + "/hcm/position/user/add",
                    data: kendo.stringify(data),
                    success:function(data){
                        if(data.success){
                            viewModel.closeWin();
                        }
                    }
                })
            }
        },

    });
</script>

<body>

<div id="page-content">
    <form id = "mainForm" style="paddiing-bottom:50px;padding-top:15px" class="form-horizontal" method="post" enctype="application/json;charset=UTF-8">
        <div class="row">
            <div class="col-sm-9">
                <div class="form-group" style="text-align: center">
                    <div class="col-sm-12">
                        <label class="col-sm-4 control-label">KO号</label>
                        <input style="width:50%" id="userId"
                               data-bind="value:model.userId" data-label="KO号" required>
                        <script>
                            $("#userId").kendoLov($.extend(<@lov "user_employee_lov"/>,{
                                select:function (e) {
                                    viewModel.model.set("employeeName",e.item.employeeName);
                                }
                            }));
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="form-group" style="text-align: center">
                    <div class="col-sm-12">
                        <label class="col-sm-4 control-label">姓名</label>
                        <input style="width:50%" id="employeeName" data-role="maskedtextbox" class="k-textbox"
                               data-bind="value:model.employeeName" data-label="姓名"  disabled>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div style="clear:both">
        <div id="grid"></div>
    </div>
    <div id="mainBottom" class="text-right" style="bottom:15px;position:fixed;float:left;padding-top:15px;border-top:1px solid #e8e1eb;
		width:100%;background:#fff;margin-right:30px">
        <span class="btn btn-primary" data-bind="click:save" type="submit" style="margin-right:5px">保存</span>
        <span class="btn btn-default" data-bind="click:closeWin" type="button" style="margin-right:25px">取消</span>
    </div>
    <script>
        kendo.bind($('#mainForm'), viewModel);
        kendo.bind($('#mainBottom'), viewModel);
    </script>
    <script>
        $('#mainForm').kendoValidator({
            messages:{
                required:'<@spring.message "hap.validation.notempty"/>'
            },
            invalidMessageType:"tooltip"
        });
    </script>
</div>
</body>
</html>