<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hcm.hcm_operation_sequences.mapper.OperationSequencesMapper">
    <resultMap id="BaseResultMap" type="com.hand.hcm.hcm_operation_sequences.dto.OperationSequences">
        <result column="ROUTING_ID" property="routingId" jdbcType="DECIMAL" />
        <result column="OPERATION_SEQUENCE_ID" property="operationSequenceId" jdbcType="DECIMAL" />
        <result column="OPERATION_SEQ_NUM" property="operationSeqNum" jdbcType="DECIMAL" />
        <result column="STANDARD_OP_ID" property="standardOpId" jdbcType="DECIMAL" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="KEY_OP_FLAG" property="keyOpFlag" jdbcType="VARCHAR" />
        <result column="MOVE_TYPE" property="moveType" jdbcType="VARCHAR" />
        <result column="INSPECT_TYPE" property="inspectType" jdbcType="VARCHAR" />
        <result column="CHARGE_TYPE" property="chargeType" jdbcType="VARCHAR" />
        <result column="PROCESS_TIME" property="processTime" jdbcType="DECIMAL" />
        <result column="WORK_TIME" property="workTime" jdbcType="DECIMAL" />
        <result column="OPERATION_DOCUMENT" property="operationDocument" jdbcType="VARCHAR" />
        <result column="PROCESS_PROGRAM" property="processProgram" jdbcType="VARCHAR" />
        <result column="START_DATE" property="startDate" jdbcType="DATE" />
        <result column="END_DATE" property="endDate" jdbcType="DATE" />
        <result column="CID" property="cid" jdbcType="DECIMAL" />
    </resultMap>
<select id="lovSelect" resultMap="BaseResultMap" parameterType="com.hand.hcm.hcm_operation_sequences.dto.OperationSequences">
SELECT t.* FROM hcm_operation_sequences t
</select>
</mapper>