<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.spc.pspc_sample_data.mapper.SampleDataMapper">
    <resultMap id="BaseResultMap" type="com.hand.spc.pspc_sample_data.view.SampleDataQueryVO">
        <result column="SAMPLE_DATA_ID" property="sampleDataId" jdbcType="DECIMAL" />
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL" />
        <result column="SITE_ID" property="siteId" jdbcType="DECIMAL" />
        <result column="ATTACHMENT_GROUP_ID" property="attachmentGroupId" jdbcType="DECIMAL" />
        <result column="SAMPLE_VALUE" property="sampleValue" jdbcType="DECIMAL" />
        <result column="SAMPLE_TIME" property="sampleTime" jdbcType="TIMESTAMP" />
        <result column="CE_GROUP_ID" property="ceGroupId" jdbcType="DECIMAL" />
        <result column="CE_PARAMETER_ID" property="ceParameterId" jdbcType="DECIMAL" />
        <result column="EDITED" property="edited" jdbcType="VARCHAR" />
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP" />

        <!--拓展字段-->
        <result column="ATTACHMENT_GROUP_DESCRIPTION" property="attachmentGroupDescription" jdbcType="VARCHAR" />
        <result column="CE_GROUP" property="ceGroup" jdbcType="VARCHAR" />
        <result column="CE_PARAMETER" property="ceParameter" jdbcType="VARCHAR" />

    </resultMap>


    <!--数据查询 若添加条件：可以扩充-->
    <select id="queryBaseData" resultMap="BaseResultMap" parameterType="com.hand.spc.pspc_sample_data.view.SampleDataQueryVO">
        SELECT
            psd.*,
            pag.ATTACHMENT_GROUP_DESCRIPTION,
            pcg.CE_GROUP,
            pcp.CE_PARAMETER
        FROM
            PSPC_SAMPLE_DATA psd
            LEFT JOIN PSPC_CE_PARAMETER pcp ON psd.CE_PARAMETER_ID = pcp.CE_PARAMETER_ID
            LEFT JOIN PSPC_ATTACHMENT_GROUP pag ON psd.ATTACHMENT_GROUP_ID = pag.ATTACHMENT_GROUP_ID
            LEFT JOIN PSPC_CE_GROUP pcg ON psd.CE_GROUP_ID = pcg.CE_GROUP_ID
        WHERE
            1 =1
        <if test="attachmentGroupId != null and attachmentGroupId != ''">
            AND psd.ATTACHMENT_GROUP_ID = #{attachmentGroupId}
        </if>
        <if test="ceGroupId != null and ceGroupId != ''">
            AND psd.CE_GROUP_ID = #{ceGroupId}
        </if>
        <if test="ceParameterId != null and ceParameterId != ''">
            AND psd.CE_PARAMETER_ID = #{ceParameterId}
        </if>
        <if test="startTime != null and startTime != ''">
            AND psd.SAMPLE_TIME >= TO_DATE(#{startTime}, 'yyyy-MM-dd  HH24:Mi:ss')
        </if>
        <if test="endTime != null and endTime != ''">
            AND psd.SAMPLE_TIME &lt;= TO_DATE(#{endTime}, 'yyyy-MM-dd HH24:Mi:ss')
        </if>
    </select>

</mapper>