<!--
    参与的流程
-->
<#include "../include/header.html">
<body>
<script src="${base.contextPath}/resources/js/wfl/wfl.js"></script>
<script src="${base.contextPath}/lib/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="${base.contextPath}/lib/assets/global/plugins/jquery-ui/jquery-ui.min.js"></script>
<link href="${base.contextPath}/lib/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"
      type="text/css"/>
<link href="${base.contextPath}/lib/custom2.css" rel="stylesheet" type="text/css"/>

<!-- <div class="approve-block">
    <h3>审批事项</h3>
    <table id="itemTable" class="approve-table">
        <tr>
            <td style="width: 170px;" class="item-label">流程</td>
            <td style="width: 250px;" class="item-value" id="td-workflow-name"></td>
            <td style="width: 170px;" class="item-label">申请时间</td>
            <td style="width: 250px;" class="item-value" id="td-startTime"></td>
        </tr>
        <tr>
            <td style="width: 170px;" class="item-label">流程ID</td>
            <td style="width: 250px;" class="item-value" id="td-processNum"></td>
            <td style="width: 170px;" class="item-label">申请人</td>
            <td style="width: 250px;" id="td-startUserName" class="item-value"></td>
        </tr>
        <tr>
            <td style="width: 170px;" class="item-label">流程描述</td>
            <td colspan="3" class="item-value" id="td-workflow-description"></td>
        </tr>
    </table>
</div> -->

<!--
    自己的业务单据界面，可参考：WEB-INF/view/plan/wfl_planning_detail.html
-->

