<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hqm.hqm_pqc_calendar_c.mapper.PqcCalendarCMapper">
    <resultMap id="BaseResultMap" type="com.hand.hqm.hqm_pqc_calendar_c.dto.PqcCalendarC">
        <result column="CALENDAR_ID" property="calendarId" jdbcType="DECIMAL" />
        <result column="CALENDAR_C_ID" property="calendarCId" jdbcType="DECIMAL" />
        <result column="PWA_PERSON" property="pwaPerson" jdbcType="DECIMAL" />
        <result column="PWA_STATUS" property="pwaStatus" jdbcType="VARCHAR" />
    </resultMap>


</mapper>