<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.spc.his.mapper.CountStatisticHisMapper">
    <resultMap id="BaseResultMap" type="com.hand.spc.his.dto.CountStatisticHis">
        <result column="COUNT_STATISTIC_HIS_ID" property="countStatisticHisId" jdbcType="DECIMAL" />
        <result column="COUNT_STATISTIC_ID" property="countStatisticId" jdbcType="DECIMAL" />
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL" />
        <result column="SITE_ID" property="siteId" jdbcType="DECIMAL" />
        <result column="COUNT_SAMPLE_DATA_ID" property="countSampleDataId" jdbcType="DECIMAL" />
        <result column="ENTITY_CODE" property="entityCode" jdbcType="VARCHAR" />
        <result column="ENTITY_VERSION" property="entityVersion" jdbcType="VARCHAR" />
        <result column="SUBGROUP_NUM" property="subgroupNum" jdbcType="DECIMAL" />
        <result column="SAMPLE_VALUE_COUNT" property="sampleValueCount" jdbcType="DECIMAL" />
        <result column="UNQUALIFIED_QUANTITY" property="unqualifiedQuantity" jdbcType="DECIMAL" />
        <result column="SAMPLE_TIME" property="sampleTime" jdbcType="DATE" />
        <result column="UNQUALIFIED_PERCENT" property="unqualifiedPercent" jdbcType="DECIMAL" />
        <result column="UPPER_CONTROL_LIMIT" property="upperControlLimit" jdbcType="DECIMAL" />
        <result column="CENTER_LINE" property="centerLine" jdbcType="DECIMAL" />
        <result column="LOWER_CONTROL_LIMIT" property="lowerControlLimit" jdbcType="DECIMAL" />
        <result column="UPPER_SPEC_LIMIT" property="upperSpecLimit" jdbcType="DECIMAL" />
        <result column="SPEC_TARGET" property="specTarget" jdbcType="DECIMAL" />
        <result column="LOWER_SPEC_LIMIT" property="lowerSpecLimit" jdbcType="DECIMAL" />
    </resultMap>


</mapper>