<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.spc.his.mapper.SampleSubgroupHisMapper">
    <resultMap id="BaseResultMap" type="com.hand.spc.his.dto.SampleSubgroupHis">
        <result column="SAMPLE_SUBGROUP_HIS_ID" property="sampleSubgroupHisId" jdbcType="DECIMAL" />
        <result column="SAMPLE_SUBGROUP_ID" property="sampleSubgroupId" jdbcType="DECIMAL" />
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL" />
        <result column="SITE_ID" property="siteId" jdbcType="DECIMAL" />
        <result column="SUBGROUP_NUM" property="subgroupNum" jdbcType="DECIMAL" />
        <result column="ENTITY_CODE" property="entityCode" jdbcType="VARCHAR" />
        <result column="ENTITY_VERSION" property="entityVersion" jdbcType="VARCHAR" />
        <result column="SUBGROUP_SIZE" property="subgroupSize" jdbcType="DECIMAL" />
        <result column="EXIST_NUM" property="existNum" jdbcType="DECIMAL" />
        <result column="SAMPLE_SUBGROUP_TIME" property="sampleSubgroupTime" jdbcType="DATE" />
        <result column="SAMPLE_CALCULATE_STATUS" property="sampleCalculateStatus" jdbcType="VARCHAR" />
        <result column="SAMPLE_MODIFIED" property="sampleModified" jdbcType="VARCHAR" />
    </resultMap>


</mapper>