<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.itf.itf_supplier_materials.mapper.SupplierMaterialsMapper">
    <resultMap id="BaseResultMap" type="com.hand.itf.itf_supplier_materials.dto.SupplierMaterials">
        <result column="SUPPLIER_MATERIALS_ID" property="supplierMaterialsId" jdbcType="DECIMAL" />
        <result column="BATCH_NUMBER" property="batchNumber" jdbcType="VARCHAR" />
        <result column="PROCESS_STATUS" property="processStatus" jdbcType="VARCHAR" />
        <result column="MESSAGE" property="message" jdbcType="VARCHAR" />
        <result column="PROCESS_TIME" property="processTime" jdbcType="DATE" />
        <result column="WERKS" property="werks" jdbcType="VARCHAR" />
        <result column="MATNR" property="matnr" jdbcType="VARCHAR" />
        <result column="LIFNR" property="lifnr" jdbcType="VARCHAR" />
        <result column="VDATU" property="vdatu" jdbcType="VARCHAR" />
        <result column="BDATU" property="bdatu" jdbcType="VARCHAR" />
        <result column="EKGRP" property="ekgrp" jdbcType="VARCHAR" />
        
        <result column="UNTTO" property="untto" jdbcType="VARCHAR" />
        <result column="UEBTO" property="uebto" jdbcType="VARCHAR" />
        <result column="APLFZ" property="aplfz" jdbcType="VARCHAR" />
    </resultMap>


</mapper>