<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hqm.hqm_online_sku_rule_his.mapper.OnlineSkuRuleHisMapper">
    <resultMap id="BaseResultMap" type="com.hand.hqm.hqm_online_sku_rule_his.dto.OnlineSkuRuleHis">
        <result column="EVENT_ID" property="eventId" jdbcType="DECIMAL" />
        <result column="EVENT_BY" property="eventBy" jdbcType="DECIMAL" />
        <result column="EVENT_TIME" property="eventTime" jdbcType="DATE" />
        <result column="KID" property="kid" jdbcType="DECIMAL" />
        <result column="PLANT_ID" property="plantId" jdbcType="DECIMAL" />
        <result column="SKU_TYPE" property="skuType" jdbcType="VARCHAR" />
        <result column="INSPECT_QTY" property="inspectQty" jdbcType="DECIMAL" />
        <result column="PASS_PERCENT" property="passPercent" jdbcType="DECIMAL" />
        <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR" />
    </resultMap>


</mapper>