<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.npi.npi_technology.mapper.ComposeProductMapper">
    <resultMap id="BaseResultMap" type="com.hand.npi.npi_technology.dto.ComposeProduct">
        <result column="ASS_ITEM_ID" property="assItemId" jdbcType="DECIMAL" />
        <result column="ASS_ITEM_CODE" property="assItemCode" jdbcType="VARCHAR" />
        <result column="ASS_ITEM_NAME" property="assItemName" jdbcType="VARCHAR" />
        <result column="ROUTE_ID" property="routeId" jdbcType="DECIMAL" />
        <result column="ROUTE_VERSION" property="routeVersion" jdbcType="VARCHAR" />
        <result column="WP_ID" property="wpId" jdbcType="DECIMAL" />
        <result column="WP_VERSION" property="wpVersion" jdbcType="VARCHAR" />
    </resultMap>


</mapper>