<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.npi.npi_route.mapper.TechnologyWpMaterielRefMapper">
    <resultMap id="BaseResultMap" type="com.hand.npi.npi_route.dto.TechnologyWpMaterielRef">
        <result column="AUX_MAT_REF_ID" property="auxMatRefId" jdbcType="DECIMAL" />
        <result column="MAT_ATTR_CODE" property="matAttrCode" jdbcType="VARCHAR" />
        <result column="WP_AUX_ID" property="wpAuxId" jdbcType="DECIMAL" />
    </resultMap>


</mapper>