<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.spc.repository.mapper.GetCodeValuesMapper">
    <resultMap id="BaseResultMap" type="com.hand.hap.system.dto.CodeValue" extends="com.hand.hap.mapper.StdMapper.STD">
        <id column="CODE_VALUE_ID" property="codeValueId" jdbcType="DECIMAL"/>
        <result column="CODE_ID" property="codeId" jdbcType="DECIMAL"/>
        <result column="VALUE" property="value" jdbcType="VARCHAR"/>
        <result column="MEANING" property="meaning" jdbcType="VARCHAR"/>
        <result column="ORDER_SEQ" property="orderSeq" jdbcType="DECIMAL"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="TAG" property="tag" jdbcType="VARCHAR"/>
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR"/>
        <result column="PARENT_CODE_VALUE_ID" property="parentCodeValueId" jdbcType="DECIMAL"/>
        <result column="PARENT_CODE_VALUE" property="parentCodeValue" jdbcType="VARCHAR"/>
        <result column="PARENT_CODE_VALUE_MEANING" property="parentCodeValueMeaning" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getCodeValues" resultMap="BaseResultMap" parameterType="string">
        SELECT SCVB.CODE_ID, SCVB.VALUE, SCVB.MEANING
        FROM SYS_CODE_VALUE_B SCVB
        INNER JOIN SYS_CODE_B SCB
        ON (SCB.CODE_ID = SCVB.CODE_ID)
        WHERE SCB.CODE = #{codeName}
    </select>

</mapper>