<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hqm.hqm_measure_tool_msa.mapper.MeasureToolMsaMapper">
    <resultMap id="BaseResultMap" type="com.hand.hqm.hqm_measure_tool_msa.dto.MeasureToolMsa">
        <result column="MEASURE_TOOL_MSA_ID" property="measureToolMsaId" jdbcType="DECIMAL" />
        <result column="MEASURE_TOOL_ID" property="measureToolId" jdbcType="DECIMAL" />
        <result column="MSA_CONTENT" property="msaContent" jdbcType="VARCHAR" />
        <result column="MSA_RESULT" property="msaResult" jdbcType="VARCHAR" />
    </resultMap>


</mapper>