<#include "../include/header.html">
<script src="${base.contextPath}/lib/prints/JsBarcode.all.min.js" type="text/javascript"></script>
<script src="${base.contextPath}/lib/prints/jquery-barcode.js" type="text/javascript"></script>
<script src="${base.contextPath}/lib/prints/jquery-qrcode.min.js" type="text/javascript"></script>
<script src="${base.contextPath}/lib/prints/qrcode.js" type="text/javascript"></script>
<script src="${base.contextPath}/lib/prints/doc_print.js" type="text/javascript" charset="UTF-8"></script>
<script src="${base.contextPath}/lib/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="${base.contextPath}/common/code?TMstatusds=SRM_BARCODE_STATUS"></script>
<script src="${base.contextPath}/common/code?yesorno=SRM_YES_NO"></script>
<script src="${base.contextPath}/common/code?packingLevelds=SRM_PACKING_MODE"></script>
<script src="${base.contextPath}/common/code?SRM_PURCHASE_GROUP=SRM_PURCHASE_GROUP"></script>
<script type="text/javascript">
    var viewModel = Hap.createGridViewModel("#grid");
    var supplierId = "";
    var supplierName = "";
    var supplierCode = "";
    $(function(){
    	if(window.innerHeight > 400){
	    	$('#tab2-id').height(window.innerHeight*87/96)
    	}else{
    		$('#tab2-id').height(730)
    	}
    	//小箱条码
    	$("#tab-barcode").on("click",function(){
    		//window.location.reload()	
    		//viewModel.query();
    	});
    	//外箱条码
    	$("#iframe-out-barcode").on("load",function(){
    		//$(this).show();
    	});
    	$("#tab-out-barcode").on("click",function(){
    		//$("#iframe-out-barcode").hide();
//     		$("#iframe-out-barcode").attr("src","${base.contextPath}/hcs_barcode/obarcode.html");
			window.frames[0].location.reload();
    	})
    	
    }) ; 
    
    /* 页面初始化查询供应商id */
    $(document).ready(function(){
    	$.ajax({
    		url:"${base.contextPath}/hcs/supplier/onhand/quantities/querySupplier",
    		type: "POST",
    		contentType: "application/json",
    		success: function(data){
    			if(data.success){
    				if(data.rows[0] != null){
    					supplierId = data.rows[0].supplierId;
    					supplierName = data.rows[0].supplierName;
    					supplierCode = data.rows[0].supplierCode;
    					if(supplierId == null){
       						$("#new").hide();
       						$("#changeFlag").hide();
       						$("#print").hide();
       						$("#printA4").hide();
       						$("#bind").hide();
       						$("#unBind").hide();
       					}else{
       						$("#group").hide();
       					} 
    				}
    			}
    		}
    	})
    });
    
    //打印
    viewModel.print = function(){
    	var grid = $("#grid").data("kendoGrid");
    	var checked = grid.selectedDataItems();
    	var len = checked.length;
    	if(len === 0){
    		kendo.ui.showInfoDialog({
    			title: '<@spring.message "hap.tip.info"/>',
    			message: "请先选择要打印的数据"
    		});
    		return;
    	}
    	var flag = false;

    	for(var i=0; i<len;i++){
    		if(checked[i].status === 'C' || checked[i].enableFlag === 'N'){
    			kendo.ui.showInfoDialog({
        			title: '<@spring.message "hap.tip.info"/>',
        			message: '<@spring.message "error.srm_purchase_0027"/>'
        		})
        		return;
    		}else if(checked[i].printTime >= 1){
    			flag = true;
    		}  		
    	} 
		if(flag){
			kendo.ui.showConfirmDialog({
        		title: '<@spring.message "hap.tip.info"/>',
        		message: '<@spring.message "error.srm_purchase_0024"/>'
        	}).done(function(e){
        		if(e.button=='OK'){
        			printsmallbarcode();
        		}
        	})
    	}else{
    		printsmallbarcode();
    	}
    }
    var dataList
  //打印逻辑
    function  printsmallbarcode(){
	  
    	var htmlBody = window.document.body.innerHTML;//打印前页面
    	var grid = $("#grid").data("kendoGrid");
    	dataList = grid.selectedDataItems();
    	var dialog = $("#printWindow").kendoWindow({
            width: 472,
            height: 300,
            title: '打印',
            visible: false,
            iframe: true,
            modal: true,
            content: 'small_code_print.html'
        }).data("kendoWindow");
        dialog.center().open();
    }
    
    viewModel.printA4 = function(){
    	var grid = $("#grid").data("kendoGrid");
    	var checked = grid.selectedDataItems();
    	var len = checked.length;
    	if(len === 0){
    		kendo.ui.showInfoDialog({
    			title: '<@spring.message "hap.tip.info"/>',
    			message: "请先选择要打印的数据"
    		});
    		return;
    	}
    	var flag = false;

    	for(var i=0; i<len;i++){
    		if(checked[i].status === 'C' || checked[i].enableFlag === 'N'){
    			kendo.ui.showInfoDialog({
        			title: '<@spring.message "hap.tip.info"/>',
        			message: '<@spring.message "error.srm_purchase_0027"/>'
        		})
        		return;
    		}else if(checked[i].printTime >= 1){
    			flag = true;
    		}  		
    	} 
		if(flag){
			kendo.ui.showConfirmDialog({
        		title: '<@spring.message "hap.tip.info"/>',
        		message: '<@spring.message "error.srm_purchase_0024"/>'
        	}).done(function(e){
        		if(e.button=='OK'){
        			printsmallbarcodeA4();
        		}
        	})
    	}else{
    		printsmallbarcodeA4();
    	}
    }
    var dataList
  //打印逻辑
    function  printsmallbarcodeA4(){
	  
    	var htmlBody = window.document.body.innerHTML;//打印前页面
    	var grid = $("#grid").data("kendoGrid");
    	dataList = grid.selectedDataItems();
    	var dialog = $("#printWindowA4").kendoWindow({
            width: 1300,
            height: 600,
            title: '打印',
            visible: false,
            iframe: true,
            modal: true,
            content: 'small_code_print_a4.html'
        }).data("kendoWindow");
        dialog.center().open();
    }
    //绑定容器
    var parentData;
    function bind(){
    	var grid = $("#grid").data("kendoGrid");
    	var checked = grid.selectedDataItems();
    	var len = checked.length;
    	if(len === 0){
    		kendo.ui.showInfoDialog({
    			title: '<@spring.message "hap.tip.info"/>',
    			message: '<@spring.message "hap.tip.selectrow"/>',
    		})
    		return;
    	}
    	var flag = false;

    	for(var i=0; i<len;i++){
    		if(checked[i].status === 'C'){
    			kendo.ui.showInfoDialog({
        			title: '<@spring.message "hap.tip.info"/>',
        			message: '<@spring.message "error.srm_purchase_1005"/>'
        		})
        		return;
    		}else if(checked[i].status === 'F'){
    			kendo.ui.showInfoDialog({
        			title: '<@spring.message "hap.tip.info"/>',
        			message: '<@spring.message "error.srm_purchase_1006"/>'
        		})
        		return;
    		} 
    		if(checked[i].packingFlag === 'Y'){
    			kendo.ui.showInfoDialog({
        			title: '<@spring.message "hap.tip.info"/>',
        			message: '<@spring.message "error.srm_purchase_1003"/>'
        		})
        		return;
    		}
    		if(i > 0){
    			if(checked[i].itemId != checked[i-1].itemId || checked[i].lotCode != checked[i-1].lotCode || checked[i].itemVersion != checked[i-1].itemVersion){
    				kendo.ui.showInfoDialog({
            			title: '<@spring.message "hap.tip.info"/>',
            			message: '<@spring.message "error.srm_purchase_1009"/>'
            		})
            		return;
    			}
    		}
    	} 
    	parentData = checked;
    	//弹出绑定界面
    	var dialog = $("#bindWindow").kendoWindow({
            width: 1400,
            height: 750,
            title: '<@spring.message "bind.window"/>',
            visible: false,
            iframe: true,
            modal: true,
            content: 'bind_code.html'
        }).data("kendoWindow");
        dialog.center().open();
    }
    //解绑容器
    function unBind(){
    	var grid = $("#grid").data("kendoGrid");
    	var checked = grid.selectedDataItems();
    	var len = checked.length;
    	if(len === 0){
    		kendo.ui.showInfoDialog({
    			title: '<@spring.message "hap.tip.info"/>',
    			message: '<@spring.message "hap.tip.selectrow"/>',
    		})
    		return;
    	}
    	var flag = false;

    	for(var i=0; i<len;i++){
    		if(checked[i].packingFlag === 'N'){
    			kendo.ui.showInfoDialog({
        			title: '<@spring.message "hap.tip.info"/>',
        			message: '<@spring.message "error.srm_purchase_1008"/>'
        		})
        		return;
    		}
    		if(checked[i].status === 'C'){
    			kendo.ui.showInfoDialog({
        			title: '<@spring.message "hap.tip.info"/>',
        			message: '<@spring.message "error.srm_purchase_1005"/>'
        		})
        		return;
    		}else if(checked[i].status === 'F'){
    			kendo.ui.showInfoDialog({
        			title: '<@spring.message "hap.tip.info"/>',
        			message: '<@spring.message "error.srm_purchase_1006"/>'
        		})
        		return;
    		}  	
    	}
    	kendo.ui.showConfirmDialog({
    		title: '提示',
    		message: '<@spring.message "error.srm_purchase_1004"/>'
    	}).done(function(e){
    		if(e.button=='OK'){
    			//解绑
    			$.ajax({
				url:"${base.contextPath}/hcs/small/barcode/unBind",
				type:"POST",
				data: kendo.stringify(checked),
				contentType: "application/json",
				success: function (data){
					if(data.success){
						Hap.showToast({
                			type:'success',
                			"positionClass": "toast-bottom-right",
                			message:'<@spring.message "hap.tip.success"/>',
                			hideDuration:10*1000
                		})	
			    		viewModel.query();
					}else{
						kendo.ui.showErrorDialog({
							title:'<@spring.message "hap.error"/>',
			    			message: data.message
			    		})
					}
				}
				})
    		}
    	})
    }
</script>
<body>
<div id="printWindowA4"></div>
<div id="bindWindow"></div>
<div id="page-content">
	<div class="col-sm-12" style="margin-top:10px">
    	<ul class="nav nav-tabs" id="mytab">
    		<li class="active"><a id="tab-barcode" href="#tab1-id" data-toggle="tab"><@spring.message "srm.purchase.sbarcode"/></a></li>
    		<li class=""><a id="tab-out-barcode" href="#tab2-id" onclick="" data-toggle="tab"><@spring.message "srm.purchase.obarcode"/></a></li>
    		<!--  采购组-->
              <span id="group" style="float:right">              
	              <input id="purchaseGroup" style="margin-right:5px;" placeholder='<@spring.message "polinelocations.purchaseGroup"/>'
	                 data-bind="value:model.purchaseGroup">     
	              <script>
		              	   kendo.bind($("#purchaseGroup"),viewModel);
		                   $("#purchaseGroup").kendoComboBox({
			               	    dataTextField: "meaning",
			               	    dataValueField: "value",
			               	    valuePrimitive: true,
			               	    dataSource: SRM_PURCHASE_GROUP
			               	});    
	              </script> 
              </span>
    	</ul>
    	<div id="tabContent" class="tab-content" style="margin-top:5px">
	    	<div class="tab-pane fade in active" id="tab1-id">
			    <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
			    	<span id="new" type="button" class="btn btn-primary"
                         style="float:left;margin-right:5px"onclick="smallBoxPrint()"><i class="fa fa-plus-square" style="margin-right:3px;"></i><@spring.message "hap.new"/></span>
                    <span id="changeFlag" class="btn btn-danger" style="float:left;margin-right:5px" onclick="disablesmall()"><i class="fa fa-trash-o" style="margin-right:3px;"></i><@spring.message "smallbarcode.fail"/></span>
			        <span id="print" class="btn btn-success k-grid-save-changes" data-bind="click:print"  style="float:left;margin-right:5px;"><i class="fa fa-print" style="margin-right:3px;"></i><@spring.message "hap.print"/></span>
					<span id="printA4" class="btn btn-success" data-bind="click:printA4"  style="float:left;margin-right:5px;"><i class="fa fa-print" style="margin-right:3px;"></i><@spring.message "hap.printA4"/></span>

					<span id="bind" type="button" class="btn btn-primary"
                         style="float:left;margin-right:5px" onclick="bind()"><i class="" style="margin-right:3px;"></i><@spring.message "sbarcode.bind"/></span>
			        <span id="unBind" class="btn btn-success k-grid-save-changes" onclick="unBind()"  style="float:left;margin-right:5px;"><i class="" style="margin-right:3px;"></i><@spring.message "sbarcode.unbind"/></span>
			        <span class="btn btn-primary k-grid-excel" style="float:left;margin-right:5px;" data-bind="click:exportExcel"><i class="fa fa-file-excel-o" style="margin-right:3px"></i><@spring.message "srm.exportexcel"/></span>
			        <!-- <span  data-bind="click:remove" class="btn btn-danger" style="float:left;"><@spring.message "hap.delete"/></span> -->
			    </div>
			    <script>kendo.bind($('#toolbar-btn'), viewModel);</script>
			    
			    <div id="queryPanel" class="pull-right" style="margin-right:5px;padding-bottom:10px;">
			    	<div class="k-query-simple" id="query-form">
			            <input type="text" data-role="maskedtextbox" style="float:left;width:150px;margin-right:5px;" placeholder='<@spring.message "smallbarcode.sbarcode"/>' data-bind="value:model.sbarcode" class="k-textbox">
			        </div>
			        <script>kendo.bind($('#query-form'), viewModel);</script>
			        <div class="k-query-detail" id="query-form2">
			            <div class="rows">
			            	<input style="margin-right:5px;" placeholder='<@spring.message "srm.purchase.itemcode"/>' data-bind="value:model.itemId" id="itemLov">
			            	<input style="margin-right:5px;" placeholder='<@spring.message "smallbarcode.status"/> ' data-bind="value:model.status" id='statusCombox'>
			            	<input type="text" data-role="maskedtextbox" style="margin-right:5px;" placeholder='<@spring.message "smallbarcode.obarcodeNum"/>'data-bind="value:model.obarcodeNum" class="k-textbox">
			                <input type="text" data-role="maskedtextbox" style="margin-right:5px;" placeholder='<@spring.message "smallbarcode.outbarcode"/>'data-bind="value:model.obarcode" class="k-textbox">
			                
			            </div>
						<div class="rows" style="margin-top:5px">  
							<!-- 工厂 -->
<!-- 				            <input  id="plantLov" style="margin-right:5px" placeholder="<@spring.message 'srm.plantname'/>" data-bind="value:model.plantId" > -->
				            <script>
// 				                	$("#plantLov").kendoLov($.extend
// 				                	    (<@lov"LOV_PLANT_BY_USER"/>, {
// 				                	        textField: 'plantName',
// 				                	        valueField:'plantId',
// 				                	        query: function(e){
// 				                	        	e.param['supplierId'] = supplierId;
// 				                	        	e.param['enableFlag'] = 'Y';
// 				                	        }
// 				                	}));
				            </script>
				            <input style="margin-right:5px;" placeholder='<@spring.message "smallbarcode.packingflag"/> ' data-bind="value:model.packingFlag" id='packingFlagCombox'>
			           		<input type="text" data-role="datepicker" style="margin-right:5px;" placeholder='<@spring.message "smallbarcode.producttimestart"/>' data-bind="value:model.productionStartTime" class="datepicker">
				            <input type="text" data-role="datepicker" style="margin-right:5px;" placeholder='<@spring.message "smallbarcode.producttimeend"/>' data-bind="value:model.productionEndTime" class="datepicker">
			            </div>
			            <div class="rows" style="margin-top:5px">
				            <input style="margin-right:5px;" placeholder='<@spring.message "smallbarcode.enableflag"/>' data-bind="value:model.enableFlag" id='enableFlagCombox'>
			            	<input style="margin-right:5px;" placeholder='<@spring.message "srm.suppliername"/>' data-bind="value:model.supplierId" id="supplierNameLov">
			                <input type="text" data-role="maskedtextbox" style="margin-right:5px;" placeholder='<@spring.message "smallbarcode.deliveryticketnum"/>' data-bind="value:model.ticketNumber" class="k-textbox">
				            <input type="text" data-role="maskedtextbox" style="margin-right:5px;" placeholder='<@spring.message "smallbarcode.ponum"/>' data-bind="value:model.poNumber" class="k-textbox">
			            </div>
			            <div class="rows" style="margin-top:5px">
				            <input type="text" data-role="datetimepicker" style="margin-right:5px;" placeholder='<@spring.message "smallbarcode.creationdatestart"/>' data-bind="value:model.creationStartTime" class="datetimepicker">
				            <input type="text" data-role="datetimepicker" style="margin-right:5px;" placeholder='<@spring.message "smallbarcode.creationdateend"/>' data-bind="value:model.creationEndTime" class="datetimepicker">			            
			            </div>
			        </div>
			        <script>kendo.bind($('#query-form2'), viewModel);</script>
			    </div>
			    
			    <div style="clear:both">
			        <div id="grid"></div>
			    </div>
		</div>
			<div class="tab-pane fade" id="tab2-id">
	    		<iframe id="iframe-out-barcode" src="${base.contextPath}/hcs_barcode/obarcode.html" style="height:100%"  width="100%" frameborder="0" seamless scrolling="auto"></iframe>
	    	</div>  
	  </div>
    </div> 		    
</div>
<div id="childWindow"></div>
<div id="printWindow"></div>
<script type="text/javascript">
	$('#queryPanel').kendoQueryPanel({
	    queryFunction: function () {
	        viewModel.query();
	    },
	    resetFunction: function () {
	        viewModel.reset();
	    }
	});
	
	$("#statusCombox").kendoComboBox({
	    dataTextField: "meaning",
	    dataValueField: "value",
	    valuePrimitive: true,
	    dataSource: TMstatusds
	});
	
	$("#packingFlagCombox").kendoComboBox({
	    dataTextField: "meaning",
	    dataValueField: "value",
	    valuePrimitive: true,
	    dataSource: yesorno
	});
	
	$("#enableFlagCombox").kendoComboBox({
	    dataTextField: "meaning",
	    dataValueField: "value",
	    valuePrimitive: true,
	    dataSource: yesorno
	});
	
	$("#itemLov").kendoLov($.extend
    	    (<@lov"LOV_ITEM_BY_USER"/>, {
    	        textField: 'itemName',
    	        valueField:'itemId',
    	        query: function(e){
    	        	e.param['supplierId'] = supplierId;
    	        	e.param['enableFlag'] = 'Y';
    	        },
    	        change:function(e) {
                }
    	}));
	
	$("#supplierNameLov").kendoLov($.extend
    	    (<@lov"LOV_SUPPLIER_SRM"/>, {
    	        textField: 'supplierCode',
    	        valueField:'supplierId',
    	        query: function(e){
    	        	e.param['supplierId'] = supplierId;
    	        }
    	}));
	



	function smallBoxPrint(inspectionNum){
		
		var dialog = $("#childWindow").kendoWindow({
            width: 1000,
            height: 600,
            title: '<@spring.message "smallbarcodecreate.sbarcodecreate"/>',
            visible: false,
            iframe: true,
            modal: true,
            content: '../hcs_barcode/small_barcode_window.html?inspectionNum=' + inspectionNum+'&&pageFlag=TASK',
            close: function() {
                var formData = viewModel.model.toJSON();
                for (var k in formData) {
                	viewModel.model.set(k, null);
                }
                $('#grid').data('kendoGrid').dataSource.read();
            }            		
        }).data("kendoWindow");
        /* if(!inspectionNum)
            return; */
        dialog.center().open();
        
       
	}
	
	
	//失效
	function disablesmall(){
		var grid = $("#grid").data("kendoGrid");
		var checked = grid.selectedDataItems();
		var len = checked.length;
		var nFlag = false;
		var pFlag = false;
		for(var i=0; i<len; i++){
			if(checked[i].status === 'C'){
				kendo.ui.showInfoDialog({
					title: '<@spring.message "hap.tip.info"/>',
	    			message: '<@spring.message "error.srm_purchase_0026"/>'
	    		})
	    		return;
			}else if(checked[i].status === 'F'){
				kendo.ui.showInfoDialog({
					title: '<@spring.message "hap.tip.info"/>',
	    			message: '<@spring.message "error.srm_purchase_1013"/>'
	    		})
	    		return;
			}else if(checked[i].status === 'T'){
				kendo.ui.showInfoDialog({
					title: '<@spring.message "hap.tip.info"/>',
	    			message: '<@spring.message "error.srm_purchase_1077"/>'
	    		})
	    		return;
			}else if(checked[i].status === 'N'){
				if(checked[i].packingFlag === 'Y'){
					kendo.ui.showInfoDialog({
						title: '<@spring.message "hap.tip.info"/>',
		    			message: '<@spring.message "error.srm_purchase_0042"/>'
		    		})
		    		return;
				}else{
					nFlag = true;
				}
			}
		}	
		if(nFlag && pFlag){
			kendo.ui.showConfirmDialog({
	    		title: '<@spring.message "hap.tip.info"/>',
	    		message: '<@spring.message "error.srm_purchase_0041"/>'
	    	}).done(function(e){
	    		if(e.button=='OK'){
	    			//失效
	    			changeFlag(checked)
	    		}
	    	})
		}else if(nFlag){
			kendo.ui.showConfirmDialog({
	    		title: '<@spring.message "hap.tip.info"/>',
	    		message: '<@spring.message "error.srm_purchase_0023"/>'
	    	}).done(function(e){
	    		if(e.button=='OK'){
	    			//失效
	    			changeFlag(checked)
	    		}
	    	})
		}else if(pFlag){
			kendo.ui.showConfirmDialog({
	    		title: '<@spring.message "hap.tip.info"/>',
	    		message: '<@spring.message "error.srm_purchase_0025"/>'
	    	}).done(function(e){
	    		if(e.button=='OK'){
	    			//失效
	    			changeFlag(checked)
	    		}
	    	})
		}
	}
	function changeFlag(checked){
		$.ajax({
			url:"${base.contextPath}/hcs/small/barcode/changeFlag",
			type:"POST",
			data: kendo.stringify(checked),
			contentType: "application/json",
			success: function (data){
				if(data.success){
					kendo.ui.showInfoDialog({
						title: '<@spring.message "hap.tip.info"/>',
		    			message: '已失效'
		    		})
		    		viewModel.query();
				}else{
					kendo.ui.showErrorDialog({
						title: '<@spring.message "hap.tip.info"/>',
		    			message: data.message
		    		})
				}
			}
		})
	}

    Hap.initEnterQuery('#query-form', viewModel.query);
    var BaseUrl = _basePath;
    dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: BaseUrl + "/hcs/small/barcode/query",
                type: "POST",
                dataType: "json"
            },
            update: {
                url: BaseUrl + "/hcs/small/barcode/submit",
                type: "POST",
                contentType: "application/json"
            },
            destroy: {
                url: BaseUrl + "/hcs/small/barcode/remove",
                type: "POST",
                contentType: "application/json"
            },
            create: {
                url: BaseUrl + "/hcs/small/barcode/submit",
                type: "POST",
                contentType: "application/json"
            },
            parameterMap: function (options, type) {
                if (type !== "read" && options.models) {
                    var datas = Hap.prepareSubmitParameter(options, type)
                    return kendo.stringify(datas);
                } else if (type === "read") {
                    return Hap.prepareQueryParameter(viewModel.model.toJSON(), options)
                }
            }
        },
        batch: true,
        serverPaging: true,
        pageSize: 20,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "sbarcodeId",
                fields: {
                	productionTime: {type: 'date'},
                }
            }
        }
    });

    $("#grid").kendoGrid({
    	excel: {
    		fileName:"小箱打印.xlsx",
    		filterable: true,
    	},
    	excelExport: function(e){
    		var rows = e.workbook.sheets[0].rows;
    		var datas = e.data;
    		
    		for(var i=1;i<rows.length; i++){
    			rows[i].cells[1].value = Hap.getCodeMeaning(TMstatusds,datas[i-1].status);
    			rows[i].cells[14].value = Hap.getCodeMeaning(packingLevelds,datas[i-1].packingLevel);
    			rows[i].cells[2].value = Hap.getCodeMeaning(yesorno,datas[i-1].packingFlag);
    			rows[i].cells[16].value = Hap.getCodeMeaning(yesorno,datas[i-1].enableFlag);
    		}
    	},
        dataSource: dataSource,
        sortable:true,
        resizable: true,
        scrollable: true,
        navigatable: false,
        autoBind: true,
        selectable: 'multiple, rowbox',
        dataBound: function () {
            if (parent.autoResizeIframe) {
                parent.autoResizeIframe('${RequestParameters.functionCode!}')
            }
        },
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        columns: [
        	{
				field : "sbarcode",
				title : '<@spring.message "smallbarcode.sbarcode"/>',
				width : 200,
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"},
                locked:true
			},
			{
				field : "status",
				title : '<@spring.message "smallbarcode.status"/>',
				width : 120,
				template: function (dataItem) {
                    var v = dataItem.status ? dataItem.status : "";
                    $.each(TMstatusds, function (i, n) {
                        if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
                            v = n.meaning;
                            return v;
                        }
                    });
                    return v;
                },
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"}
			},
			{
				field : "packingFlag",
				title : '<@spring.message "smallbarcode.packingflag"/>',
				width : 120,
				template: function (dataItem) {
                    var v = dataItem.packingFlag ? dataItem.packingFlag : "";
                    $.each(yesorno, function (i, n) {
                        if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
                            v = n.meaning;
                            return v;
                        }
                    });
                    return v;
                },
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"}
			},
			
			{
				field : "itemId",
				title : '物料id',
				width : 120,
				hidden:true,
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"}
			},
			{
				field : "itemCode",
				title : '<@spring.message "smallbarcode.itemcode"/>',
				width : 120,
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"}
			},
			{
				field : "itemDesc",
				title : '<@spring.message "smallbarcode.itemname"/>',
				width : 120,
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"}
			},
			{
				field : "itemVersion",
				title : '<@spring.message "smallbarcode.itemversion"/>',
				width : 120,
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"}
			},
			{
				field : "quantity",
				title : '<@spring.message "smallbarcode.quantity"/>',
				width : 120,
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"}
			},
			{
				field : "uom",
				title : '<@spring.message "smallbarcode.uom"/>',
				width : 120,
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"}
			},
			{
				field : "productionTime",
				title : '<@spring.message "smallbarcode.productiontime"/>',
				width : 150,
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"},
                format: "{0:yyyy-MM-dd}",
			},
			{
				field : "lotCode",
				title : '<@spring.message "smallbarcode.lotcode"/>',
				width : 120,
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"}
			},
			{
				field : "packingSize",
				title : '<@spring.message "smallbarcode.packingsize"/>',
				width : 120,
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"}
			},
			{
				field : "packingLevel",
				title : '<@spring.message "smallbarcode.packinglevel"/>',
				width : 120,
				template: function (dataItem) {
                    var v = dataItem.packingLevel ? dataItem.packingLevel : "";
                    $.each(packingLevelds, function (i, n) {
                        if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
                            v = n.meaning;
                            return v;
                        }
                    });
                    return v;
                },
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"}
			},
			
			
			{
				field : "spreading",
				title : '<@spring.message "smallbarcode.spreading"/>',
				width : 120,
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"}
			},
			{
				field : "caseNumber",
				title : '<@spring.message "smallbarcode.caseNumber"/>',
				width : 120,
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"}
			},
			{
				field : "productionRegion",
				title : '<@spring.message "smallbarcode.productionRegion"/>',
				width : 120,
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"}
			},
			{
				field : "productionEquipment",
				title : '<@spring.message "smallbarcode.productionEquipment"/>',
				width : 120,
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"}
			},
			{
				field : "poNumberPrint",
				title : '<@spring.message "smallbarcode.poNumberPrint"/>',
				width : 120,
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"}
			},
			
			
			{
				field : "remarks",
				title : '<@spring.message "smallbarcode.remarks"/>',
				width : 120,
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"}
			},
			
			{
				field : "printTime",
				title : '<@spring.message "smallbarcode.printtime"/>',
				width : 120,
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"}
			}, 
			{
				field : "enableFlag",
				title : '<@spring.message "smallbarcode.enableflag"/>',
				width : 120,
				template: function (dataItem) {
                    var v = dataItem.enableFlag ? dataItem.enableFlag : "";
                    $.each(yesorno, function (i, n) {
                        if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
                            v = n.meaning;
                            return v;
                        }
                    });
                    return v;
                },
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"}
			}, 
			{
				field : "plantName",
				title : '<@spring.message "smallbarcode.plantname"/>',
				width : 120,
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"}
			},
			{
				field : "ticketNumber",
				title : '<@spring.message "smallbarcode.deliveryticketnum"/>',
				width : 180,
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"}
			},
// 			{
// 				field : "ticketLineNum",
// 				title : '<@spring.message "smallbarcode.deliveryticketlinenum"/>',
// 				width : 120,
//                 attributes: {style: "text-align:center;white-space: nowrap;"},
//                 headerAttributes: {style: "text-align:center"}
// 			}, 
			{
				field : "poNumber",
				title : '<@spring.message "smallbarcode.ponum"/>',
				width : 120,
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"}
			}, 
// 			{
// 				field : "shipmentNum",
// 				title : '<@spring.message "smallbarcode.shipmentnum"/>',
// 				width : 120,
//                 attributes: {style: "text-align:center;white-space: nowrap;"},
//                 headerAttributes: {style: "text-align:center"}
// 			}, 
			{
				field : "supplierCode",
				title : '<@spring.message "smallbarcode.suppliercode"/>',
				width : 120,
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"}
			}, {
				field : "supplierName",
				title : '<@spring.message "smallbarcode.suppliername"/>',
				width : 200,
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"}
			}, 
// 			{
// 				field : "supplierSite",
// 				title : '<@spring.message "smallbarcode.suppliersite"/>',
// 				width : 200,
//                 attributes: {style: "text-align:center;white-space: nowrap;"},
//                 headerAttributes: {style: "text-align:center"}
// 			}, 
			{
				field : "creationDate",
				title : '<@spring.message "smallbarcode.creationdate"/>',
				width : 150,
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"}
			},
			{
				field : "barcodeContent",
				title : '<@spring.message "smallbarcode.barcodeContent"/>',
				width : 700,
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"}
			},
			{
				field : "obarcodeNum",
				title : '<@spring.message "smallbarcode.obarcodeNum"/>',
				width : 200,
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"}
			},
			{
				field : "obarcode",
				title : '<@spring.message "smallbarcode.outbarcode"/>',
				width : 200,
                attributes: {style: "text-align:center;white-space: nowrap;"},
                headerAttributes: {style: "text-align:center"}
			}
        ],
        editable: false
    });
    Hap.autoResizeGrid('#grid');
</script>
</body>
</html>