<#include "../include/header.html">
    <!--
 * @description: 检验项多选lov界面 hqm_inspection_attribute
 * @author: tianmin.wang
 * @date: 20190918
 -->
    <script src="${base.contextPath}/common/code?hqmAttributeCategory=HQM_IQC_ATTRIBUTE_CATEGORY"></script>
    <script src="${base.contextPath}/common/code?hqmStandardType=HQM_IQC_STANDARD_TYPE"></script>
    <script src="${base.contextPath}/common/code?HQM_SOURCE_TYPE_TEMP=HQM_SOURCE_TYPE_TEMP"></script>

    <style>
        span {
            font-size: 14px;
        }
    </style>
    <script type="text/javascript">
        var headerId = "${RequestParameters.headerId!'-1'}";
        var viewModel = Hap.createGridViewModel("#grid");
        // var selectedDates = new Array();
        var ids = '';

        viewModel.save = function() {
            var selections = grid.selectedDataItems();
            if (selections.length != 1) {
                kendo.ui.showInfoDialog({
                    title: "提示",
                    message: "请选择检验单"
                })
                return;
            }
            var data2 = {
                headerId: selections[0].headerId
            };

            if (viewModel.model.style == null || viewModel.model.style == undefined || viewModel.model.style == '') {
                kendo.ui.showInfoDialog({
                    title: "提示",
                    message: "请选择复制方式"
                })
                return;
            }
            $.ajax({
                url: '${base.contextPath}/hqm/iqc/inspection/template/l/query',
                type: 'POST',
                data: data2,
                async: false,
                dataType: "json",
                success: function(data1) {
                    if (viewModel.model.style == 'A') {
                        window.parent.grid.dataSource.data().empty(); //删除grid里的数据但是不删表 	
                        for (var i = 0; i < data1.rows.length; i++) {
                            window.parent.grid.addRow();

                            window.parent.grid.dataSource.data()[0].sampleWayId = window.parent.viewModel.model.sampleWayId;
                            window.parent.grid.dataSource.data()[0].set('sampleWayCode', window.parent.viewModel.model.sampleWayCode);
                            window.parent.grid.dataSource.data()[0].set('sampleProcedureType', window.parent.viewModel.model.sampleProcedureType);
                            window.parent.grid.dataSource.data()[0].set('inspectionLevels', window.parent.viewModel.model.inspectionLevels);
                            window.parent.grid.dataSource.data()[0].set('acceptanceQualityLimit', window.parent.viewModel.model.acceptanceQualityLimit);

                            window.parent.grid.dataSource.data()[0].set('attributeId', data1.rows[i].attributeId);
                            window.parent.grid.dataSource.data()[0].set('inspectionAttribute', data1.rows[i].inspectionAttribute);
                            window.parent.grid.dataSource.data()[0].set('standardType', data1.rows[i].standardType);
                            window.parent.grid.dataSource.data()[0].set('qualityCharacterGrade', data1.rows[i].qualityCharacterGrade);
                            window.parent.grid.dataSource.data()[0].set('attributeType', data1.rows[i].attributeType);
                            window.parent.grid.dataSource.data()[0].set('inspectionTool', data1.rows[i].inspectionTool);
                            window.parent.grid.dataSource.data()[0].set('precision', data1.rows[i].precision);
                            window.parent.grid.dataSource.data()[0].set('inspectionMethod', data1.rows[i].inspectionMethod);
                            window.parent.grid.dataSource.data()[0].set('fillInType', data1.rows[i].fillInType);
                            window.parent.grid.dataSource.data()[0].set('standradUom', data1.rows[i].standradUom);
                            window.parent.grid.dataSource.data()[0].set('sampleWayCode', data1.rows[i].sampleWayCode);
                            window.parent.grid.dataSource.data()[0].set('textStandrad', data1.rows[i].textStandrad);
                            window.parent.grid.dataSource.data()[0].set('enableType', 'D');
                            window.parent.grid.dataSource.data()[0].set('enableTime', data1.rows[i].enableTime);
                            window.parent.grid.dataSource.data()[0].set('disableTime', data1.rows[i].disableTime);
                            window.parent.grid.dataSource.data()[0].set('sampleWayId', data1.rows[i].sampleWayId);
                            window.parent.grid.dataSource.data()[0].set('isSync', 'Y');
                            if (data1.rows[i].standradFrom == null || data1.rows[i].standradFrom == undefined) {
                                window.parent.grid.dataSource.data()[0].set('standradFrom', '');
                            } else {
                                window.parent.grid.dataSource.data()[0].set('standradFrom', data1.rows[i].standradFrom);
                            }

                            if (data1.rows[i].standradTo == null || data1.rows[i].standradTo == undefined) {
                                window.parent.grid.dataSource.data()[0].set('standradTo', '')
                            } else {
                                window.parent.grid.dataSource.data()[0].set('standradTo', data1.rows[i].standradTo);
                            }
                        }
                    } else {
                        for (var i = 0; i < data1.rows.length; i++) {
                            if (!ifHave(data1.rows[i].attributeId)) {

                            } else {
                                window.parent.grid.addRow();

                                window.parent.grid.dataSource.data()[0].sampleWayId = window.parent.viewModel.model.sampleWayId;
                                window.parent.grid.dataSource.data()[0].set('sampleWayCode', window.parent.viewModel.model.sampleWayCode);
                                window.parent.grid.dataSource.data()[0].set('sampleProcedureType', window.parent.viewModel.model.sampleProcedureType);
                                window.parent.grid.dataSource.data()[0].set('inspectionLevels', window.parent.viewModel.model.inspectionLevels);
                                window.parent.grid.dataSource.data()[0].set('acceptanceQualityLimit', window.parent.viewModel.model.acceptanceQualityLimit);

                                window.parent.grid.dataSource.data()[0].set('attributeId', data1.rows[i].attributeId);
                                window.parent.grid.dataSource.data()[0].set('inspectionAttribute', data1.rows[i].inspectionAttribute);
                                window.parent.grid.dataSource.data()[0].set('standardType', data1.rows[i].standardType);
                                window.parent.grid.dataSource.data()[0].set('qualityCharacterGrade', data1.rows[i].qualityCharacterGrade);
                                window.parent.grid.dataSource.data()[0].set('attributeType', data1.rows[i].attributeType);
                                window.parent.grid.dataSource.data()[0].set('inspectionTool', data1.rows[i].inspectionTool);
                                window.parent.grid.dataSource.data()[0].set('precision', data1.rows[i].precision);
                                window.parent.grid.dataSource.data()[0].set('inspectionMethod', data1.rows[i].inspectionMethod);
                                window.parent.grid.dataSource.data()[0].set('fillInType', data1.rows[i].fillInType);
                                window.parent.grid.dataSource.data()[0].set('standradUom', data1.rows[i].standradUom);
                                window.parent.grid.dataSource.data()[0].set('sampleWayCode', data1.rows[i].sampleWayCode);
                                window.parent.grid.dataSource.data()[0].set('textStandrad', data1.rows[i].textStandrad);
                                window.parent.grid.dataSource.data()[0].set('enableType', 'D');
                                window.parent.grid.dataSource.data()[0].set('enableTime', data1.rows[i].enableTime);
                                window.parent.grid.dataSource.data()[0].set('disableTime', data1.rows[i].disableTime);
                                window.parent.grid.dataSource.data()[0].set('sampleWayId', data1.rows[i].sampleWayId);
                                if (data1.rows[i].standradFrom == null || data1.rows[i].standradFrom == undefined) {
                                    window.parent.grid.dataSource.data()[0].set('standradFrom', '');
                                } else {
                                    window.parent.grid.dataSource.data()[0].set('standradFrom', data1.rows[i].standradFrom);
                                }
                                if (data1.rows[i].standradTo == null || data1.rows[i].standradTo == undefined) {
                                    window.parent.grid.dataSource.data()[0].set('standradTo', '')
                                } else {
                                    window.parent.grid.dataSource.data()[0].set('standradTo', data1.rows[i].standradTo);
                                }
                                window.parent.grid.dataSource.data()[0].set('isSync', 'Y');
                            }

                        }

                    }
                }
            });

            window.parent.$("#childWindowcopyOwn").data("kendoWindow").close();

        }

        function ifHave(attributeId) {
            var l = window.parent.grid.dataSource.data().length;
            for (var i = 0; i < l; i++) {
                console.log(attributeId);
                console.log(window.parent.grid.dataSource.data()[i].attributeId);
                if (attributeId == window.parent.grid.dataSource.data()[i].attributeId) {
                    return false
                }

            }
            return true;
        }

        function prepareObject(obj) {
            var returnObject = JSON.parse(JSON.stringify(obj));
            for (name in returnObject) {
                if (name == '_token' || name == 'lineId' || name == 'groupId' || returnObject[name] == null) {
                    delete returnObject[name];
                }
            }
            return returnObject;
        }
    </script>

    <body>
        <div id="page-content">
            <div id="toolbar-top" style="padding-bottom: 10px; padding-top: 10px;">
                <div class="row">
                    <span class="btn btn-primary" data-bind="click:save" type="submit" style="margin-left: 10px"><@spring.message "hap.save"/></span> <span class="btn btn-default" data-bind="click:refresh" type="button" style="margin-right: 25px;"><@spring.message "hap.cancel"/></span>
                </div>
            </div>
            <form id="mainform1" class="form-horizontal" method="post" enctype="application/json;charset=UTF-8">
                <div class="form-group">
                    <div class="col-sm-12" style="margin-top: 5px;">
                        <label class="col-sm-2 control-label"><@spring.message "hap.itemcode"/>:</label>
                        <div class="col-sm-8">
                            <input id="itemLov" style="width: 90%" data-bind="value:model.itemId">
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12" style="margin-top: 5px;">
                        <label class="col-sm-2 control-label"><@spring.message "hap.itemdescriptions"/>:</label>
                        <div class="col-sm-8">
                            <input id="description" class="k-textbox" style="width: 90%" data-bind="value:model.itemDescriptions">
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-12" style="margin-top: 5px;">
                        <label class="col-sm-2 control-label"><@spring.message "iqcinspectiontemplateh.sourcetype"/>:</label>
                        <div class="col-sm-8">
                            <input id="sourceType" style="width: 90%" data-bind="value:model.sourceType">
                        </div>
                        <div class="col-sm-2">
                            <span id="querySpan" class="btn btn-primary" style="float: left; margin-right: 5px;" data-bind="click:query"><@spring.message
							"hap.query"/></span>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row" style="width: 100%; height: 11%; margin-top: 5px">
                <div class="col-sm-12" style="padding-left: 10%;">

                    <div id="approvalResultRadio" style="margin-top: 5px;" data-bind="enabled: isEnabled,value:model.style"></div>
                    <script>
                        kendo.bind($('#approvalResultRadio'), viewModel);
                        $("#approvalResultRadio").kendoRadio({
                            layout: '', //vertical
                            readonly: false,
                            items: [{
                                    label: '<span  style="color:#ffb01f">覆盖式完全同步</span>',
                                    value: "A"
                                }, {
                                    label: '<span style="color:#ffb01f">保留已有项完全同步</span>',
                                    value: "B"
                                }
                                /* ,{
                                                                        label: '<span>覆盖式无属性同步</span>',
                                                                        value: "C"
                                                                    } */
                                /* , {
                                                                        label: '<span>保留已有项无属性同步</span>',
                                                                        value: "D"
                                                                    } */
                            ],
                            change: function(e) {

                            }
                        });
                    </script>
                </div>
            </div>

            <script>
                kendo.bind($('#toolbar-top'), viewModel);
            </script>
            <script>
                kendo.bind($('#mainform1'), viewModel);
            </script>
            <!-- 		<div class="text-left"
			style="border: 2px solid #EEEEEE; border-radius: 10px;">
			<span>已选择检验项</span><br>
			<div id="checkedUserPanel"></div>
		</div> -->
            <script>
                kendo.bind($('#toolbar-btn'), viewModel);
            </script>
            <div style="clear: both">
                <div id="grid"></div>
            </div>

        </div>

        <script type="text/javascript">
            $("#itemLov").kendoLov($.extend( <@lov "LOV_ITEM" /> , {
                textField: 'itemCode',
                valueField: 'itemId',
            }));
            $("#sourceType").kendoComboBox({
                dataTextField: "meaning",
                dataValueField: "value",
                valuePrimitive: true,
                dataSource: HQM_SOURCE_TYPE_TEMP
            });
            $(document).keydown(function(event) {
                if (event.keyCode == 13) {
                    viewModel.model.inspectionAttribute = $("#inspectionAttribute").val();
                    viewModel.model.attributeType = $("#attributeType").val();
                    viewModel.query();
                }
            });
            Hap.initEnterQuery('#query-form', viewModel.query);
            var BaseUrl = _basePath;
            dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: BaseUrl + "/hqm/iqc/inspection/template/h/selectforCopy",
                        type: "POST",
                        dataType: "json"
                    },
                    update: {
                        url: BaseUrl + "/hqm/inspection/attribute/submit",
                        type: "POST",
                        contentType: "application/json"
                    },
                    destroy: {
                        url: BaseUrl + "/hqm/inspection/attribute/remove",
                        type: "POST",
                        contentType: "application/json"
                    },
                    create: {
                        url: BaseUrl + "/hqm/inspection/attribute/submit",
                        type: "POST",
                        contentType: "application/json"
                    },
                    parameterMap: function(options, type) {
                        if (type !== "read" && options.models) {
                            var datas = Hap.prepareSubmitParameter(options, type)
                            return kendo.stringify(datas);
                        } else if (type === "read") {
                            viewModel.model.headerId = headerId;
                            return Hap.prepareQueryParameter(viewModel.model.toJSON(), options)
                        }
                    }
                },
                batch: true,
                serverPaging: true,
                pageSize: 5,
                schema: {
                    data: 'rows',
                    total: 'total',
                    model: {
                        id: "headerId",
                        fields: {},
                        editable: function(col) {
                            return false;
                        }
                    }
                }
            });

            var grid = $("#grid").kendoGrid({
                dataSource: dataSource,
                resizable: true,
                autoBind: true,
                scrollable: true,
                navigatable: false,
                selectable: 'multiple,rowbox',
                dataBound: function() {
                    if (parent.autoResizeIframe) {
                        parent.autoResizeIframe('${RequestParameters.functionCode!}')
                    }
                },
                pageable: {
                    pageSizes: [5, 10, 20, 50],
                    refresh: false,
                    buttonCount: 5
                },
                columns: [{
                        field: "plantCode",
                        title: '<@spring.message "hap.plant"/>', //工厂
                        width: 120,
                        template: function(Item) {
                            return Item['plantCode'] || ''
                        },
                        editor: function(container, options) {
                            $('<input name="' + options.field + '"/>')
                                .appendTo(container)
                                .kendoLov($.extend( <@lov "LOV_PLANT" /> , {
                                    query: function(e) {
                                        e.param['enableFlag'] = 'Y'
                                    },
                                    textField: 'plantCode',
                                    model: options.model,
                                    change: function() {
                                        var v = this.value();
                                        if (v == undefined || v == "") {
                                            options.model.set('plantCode', "");
                                            options.model.set('plantId', '')
                                        } else {
                                            options.model.plantCode = this._dataItem.plantCode;
                                            options.model.plantId = this._dataItem.plantId;
                                        }
                                    }
                                }));
                        },
                        attributes: {
                            style: "text-align:center"
                        },
                        headerAttributes: {
                            style: "text-align:center"
                        }
                    }, {
                        field: "itemCode",
                        title: '<@spring.message "hap.itemcode"/>', //物料编码
                        width: 120,
                        template: function(Item) {
                            return Item['itemCode'] || ''
                        },
                        editor: function(container, options) {
                            if (options.model.plantId == '' || options.model.plantId == undefined || options.model.plantId == null) {
                                $('<span style="background-color:#C43C8D;color:white;">未选择工厂</span>').appendTo(container);
                                return;
                            }
                            $('<input name="' + options.field + '"/>')
                                .appendTo(container)
                                .kendoLov($.extend( <@lov "LOV_ITEM" /> , {
                                    query: function(e) {
                                        e.param['enableFlag'] = 'Y'
                                        e.param['plantId'] = options.model.plantId;
                                    },
                                    textField: 'itemCode',
                                    model: options.model,
                                    change: function() {
                                        var v = this.value();
                                        if (v == undefined || v == "") {

                                        } else {
                                            options.model.itemCode = this._dataItem.itemCode;
                                            options.model.itemId = this._dataItem.itemId;
                                            options.model.set('itemDescriptions', this._dataItem.itemDescriptions);

                                        }
                                    }
                                }));
                        },
                        attributes: {
                            style: "text-align:center"
                        },
                        headerAttributes: {
                            style: "text-align:center"
                        }
                    }, {
                        field: "itemDescriptions",
                        title: '<@spring.message "hap.itemdescriptions"/>', //物料描述
                        width: 120,
                        editor: function(container, options) {
                            // $('<span>'+options.model.itemDescriptions+'</span>')
                            //     .appendTo(container);
                            $('<span data-bind="text:itemDescriptions"></span>').appendTo(container);
                        },
                        attributes: {
                            style: "text-align:center"
                        },
                        headerAttributes: {
                            style: "text-align:center"
                        }


                    }, {
                        field: "sourceType",
                        title: '<@spring.message "iqcinspectiontemplateh.sourcetype"/>', //
                        width: 120,
                        template: function(dataItem) {
                            var v = dataItem.sourceType ? dataItem.sourceType : "";
                            $.each(HQM_SOURCE_TYPE_TEMP, function(i, n) {
                                if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
                                    v = n.meaning;
                                    return v;
                                }
                            });
                            return v;
                        },
                        editor: function(container, options) {
                            $('<input name="' + options.field + '"/>')
                                .appendTo(container)
                                .kendoDropDownList({
                                    dataTextField: "meaning",
                                    dataValueField: "value",
                                    valuePrimitive: true,
                                    dataSource: HQM_SOURCE_TYPE_TEMP
                                });
                        },
                        attributes: {
                            style: "text-align:center"
                        },
                        headerAttributes: {
                            style: "text-align:center"
                        }

                    },

                ],
                editable: true
            }).data("kendoGrid");
        </script>
        <script>
            //var selection = $('#chooseGrid').data('kendoGrid').selectedDataItems();
            function judgeHave(userId) {
                var count = 0;
                $.each(selectedDates, function(i, v) {
                    if (v.groupId == userId) count++;
                });
                if (count > 0) return true;
                return false;
            }

            function removeHaved(userId) {
                $.each(selectedDates, function(i, v) {
                    if (v.groupId == userId) {
                        selectedDates.splice(selectedDates.indexOf(v), 1);
                        return false;
                    }
                });
            }
            /* $('#grid').on('click', 'td', function () {
            		var rowIndex = $(this).parent().index();
                    var data = grid.dataSource.data()[rowIndex];
                    if(!judgeHave(data.groupId)){
                    	selectedDates.push(data);
            	        $("#checkedUserPanel").append('<span class="fa fa-user" style="margin-right:10px;background-color:#7AEBBE;border-radius:5px;">&nbsp'+data.groupCode+
            	        '<span user-id="'+data.groupId+'" class="fa fa-trash" style="margin-left:5px;cursor:pointer;font-size:16px;"></span></span>');
            	        $('span[user-id="'+data.groupId+'"]').on('click',function(){
            	        	removeHaved($(this).attr("user-id"));
            	        	$(this).parent().remove();
            	        });
                    }
                });
             */
        </script>
    </body>

    </html>