<#include "../include/header.html">
    <body>
    <script src="${base.contextPath}/resources/js/wfl/wfl.js"></script>
    <script src="${base.contextPath}/lib/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="${base.contextPath}/lib/assets/global/plugins/jquery-ui/jquery-ui.min.js"></script>
    <link href="${base.contextPath}/lib/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
    <link href="${base.contextPath}/lib/custom2.css" rel="stylesheet" type="text/css"/>
    <script>
        $(function() {
            $(document).tooltip({
                content: function () {
                    var element = $( this );
                    // 提示纯HTML，可以自定义样式、内容等等
                    return element.attr("title");
                }
            });
            var svgLoad = false;
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                if(parent.autoResizeIframe){
                    parent.autoResizeIframe(_currentFunctionCode)
                }
                if($(e.target).attr("id") == "proImg" && !svgLoad) {
                    processSvg();
                    svgLoad = true;
                }
            });
        });


        var onIncludeFrameLoad = function() {
            var ifm = document.getElementById("includeFrame");
            var subWeb = document.frames ? document.frames["includeFrame"].document : ifm.contentDocument;
            if (ifm != null && subWeb != null) {
                ifm.height = $(subWeb).height();
                ifm.width = subWeb.body.scrollWidth;
                if(parent.autoResizeIframe){
                    parent.autoResizeIframe(_currentFunctionCode)
                }

            }
        }

        var onSvgLoad = function () {
            if(parent.autoResizeIframe){
                parent.autoResizeIframe(_currentFunctionCode)
            }
        }


        var processSvg = function () {

            $.ajax({
                url: "${base.contextPath}/wfl/runtime/process-instances/"+currentTaskInfo.processInstanceId+"/forecast",
                type: "GET",
                success: function (data) {
                    processData(data);
                }
            });
            var processData = function (data){
                var offsetY = $("#processImg").offset().top ;
                var offsetX = $("#processImg").offset().left;
                for(var i = 0;i<data.length;i++){
                    var index = data[i];
                    var grapINfo = index.graphicInfo;
                    var div = $("<div id = "+index.taskId+"></div>");
                    div.css("width",grapINfo.width);
                    div.css("height",grapINfo.height);
                    div.css("position","absolute");
                    //div.css("background","red");
                    div.css("left",grapINfo.x+offsetX);
                    div.css("top",grapINfo.y+offsetY);
                    div.attr("name","svgDiv");

                    var context = "<div style='margin-bottom: 10px;'><strong style='font-size: 16px;'>审批记录</strong></div>"+"<table  >" +
                        "<tr align='center'><th>审批人</th><th>岗位名称</th><th>部门名称</th><th>审批动作</th><th>审批日期</th></tr>";
                    if(index.executed || index.history){
                        var history = index.history ||{};
                        var hisVar = " ";
                        for(var ii = 0;ii<history.length;ii++){
                            var hisInx = history[ii];
                            var action = hisInx.action;
                            if (action == 'APPROVED'){
                                apprvText = "<span class='action_ok'>同意</span>";
                            } else if (action == 'REJECTED'){
                                apprvText = "<span class='action_dangerous'>拒绝</span>";
                            }else if(action == 'ADD_SIGN'){
                                apprvText = "<span class='action_dangerous'>加签</span>";
                            }else if(action == 'DELEGATE'){
                                apprvText = "<span class='action_dangerous'>转交</span>";
                            } else if(action == 'JUMP'){
                                apprvText = "<span class='action_dangerous'>跳转</span>";
                            }else if(action == 'RECALL'){
                                apprvText = "<span class='action_dangerous'>撤回</span>";
                            }else if(action == "AUTO_DELEGATE") {
                                apprvText = "<span class='action_dangerous'>自动转交</span>";
                            }else if(action == "CARBON_COPY") {
                                apprvText = "<span class='action_dangerous'>抄送</span>";
                            }else{
                                apprvText = action || ''
                            }
                            hisInx.assigneeName = hisInx.assigneeName ||"";
                            hisInx.positionName = hisInx.positionName ||"";
                            hisInx.unitName = hisInx.unitName ||"";
                            hisVar = hisVar +"<tr><td>"+hisInx.assigneeName +"</td><td>"+hisInx.positionName+"</td><td>"+hisInx.unitName+"</td><td>"+apprvText+"</td><td>"+ hisInx.endTime+"</td></tr>";
                        }
                        context = context + hisVar ;
                    }
                    if(index.forecast){
                        /* context = context +"<strong style='font-size: 16px'>审批预测</strong>"+"<br/> <table >"+
                         "<tr><th>审批人</th><th>岗位名称</th><th>部门名称</th></tr>";*/
                        var forecast = index.forecast;
                        var str = "";
                        $.each(forecast, function(i,val) {
                            val.employeeCode = val.employeeCode || "";
                            val.positionName = val.positionName || "";
                            val.unitName = val.unitName || "";
                            str = str +"<tr><td>"+ val.name+"("+val.employeeCode+")" +"</td><td>"+val.positionName+"</td><td>"+val.unitName+"</td><td></td></td><td></tr>";
                        });
                        context = context + str ;
                    }
                    context = context +"</table>";
                    div.attr("title",context);
                    $("#processImg").append(div);
                }
            }
        }
        var dataSourceCC = new kendo.data.DataSource({
            data: []});
    </script>
        <div>
            <div class="approve-block">
                <h3>审批事项</h3>
                <table id="itemTable" class="approve-table">
                    <tr>
                        <td style="width: 170px;" class="item-label">流程名称</td>
                        <td colspan="3" class="item-value" id="td-workflow-name"></td>
                    </tr>
                    <tr>
                        <td style="width: 170px;" class="item-label">流程ID</td>
                        <td style="width: 250px;" class="item-value" id="td-processNum"></td>
                        <td style="width: 170px;" class="item-label">申请人</td>
                        <td style="width: 250px;" id="td-startUserName" class="item-value"></td>
                    </tr>
                    <tr>
                        <td style="width: 170px;" class="item-label">申请时间</td>
                        <td style="width: 250px;" id="td-startTime" class="item-value"></td>
                        <td style="width: 170px;" class="item-label">优先级</td>
                        <td style="width: 250px;" id="td-priority" class="item-value"></td>
                    </tr>
                    <tr>
                        <td style="width: 170px;" class="item-label">流程描述</td>
                        <td colspan="3" class="item-value" id="td-workflow-description"></td>
                    </tr>
                </table>
            </div>



