<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.spc.ecr_main.mapper.EcrDesignReviewMapper">
    <resultMap id="BaseResultMap" type="com.hand.spc.ecr_main.dto.EcrDesignReview">
        <result column="ECRNO" property="ecrno" jdbcType="VARCHAR" />
        <result column="KID" property="kid" jdbcType="DECIMAL" />
        <result column="DESIGN_REVIEW_NO" property="designReviewNo" jdbcType="VARCHAR" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="DUTYBY" property="dutyby" jdbcType="VARCHAR" />
        <result column="ASK_FINISHED_DATE" property="askFinishedDate" jdbcType="DATE" />
        <result column="PLAN_FINISHED_DATE" property="planFinishedDate" jdbcType="DATE" />
        <result column="ACT_FINISHED_DATE" property="actFinishedDate" jdbcType="DATE" />
        <result column="IS_NEED" property="isNeed" jdbcType="VARCHAR" />
    </resultMap>


</mapper>