<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.spc.ecr_main.mapper.EcrTechnicalFileHeaderMapper">
    <resultMap id="BaseResultMap" type="com.hand.spc.ecr_main.dto.EcrTechnicalFileHeader">
        <result column="TECHNICAL_ID" property="technicalId" jdbcType="DECIMAL" />
        <result column="ECRNO" property="ecrno" jdbcType="VARCHAR" />
        <result column="TASKNO" property="taskno" jdbcType="VARCHAR" />
        <result column="FILE_TYPE" property="fileType" jdbcType="VARCHAR" />
        <result column="OPREATE_FLAG" property="opreateFlag" jdbcType="VARCHAR" />
        <result column="REMARK" property="remark" jdbcType="VARCHAR" />
        <result column="DUTYBY" property="dutyby" jdbcType="VARCHAR" />
        <result column="ASK_FINISHED_DATE" property="askFinishedDate" jdbcType="DATE" />
        <result column="PLAN_FINISHED_DATE" property="planFinishedDate" jdbcType="DATE" />
        <result column="ACT_FINISHED_DATE" property="actFinishedDate" jdbcType="DATE" />
    </resultMap>


</mapper>