<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hqm.hqm_control_chart_value.mapper.ControlChartValueMapper">
    <resultMap id="BaseResultMap" type="com.hand.hqm.hqm_control_chart_value.dto.ControlChartValue">
        <result column="N" property="n" jdbcType="DECIMAL" />
        <result column="A" property="a" jdbcType="DECIMAL" />
        <result column="A1" property="a1" jdbcType="DECIMAL" />
        <result column="A2" property="a2" jdbcType="DECIMAL" />
        <result column="A3" property="a3" jdbcType="DECIMAL" />
        <result column="A4" property="a4" jdbcType="DECIMAL" />
        <result column="B3" property="b3" jdbcType="DECIMAL" />
        <result column="B4" property="b4" jdbcType="DECIMAL" />
        <result column="B5" property="b5" jdbcType="DECIMAL" />
        <result column="B6" property="b6" jdbcType="DECIMAL" />
        <result column="D1" property="d1" jdbcType="DECIMAL" />
        <result column="D2" property="d2" jdbcType="DECIMAL" />
        <result column="D3" property="d3" jdbcType="DECIMAL" />
        <result column="D4" property="d4" jdbcType="DECIMAL" />
        <result column="C4" property="c4" jdbcType="DECIMAL" />
        <result column="D" property="d" jdbcType="DECIMAL" />
    </resultMap>


</mapper>