<#include "../include/header.html">
<script src="${base.contextPath}/common/code?featuresTypeData=HQM_FEATURE_TYPE"></script>
<script src="${base.contextPath}/common/code?specialCharacterTypeData=HQM_FMEA_SPECIAL_TYPE"></script>
<script type="text/javascript">
    var viewModel = Hap.createGridViewModel("#grid");
    /* var viewModel = kendo.observable({
        model: { },
        query: function (e) {
            $('#grid').data('kendoGrid').dataSource.read();
        }
    }); */
    
    var controlPlanId = "${RequestParameters.controlPlanId!}";
    viewModel.model.set('controlPlanId',controlPlanId);
</script>
<body>
<div id="page-content">
    <script>
    $(function() {
		$.ajax({
			type : 'POST',
			async: false,
			url : "${base.contextPath}/hqm/control/plan/features/header/query?controlPlanId="+controlPlanId,
			success : function(data) {
				$("#controlObject").val(data.controlObject);
				$("#controlPlanCode").val(data.controlPlanCode);
				$("#writer").val(data.writer);
				$("#cpcreationDate").val(data.cpcreationDate);
				$("#cplastUpdateDate").val(data.cplastUpdateDate);
				$("#mainStaff").val(data.mainStaff);
			}
		});
	})
    </script>
    <div id="content_header" class="row" style="width: 100%;height: 45%;margin-top: 5px; margin-bottom: 5px;font-size:12px;">
    	<div class="col-sm-12" style="height: 100%;">
    		<div class="row" style="width: 100%;height: 11%;margin-top: 5px;text-align: center;font-size: 25px;">
    			<div><span><b>控制计划</b></span></div>
    		</div>
    		<!-- row1 -->
    		<div class="row" style="width: 100%;height: 11%;margin-top: 5px">
    			<div class="col-sm-4" style="height: 100%">
    			
    				<div class="col-sm-4" style="height: 100%;text-align:right;">
    					<span style="font-size:12px;">控制对象:</span>
    				</div>
    				<div class="col-sm-8" style="height: 100%">
    					<input id="controlObject" data-role="maskedtextbox" style="width:230px;" disabled data-bind="value:model.controlObject">
    				</div>
    			
    			</div>
    			<div class="col-sm-4" style="height: 100%">
    				<div class="col-sm-4" style="height: 100%;text-align:right;">
    					<span style="font-size:12px">控制计划编号:</span>
    				</div>
    				<div class="col-sm-8" style="height: 100%">
    				<input id="controlPlanCode" style="width:230px;" data-role="maskedtextbox" disabled  data-bind="value:model.controlPlanCode">
    				</div>
    			</div>
    			
    			<div class="col-sm-4" style="height: 100%">
    				<div class="col-sm-4" style="height: 100%;text-align:right;">
    					<span style="font-size:12px">编制人:</span>
    				</div>
    				<div class="col-sm-8" style="height: 100%">
    				<input id="writer" style="width:230px;" data-role="maskedtextbox" disabled  data-bind="value:model.writerId">
    				</div>
    			</div>
    		</div>
    		
    		<!-- row2 -->
    		<div class="row" style="width: 100%;height: 11%;margin-top: 5px">
    			<div class="col-sm-4" style="height: 100%">
    			
    				<div class="col-sm-4" style="height: 100%;text-align:right;">
    					<span style="font-size:12px;">编制日期:</span>
    				</div>
    				<div class="col-sm-8" style="height: 100%">
    					<input id="cpcreationDate" data-role="maskedtextbox" style="width:230px;" disabled data-bind="value:model.creationDate">
    				</div>
    			
    			</div>
    			<div class="col-sm-4" style="height: 100%">
    			
    				<div class="col-sm-4" style="height: 100%;text-align:right;">
    					<span style="font-size:12px;">最后修订时间:</span>
    				</div>
    				<div class="col-sm-8" style="height: 100%">
    					<input id="cplastUpdateDate" data-role="maskedtextbox" style="width:230px;" disabled data-bind="value:model.lastUpdateDate">
    				</div>
    			
    			</div>
    			<div class="col-sm-4" style="height: 100%">
    				<div class="col-sm-4" style="height: 100%;text-align:right;">
    					<span style="font-size:12px">主要参与人员:</span>
    				</div>
    				<div class="col-sm-8" style="height: 100%">
    				<input id="mainStaff" style="width:230px;" data-role="maskedtextbox" disabled  data-bind="value:model.mainPeople">
    				</div>
    			</div>
    		</div>
    
    	</div>
    </div>
    <script>kendo.bind($('#content_header'), viewModel);</script>
        
    <div style="clear:both">
        <div id="grid"></div>
    </div>
</div>

<script type="text/javascript">
    Hap.initEnterQuery('#query-form', viewModel.query);
    var BaseUrl = _basePath;
    dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: BaseUrl + "/hqm/control/plan/features/query",
                type: "POST",
                dataType: "json"
            },
            update: {
                url: BaseUrl + "/hqm/control/plan/features/submit",
                type: "POST",
                contentType: "application/json"
            },
            destroy: {
                url: BaseUrl + "/hqm/control/plan/features/remove",
                type: "POST",
                contentType: "application/json"
            },
            create: {
                url: BaseUrl + "/hqm/control/plan/features/submit",
                type: "POST",
                contentType: "application/json"
            },
            parameterMap: function (options, type) {
                if (type !== "read" && options.models) {
                    var datas = Hap.prepareSubmitParameter(options, type)
                    return kendo.stringify(datas);
                } else if (type === "read") {
                    return Hap.prepareQueryParameter(viewModel.model.toJSON(), options)
                }
            }
        },
        batch: true,
        serverPaging: true,
        pageSize: 20,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "featuresId",
                fields: {}
            }
        }
    });

    $("#grid").kendoGrid({
        dataSource: dataSource,
        resizable: true,
        scrollable: true,
        navigatable: false,
        selectable: false,
        dataBound: function () {
            if (parent.autoResizeIframe) {
                parent.autoResizeIframe('${RequestParameters.functionCode!}')
            }
        },
        /* pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        }, */
        columns: [
 		    {
                field: "featuresName",
                title: '过程',
                width: 120
            },
            {
                field: "equipment",
                title: '设备',
                width: 120
            },
            {
                field: "featuresName1",
                title: '特征',
                width: 120
            },
                    {
                field: "featuresType",
                title: '特征类型',
                width: 120,
                template: function (dataItem) {
                	var v= (dataItem.featuresType == null ? "" : dataItem.featuresType);
                	 $.each(featuresTypeData, function (i, n) {
                        if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
                            v = n.meaning;
                            return v;
                        }
                    }); 
                    return v;
                },
            },
            {
                field: "specialCharacterType",
                title: '特殊特性',
                width: 120,
                template: function (dataItem) {
                	var v= (dataItem.specialCharacterType == null ? "" : dataItem.specialCharacterType);
                	 $.each(specialCharacterTypeData, function (i, n) {
                        if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
                            v = n.meaning;
                            return v;
                        }
                    }); 
                    return v;
                },
            },
                    {
                field: "standrad",
                title: '标准',
                width: 120
            },
                    {
                field: "detectionEquipment",
                title: '检测装备',
                width: 120
            },
                    {
                field: "sampleSize",
                title: '样本大小',
                width: 120
            },
                    {
                field: "detectionFrequency",
                title: '检测频率',
                width: 120
            },
                    {
                field: "controlMethod",
                title: '控制方法',
                width: 120
            },
                    {
                field: "grR",
                title: 'GR&R',
                width: 120
            },
                    {
                field: "processCapability",
                title: 'Process Capability',
                width: 120,
                template: function (dataItem) {
                	var v= (dataItem.processCapability == null ? "" : dataItem.processCapability);
                    return v;
                }
            },
                    {
                field: "reactionPlan",
                title: '反应计划',
                width: 120
            },
        ],
        dataBound: function (e) {  
        	console.log(e.sender._data);        
        	var datas=e.sender._data;
            var dimension_col = 1;
            var first_instance = null;
            var rowspan = 0;
            $('#grid table tbody').find("tr").each(function () {
                var dimension_td = $(this).find('td:nth-child(' + dimension_col + ')');
                if (first_instance == null) {
                    first_instance = dimension_td;
                    rowspan = 0;
                } else if (dimension_td.text() == first_instance.text()) {
                    $('#grid table tbody').find('tr').each(function () {
                        if ($(this).find('td:nth-child(' + dimension_col + ')').text() == first_instance.text()) {
                            rowspan++;
                        }
                    });
                    dimension_td.hide();
                    first_instance.attr('rowspan', rowspan);
                    rowspan = 0;
                } else {
                    rowspan = 0;
                    first_instance = dimension_td;
                }
                return;
            });
            
            
            var dimension_col = 2;
            var first_instance = null;
            var rowspan = 0;
            $('#grid table tbody').find("tr").each(function () {
                var dimension_td = $(this).find('td:nth-child(' + dimension_col + ')');
                if (first_instance == null) {
                    first_instance = dimension_td;
                    rowspan = 0;
                } else if (dimension_td.text() == first_instance.text()) {
                    $('#grid table tbody').find('tr').each(function () {
                        if ($(this).find('td:nth-child(' + dimension_col + ')').text() == first_instance.text()) {
                            rowspan++;
                        }
                    });
                    dimension_td.hide();
                    first_instance.attr('rowspan', rowspan);
                    rowspan = 0;
                } else {
                    rowspan = 0;
                    first_instance = dimension_td;
                }
                return;
            });
            
            
//           经验证  目前暂时只能做到单独合并 无法实现关联合并 20190912             
            

//           待完善 鞠靖 修改过方法 20190912  
// 	         var firstTD=$('#grid table tbody').find('td:nth-child(1)');
// 	         var firstTDfirstTR = null;
// 	         var firstTDsecondTR = null;
	         
// 	         var secondTDfirstTR = null;
// 	         var count=0;
// 	         var rowspan2 = 0;
	            
            
//             $('#grid table tbody').find("tr").each(function () {
//             	firstTDfirstTR = firstTD.eq(count);
//             	firstTDsecondTR = firstTD.eq(count+1);
//             	console.log("1："+firstTDfirstTR.text());
//        			console.log("2："+firstTDsecondTR.text());
       		    
//        		 var secondTD = $(this).find('td:nth-child(2)');
//                  if (secondTDfirstTR == null) {
//                     secondTDfirstTR = secondTD;
//                     rowspan2 = 0;
//                  }
//                  else if (secondTD.text() == secondTDfirstTR.text()) {
//                     $('#grid table tbody').find('tr').each(function () {
//                         if ($(this).find('td:nth-child(2)').text() == secondTDfirstTR.text() && $(this).find('td:nth-child(1)').text() == $('#grid table tbody').find('td:nth-child(1)').eq(count).text()) {
//                             rowspan2++;
//                         }
//                     });
//                     secondTD.hide();
//                     secondTDfirstTR.attr('rowspan', rowspan2);
//                     rowspan2 = 0;
//                 } else {
//                     rowspan2 = 0;
//                     secondTDfirstTR = secondTD;
//                 }     
//                  count++;
//                  return;             
//             });
            
            
            
            
            
            
            
            
//             自定义待完善方法  20190912 
//             var dimension_col2 = 2;
//             var secondTDfirstTR = null;
//             var rowspan2 = 0;
            
//             var firstTD=$('#grid table tbody').find('td:nth-child(1)');
//             var firstTDfirstTR = null;
//             var firstTDsecondTR = null;
            
//             var secondTD = $('#grid table tbody').find('td:nth-child(2)');
//             var secondTDfirstTR = null;
//             var secondTDsecondTR = null;
//             var count=0;
            
//             $('#grid table tbody').find("tr").each(function () {//循环tr
//             	firstTDfirstTR = firstTD.eq(count);
//             	firstTDsecondTR = firstTD.eq(count+1);
            	
//             	secondTDfirstTR = secondTD.eq(count);
//             	secondTDsecondTR = secondTD.eq(count+1);
            	
//             	var thisSecondTD = $(this).find('td:nth-child(2)');

//             	if (firstTDfirstTR.text() == firstTDsecondTR.text() && secondTDfirstTR.text() == secondTDsecondTR.text() ) {
//             		count++;
//             		secondTDsecondTR.attr('rowspan', count);
//             	}else {
//                     secondTDfirstTR = thisSecondTD;
//                 }            
//             	count++;
//             })
        },
        editable: false
    });
    
	    setTimeout(function(){
		var barcode = $('#page-content').html();
		//window.document.body.innerHTML = barcode;
		//$("img").css("clear","both");
		window.print();
		window.parent.$('#printWindow').data('kendoWindow').close();
		parent.location.reload();
	},0.1*1000)
	
</script>
</body>
</html>