<#include "../include/header.html">
<script type="text/javascript">
    var viewModel = Hap.createGridViewModel("#grid");
</script>
<body>
<div id="page-content">
    <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
        <span class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;" data-bind="click:create"><@spring.message "hap.new"/></span>
        <span class="btn btn-success k-grid-save-changes" data-bind="click:save" style="float:left;margin-right:5px;"><@spring.message "hap.save"/></span>
        <span  data-bind="click:remove" class="btn btn-danger" style="float:left;"><@spring.message "hap.delete"/></span>
    </div>
    <script>kendo.bind($('#toolbar-btn'), viewModel);</script>
    <div id="queryPanel" class="pull-right" id="query-form" style="padding-bottom:10px;">
    
    	<div class="k-query-simple" id="query-form">
            <input type="text" data-role="maskedtextbox" style="float:left;width:150px;margin-right:5px;" placeholder='<@spring.message "ControlPlanFeatures.featuresName"/>'
                   data-bind="value:model.featuresName" class="k-textbox">
            <input type="text" data-role="maskedtextbox" style="float:left;width:150px;margin-right:5px;" placeholder='<@spring.message "ControlPlanFeatures.featuresType"/>'
                   data-bind="value:model.featuresType" class="k-textbox">
            <input type="text" data-role="maskedtextbox" style="float:left;width:150px;margin-right:5px;" placeholder='<@spring.message "ControlPlanFeatures.specialCharacterType"/>'
                   data-bind="value:model.specialCharacterType" class="k-textbox">
        </div>
        <script>kendo.bind($('#query-form'), viewModel);</script>
        <div class="k-query-detail" id="query-form2">
            <div class="rows" style="margin-top:5px">
            <input type="text" data-role="maskedtextbox" style="float:left;width:150px;margin-right:5px;" placeholder='<@spring.message "ControlPlanFeatures.featuresName"/>'
                   data-bind="value:model.featuresName" class="k-textbox">
            <input type="text" data-role="maskedtextbox" style="float:left;width:150px;margin-right:5px;" placeholder='<@spring.message "ControlPlanFeatures.featuresType"/>'
                   data-bind="value:model.featuresType" class="k-textbox">
            <input type="text" data-role="maskedtextbox" style="float:left;width:150px;margin-right:5px;" placeholder='<@spring.message "ControlPlanFeatures.specialCharacterType"/>'
                   data-bind="value:model.specialCharacterType" class="k-textbox">

            </div>
        </div>
        <script>kendo.bind($('#query-form2'), viewModel);</script>
    
        
        <div style="clear:both"></div>
    </div>
    <script>
    kendo.bind($('#query-form'), viewModel);
    $('#queryPanel').kendoQueryPanel({
        queryFunction: function () {
            viewModel.query();
        },
        resetFunction: function () {
            viewModel.reset();
        }
    });
    </script>
    <div style="clear:both">
        <div id="grid"></div>
    </div>
</div>

<script type="text/javascript">
    Hap.initEnterQuery('#query-form', viewModel.query);
    var BaseUrl = _basePath;
    dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: BaseUrl + "/hqm/control/plan/features/query",
                type: "POST",
                dataType: "json"
            },
            update: {
                url: BaseUrl + "/hqm/control/plan/features/submit",
                type: "POST",
                contentType: "application/json"
            },
            destroy: {
                url: BaseUrl + "/hqm/control/plan/features/remove",
                type: "POST",
                contentType: "application/json"
            },
            create: {
                url: BaseUrl + "/hqm/control/plan/features/submit",
                type: "POST",
                contentType: "application/json"
            },
            parameterMap: function (options, type) {
                if (type !== "read" && options.models) {
                    var datas = Hap.prepareSubmitParameter(options, type)
                    return kendo.stringify(datas);
                } else if (type === "read") {
                    return Hap.prepareQueryParameter(viewModel.model.toJSON(), options)
                }
            }
        },
        batch: true,
        serverPaging: true,
        pageSize: 20,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "featuresId",
                fields: {}
            }
        }
    });

    $("#grid").kendoGrid({
        dataSource: dataSource,
        resizable: true,
        scrollable: true,
        navigatable: false,
        selectable: 'multiple, rowbox',
        dataBound: function () {
            if (parent.autoResizeIframe) {
                parent.autoResizeIframe('${RequestParameters.functionCode!}')
            }
        },
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        columns: [
            {
                field: "featuresId",
                title: '<@spring.message "controlplanfeatures.featuresid"/>',
                width: 120
            },
                    {
                field: "parentFeaturesId",
                title: '<@spring.message "controlplanfeatures.parentfeaturesid"/>',
                width: 120
            },
                    {
                field: "controlPlanId",
                title: '<@spring.message "controlplanfeatures.controlplanid"/>',
                width: 120
            },
                    {
                field: "ranks",
                title: '<@spring.message "controlplanfeatures.ranks"/>',
                width: 120
            },
                    {
                field: "featuresName",
                title: '<@spring.message "controlplanfeatures.featuresname"/>',
                width: 120
            },
                    {
                field: "featuresType",
                title: '<@spring.message "controlplanfeatures.featurestype"/>',
                width: 120
            },
                    {
                field: "featuresContent",
                title: '<@spring.message "controlplanfeatures.featurescontent"/>',
                width: 120
            },
                    {
                field: "equipment",
                title: '<@spring.message "controlplanfeatures.equipment"/>',
                width: 120
            },
                    {
                field: "specialCharacterType",
                title: '<@spring.message "controlplanfeatures.specialcharactertype"/>',
                width: 120
            },
                    {
                field: "standrad",
                title: '<@spring.message "controlplanfeatures.standrad"/>',
                width: 120
            },
                    {
                field: "detectionEquipment",
                title: '<@spring.message "controlplanfeatures.detectionequipment"/>',
                width: 120
            },
                    {
                field: "sampleSize",
                title: '<@spring.message "controlplanfeatures.samplesize"/>',
                width: 120
            },
                    {
                field: "detectionFrequency",
                title: '<@spring.message "controlplanfeatures.detectionfrequency"/>',
                width: 120
            },
                    {
                field: "controlMethod",
                title: '<@spring.message "controlplanfeatures.controlmethod"/>',
                width: 120
            },
                    {
                field: "grR",
                title: '<@spring.message "controlplanfeatures.grr"/>',
                width: 120
            },
                    {
                field: "processCapability",
                title: '<@spring.message "controlplanfeatures.processcapability"/>',
                width: 120
            },
                    {
                field: "reactionPlan",
                title: '<@spring.message "controlplanfeatures.reactionplan"/>',
                width: 120
            },
        ],
        editable: true
    });

</script>
</body>
</html>