<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.spc.pspc_entity_role_relation.mapper.EntityRoleRelationMapper">
    <resultMap id="BaseResultMap" type="com.hand.spc.pspc_entity_role_relation.dto.EntityRoleRelation">
        <result column="ENTITY_ROLE_RELATION_ID" property="entityRoleRelationId" jdbcType="DECIMAL" />
        <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL" />
        <result column="SITE_ID" property="siteId" jdbcType="DECIMAL" />
        <result column="ENTITY_CODE" property="entityCode" jdbcType="VARCHAR" />
        <result column="ENTITY_VERSION" property="entityVersion" jdbcType="VARCHAR" />
        <result column="ROLE_ID" property="roleId" jdbcType="DECIMAL" />
        <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
        <result column="ROLE_CODE" property="roleCode" jdbcType="VARCHAR" />
    </resultMap>


</mapper>