<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.dimension.hqm_dimension_immediate_actions_head.mapper.DimensionImmediateActionsHeadMapper">
    <resultMap id="BaseResultMap" type="com.hand.dimension.hqm_dimension_immediate_actions_head.dto.DimensionImmediateActionsHead">
        <result column="STEP" property="step" jdbcType="DECIMAL" />
        <result column="HEAD_ACTION_ID" property="headActionId" jdbcType="DECIMAL" />
        <result column="ORDER_ID" property="orderId" jdbcType="DECIMAL" />
        <result column="IMMEDIATE_ACTION" property="immediateAction" jdbcType="VARCHAR" />
        <result column="REMARK" property="remark" jdbcType="VARCHAR" />
        
         <result column="PRINCIPAL_NAME" property="principalName" jdbcType="VARCHAR" />
         <result column="PRINCIPAL_ID" property="principalId" jdbcType="DECIMAL" />
        <result column="ESTIMATED_FINISH_TIME" property="estimatedFinishTime" jdbcType="DATE" />
        <result column="ACTUAL_FINISHI_TIME" property="actualFinishiTime" jdbcType="DATE" />
        <result column="ACTION_DESCRIPTION" property="actionDescription" jdbcType="VARCHAR" />
         <result column="ROW_NUM" property="rowNum" jdbcType="DECIMAL" />
        <result column="ACTION_STATUS" property="actionStatus" jdbcType="VARCHAR" />
        <result column="CF_NUM" property="cfNum" jdbcType="VARCHAR" />
    
    </resultMap>

<!-- hqm_8d_immediate_actions_head数据查询 -->
<select id="reSelect" resultMap="BaseResultMap" 
parameterType="com.hand.dimension.hqm_dimension_immediate_actions_head.dto.DimensionImmediateActionsHead">
SELECT rownum  as row_num,a.* FROM  (SELECT Distinct t.*, suu.name AS PRINCIPAL_NAME 
  FROM hqm_8d_immediate_actions_head t
  LEFT JOIN (SELECT su.employee_id, he.name
               FROM sys_user su, hr_employee he
              WHERE su.employee_id = he.employee_id) suu 
    ON t.principal_id = suu.employee_id 
 WHERE t.enable_flag = 'Y'
 <if test="orderId != null">
   AND t.ORDER_ID = #{orderId}  
  </if>
) A
</select>
<!-- hqm_8d_immediate_actions_head删除数据查询 -->
<select id="reSelectDelete" resultMap="BaseResultMap" 
parameterType="com.hand.dimension.hqm_dimension_immediate_actions_head.dto.DimensionImmediateActionsHead">
SELECT rownum  as row_num,a.* FROM  (SELECT Distinct t.*, suu.name AS PRINCIPAL_NAME 
  FROM hqm_8d_immediate_actions_head t
  LEFT JOIN (SELECT su.employee_id, he.name
               FROM sys_user su, hr_employee he
              WHERE su.employee_id = he.employee_id) suu 
    ON t.principal_id = suu.employee_id 
 WHERE t.enable_flag = 'N'
  <if test="orderId != null">
   AND t.ORDER_ID = #{orderId}  
  </if>
) A
</select>
</mapper>