<#include "../include/header.html">
<!-- 
tianmin.wang:2019-07-25
检验单审核
 -->
<script src="${base.contextPath}/common/code?yesNo=SYS.YES_NO"></script><!-- 是否 -->
<script src="${base.contextPath}/common/code?hqmIqcInspectionType=HQM_INSPECTION_TYPE"></script><!-- 检验类型 -->
<script src="${base.contextPath}/common/code?hqmIqcSamplePlanType=HQM_IQC_SAMPLE_PLAN_TYPE"></script><!-- 抽样方案(抽样计划类型) -->
<script src="${base.contextPath}/common/code?hqmIqcSampleStandardType=HQM_IQC_SAMPLE_STANDARD_TYPE"></script><!-- 抽样标准类型 -->
<script src="${base.contextPath}/common/code?hqmIqcSolveStatus=HQM_INSPECTION_TASK_STATUS"></script>
<script src="${base.contextPath}/common/code?hqmInspectionResult=HQM_INSPECTION_RESULT"></script>
<script src="${base.contextPath}/common/code?hqmIqcSourceType=HQM_IQC_SOURCE_TYPE"></script>
<script src="${base.contextPath}/common/code?hqmIqcAttributeCategory=HQM_IQC_ATTRIBUTE_CATEGORY"></script><!-- 检验项类别 -->
<script src="${base.contextPath}/common/code?hqmIqcInspectionLevels=HQM_IQC_INSPECTION_LEVELS"></script><!-- 检验水平 -->
<script src="${base.contextPath}/common/code?hqmIqcQualityGrade=HQM_IQC_QUALITY_GRADE"></script><!-- 质量特性等级 -->
<script src="${base.contextPath}/common/code?hqmIqcAql=HQM_IQC_AQL"></script><!-- AQL(质量接收限制) -->
<script src="${base.contextPath}/common/code?hqmIqcStandardType=HQM_IQC_STANDARD_TYPE"></script>
 <style> 
	div{
	font-size:14px
	} 
	span{
	font-size:14px;
	} 
	.k-file-name{
		font-size:14px;
		color:#333;
	}
	.k-file-size{
		margin-left:15px;
		color:#9d9d9d;
	}
</style> 
<script type="text/javascript">
	var inspectionNum = "${RequestParameters.inspectionNum!'E'}";
	var pageFrom = "${RequestParameters.pageFrom!'E'}";
	var ngOk = [{meaning:"OK",value:"OK"},{meaning:"NG",value:"NG"}];
	console.log(inspectionNum);
	var viewModel = Hap.createGridViewModel("#grid");
	var viewModelLine = Hap.createGridViewModel("#gridLine");
	viewModel.model.inspectionNum = inspectionNum;
	//SKE01-SKE-190723-00001
	viewModel.commitFunction = function (){
		var headerModel = Hap.prepareQueryParameter(viewModel.model.toJSON(),{});
		var lineModel = new Array();
		for(var i=0; i<gridLine.dataSource.data().length; i++){
			var rowData = gridLine.dataSource.data()[i];
			lineModel.push(Hap.prepareQueryParameter(rowData.toJSON(),{}));
		}
		
		for(var i=0;i<lineModel.length;i++){
			for(var key in lineModel[i]){
				if(!isNaN(key.substr(-1))){
					delete lineModel[i][key];
				}
			}
		}
		headerModel.lineList = kendo.stringify(lineModel);
		console.log(headerModel);
		$.ajax({
	        url: '${base.contextPath}/hqm/iqc/inspection/h/commit',
	        type: 'POST',
	        data: headerModel,
	        async: false,
	//         contentType: "application/json",
	        dataType: "json",
	        success: function (response) {
	            if (response.success) {
	            	getInspectionInfo();
	            	kendo.ui.showInfoDialog({
	                      message: "成功"
	               });
	            } else {
	            	kendo.ui.showWarningDialog({
	                    message: response.message
	                });
	            }
	        }
	    });
	}
	viewModel.pauseFunction = function (){
		//暂挂
		var headerModel = Hap.prepareQueryParameter(viewModel.model.toJSON(),{});
		var lineModel = new Array();
		for(var i=0; i<gridLine.dataSource.data().length; i++){
			var rowData = gridLine.dataSource.data()[i];
			lineModel.push(Hap.prepareQueryParameter(rowData.toJSON(),{}));
		}
		
		for(var i=0;i<lineModel.length;i++){
			for(var key in lineModel[i]){
				if(!isNaN(key.substr(-1))){
					delete lineModel[i][key];
				}
			}
		}
		headerModel.lineList = kendo.stringify(lineModel);
		console.log(headerModel);
		$.ajax({
	        url: '${base.contextPath}/hqm/iqc/inspection/h/pause',
	        type: 'POST',
	        data: headerModel,
	        async: false,
	//         contentType: "application/json",
	        dataType: "json",
	        success: function (response) {
	            if (response.success) {
	            	getInspectionInfo();
	            	kendo.ui.showInfoDialog({
	                      message: "成功"
	               });
	            } else {
	            	kendo.ui.showWarningDialog({
	                    message: response.message
	                });
	            }
	        }
	    });
	}
	viewModel.aduitFunction = function(){
		//审核
		var headerModel = Hap.prepareQueryParameter(viewModel.model.toJSON(),{});
		var lineModel = new Array();
		for(var i=0; i<gridLine.dataSource.data().length; i++){
			var rowData = gridLine.dataSource.data()[i];
			lineModel.push(Hap.prepareQueryParameter(rowData.toJSON(),{}));
		}
		
		for(var i=0;i<lineModel.length;i++){
			for(var key in lineModel[i]){
				if(!isNaN(key.substr(-1))){
					delete lineModel[i][key];
				}
			}
		}
		headerModel.lineList = kendo.stringify(lineModel);
		console.log(headerModel);
		$.ajax({
	        url: '${base.contextPath}/hqm/iqc/inspection/h/audit',
	        type: 'POST',
	        data: headerModel,
	        async: false,
	//         contentType: "application/json",
	        dataType: "json",
	        success: function (response) {
	            if (response.success) {
	            	getInspectionInfo();
	            	kendo.ui.showInfoDialog({
	                      message: "成功"
	               });
	            } else {
	            	kendo.ui.showWarningDialog({
	                    message: response.message
	                });
	            }
	        }
	    });
	}
	viewModel.printFunction = function (){
		//打印
		var dialog = $("#childWindow").kendoWindow({
	        width: cm2px(297),
	        height: cm2px(210),
	        title: '检验单打印',
	        visible: false,
	        iframe: true,
	        modal: true,
	        content: './iqc_inspection_print_model.html?inspectionNum=' + inspectionNum+"&&printFlag=P"
	    }).data("kendoWindow");
	    if(!inspectionNum)
	        return;
	    dialog.center().open();
	}
</script>
<script type="text/javascript">
	function getInspectionInfo(){
		var data = {"inspectionNum":viewModel.model.inspectionNum};
		$.ajax({
            url: '${base.contextPath}/hqm/iqc/inspection/h/select',
            type: 'POST',
            data: data,
            async: false,
//             contentType: "application/json",
            dataType: "json",
            success: function (response) {
                if (response.success) {
                	if(response.rows!=undefined&&response.rows.length!=0){
                		viewModel.set("model",response.rows[0]);
                		console.log(response.rows[0]);
                		gridLine.dataSource.fetch();
                	}else{
                		kendo.ui.showWarningDialog({
                            message: "无对应检验单信息"
                        });
                	}
                } else {
                	kendo.ui.showWarningDialog({
                        message: "检验单信息获取失败"
                    });
                }
            }
        });
	}
	function judgeOkNgCount(){
		var lineArray = new Array();
		lineArray = gridLine.dataSource.data();
		var okCount = 0;
		var ngCount = 0;
		for(var i=0;i<lineArray.length;i++){
			if(lineArray[i].attributeInspectionRes=="OK"){
				okCount++;
			}else{
				ngCount++;
			}
		}
		viewModel.model.set("okQty",okCount);
		viewModel.model.set("ngQty",ngCount);
	}
	//根据毫米算DPI
	function cm2px(cm) {
		var dpi = getDPI();
		var pixel = parseFloat(cm) / 25.4 * dpi[0];	//只计算x轴的dPI	
		return (parseInt(pixel));
	}


	function getDPI() { 
		var arrDPI = new Array(); 
		if (window.screen.deviceXDPI != undefined) {//ie 9 
			arrDPI[0] = window.screen.deviceXDPI; 
			arrDPI[1] = window.screen.deviceYDPI;
		}else {//chrome firefox
			var tmpNode = document.createElement("DIV"); 
			tmpNode.style.cssText = "width:1in;height:1in;position:absolute;left:0px;top:0px;z-index:99;visibility:hidden"; 
			document.body.appendChild(tmpNode); 
			arrDPI[0] = parseInt(tmpNode.offsetWidth); 
			arrDPI[1] = parseInt(tmpNode.offsetHeight); 
			tmpNode.parentNode.removeChild(tmpNode); 
		}
		return arrDPI;
	} 
</script>
<body>
<div id="childWindow"></div>
<div id="page-content">
	<div class="row" style="width: 100%;height: 10%;margin-top: 5px">
	    <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
<!-- 	        <span class="btn btn-success k-grid-save-changes" data-bind="click:create" style="float:left;margin-right:5px;"><@spring.message "iqcinspection.create"/></span> -->
	        <span class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;" data-bind="click:aduitFunction"><@spring.message "iqcinspection.aduit"/></span>
<!-- 	        <span class="btn btn-danger" style="float:left;margin-right:5px;"  data-bind="click:pauseFunction"><@spring.message "iqcinspection.pause"/></span> -->
	        <span class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;" data-bind="click:printFunction"><@spring.message "iqcinspection.print"/></span>
<!-- 	        <span class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;" data-bind="click:createUnqualifiedItem"><@spring.message "iqcinspection.createunqualifieditem"/></span> -->
	    </div>
    </div>
    <div class="row" style="width: 100%;height: 45%;margin-top: 5px;border-bottom:1px solid #000;">
    	<div class="col-sm-6" style="height: 100%;">
    		<div class="row" style="width: 100%;height: 11%;margin-top: 5px">
    			<div><span><b>检验来源</b></span></div>
    		</div>
    		<!-- row1 -->
    		<div class="row" style="width: 100%;height: 11%;margin-top: 5px">
    			<div class="col-sm-12" style="height: 100%">
    				<div class="col-sm-2" style="height: 100%">
    					<span>检验单号:</span>
    				</div>
    				<div class="col-sm-4" style="height: 100%">
    					<input data-role="maskedtextbox" style="width:230px;" disabled data-bind="value:model.inspectionNum">
    				</div>
    				<div class="col-sm-2" style="height: 100%">
    					<span>检验类型:</span>
    				</div>
    				<div class="col-sm-4" style="height: 100%">
    				<input id="inspectionType" style="width:230px;" disabled  data-bind="value:model.inspectionType">
    				<script type="text/javascript">
    					$("#inspectionType").kendoComboBox({
    				        dataTextField: "meaning",
    				        dataValueField: "value",
    				        valuePrimitive: true,
    				        dataSource: hqmIqcInspectionType
    					});
    				</script>
    				</div>
    			</div>
    		</div>
    		<!-- row2 -->
    		<div class="row" style="width: 100%;height: 11%;margin-top: 5px">
    			<div class="col-sm-12" style="height: 100%">
    				<div class="col-sm-2" style="height: 100%">
    					<span>工厂:</span>
    				</div>
    				<div class="col-sm-4" style="height: 100%">
    					<input data-role="maskedtextbox"  style="width:230px;" disabled data-bind="value:model.plantCode">
    				</div>
    				<div class="col-sm-2" style="height: 100%">
    					<span>检验单版本:</span>
    				</div>
    				<div class="col-sm-4" style="height: 100%">
    				<input data-role="maskedtextbox" style="width:230px;" disabled data-bind="value:model.versionNum">
    				</div>
    			</div>
    		</div>
    		<!-- row3 -->
    		<div class="row" style="width: 100%;height: 11%;margin-top: 5px">
    			<div class="col-sm-12" style="height: 100%">
    				<div class="col-sm-2" style="height: 100%">
    					<span>供应商编码:</span>
    				</div>
    				<div class="col-sm-4" style="height: 100%">
    					<input data-role="maskedtextbox" style="width:230px;" disabled data-bind="value:model.supplierCode">
    				</div>
    				<div class="col-sm-2" style="height: 100%">
    					<span>供应商名称:</span>
    				</div>
    				<div class="col-sm-4" style="height: 100%">
    				<input data-role="maskedtextbox" style="width:230px;" disabled data-bind="value:model.supplierName">
    				</div>
    			</div>
    		</div>
    		<!-- row4 -->
    		<div class="row" style="width: 100%;height: 11%;margin-top: 5px">
    			<div class="col-sm-12" style="height: 100%">
    				<div class="col-sm-2" style="height: 100%">
    					<span>物料编码:</span>
    				</div>
    				<div class="col-sm-4" style="height: 100%">
    					<input data-role="maskedtextbox" style="width:230px;" disabled data-bind="value:model.itemCode">
    				</div>
    				<div class="col-sm-2" style="height: 100%">
    					<span>物料描述:</span>
    				</div>
    				<div class="col-sm-4" style="height: 100%">
    				<input data-role="maskedtextbox" style="width:230px;" disabled data-bind="value:model.itemDescriptions">
    				</div>
    			</div>
    		</div>
    		<!-- row5 -->
    		<div class="row" style="width: 100%;height: 11%;margin-top: 5px">
    			<div class="col-sm-12" style="height: 100%">
    				<div class="col-sm-2" style="height: 100%">
    					<span>批次号:</span>
    				</div>
    				<div class="col-sm-4" style="height: 100%">
    					<input data-role="maskedtextbox" style="width:230px;" disabled data-bind="value:model.productionBatch">
    				</div>
    				<div class="col-sm-2" style="height: 100%">
    					<span>来源类型:</span>
    				</div>
    				<div class="col-sm-4" style="height: 100%">
    				<input id="sourceTypeComboBox" style="width:230px;" disabled data-bind="value:model.sourceType">
    				</div>
    				<script>
    				
	    				$("#sourceTypeComboBox").kendoComboBox({
					        dataTextField: "meaning",
					        dataValueField: "value",
					        valuePrimitive: true,
					        dataSource: hqmIqcSourceType
						});
    				</script>
    			</div>
    		</div>
    		<!-- row6 -->
    		<div class="row" style="width: 100%;height: 11%;margin-top: 5px">
    			<div class="col-sm-12" style="height: 100%">
    				<div class="col-sm-2" style="height: 100%">
    					<span>接收日期:</span>
    				</div>
    				<div class="col-sm-4" style="height: 100%">
    					<input id="receiveDatePicker" data-role="datetimepicker" style="width:230px;" disabled data-bind="value:model.receiveDate">
    				</div>
    				<div class="col-sm-2" style="height: 100%">
    					<span>是否加急:</span>
    				</div>
    				<div class="col-sm-4" style="height: 100%">
    				<input id="isUrgencyComboBox" style="width:230px;" disabled data-bind="value:model.isUrgency">
    				</div>
    				<script>
    					$("receiveDatePicker").kendoDateTimePicker({
    						format: "yyyy-MM-dd HH:mm:ss"
    					});
	    				$("#isUrgencyComboBox").kendoComboBox({
					        dataTextField: "meaning",
					        dataValueField: "value",
					        valuePrimitive: true,
					        dataSource: yesNo
						});
    				</script>
    			</div>
    		</div>
    		<!-- row7 -->
    		<div class="row" style="width: 100%;height: 11%;margin-top: 5px">
    			<div class="col-sm-12" style="height: 100%">
    				<div class="col-sm-2" style="height: 100%">
    					<span>接收数量:</span>
    				</div>
    				<div class="col-sm-4" style="height: 100%">
    					<input id="receiveQtyNumberic" style="width:230px;" disabled data-bind="value:model.receiveQty">
    				</div>
    				<div class="col-sm-2" style="height: 100%">
    					<span>送货单号:</span>
    				</div>
    				<div class="col-sm-4" style="height: 100%">
    				<input data-role="maskedtextbox" style="width:230px;" disabled data-bind="value:model.sourceOrder">
    				</div>
    				<script>
	    				$("#receiveQtyNumberic").kendoNumericTextBox({
	                        //min: 0,
	                        step: 1,
	                        format: "0"
	                    });
    				</script>
    			</div>
    		</div>
    		<!-- row8 -->
    		<div class="row" style="width: 100%;height: 11%;margin-top: 5px">
    			<div class="col-sm-12" style="height: 100%">
    				<div class="col-sm-2" style="height: 100%">
    					<span>接收人:</span>
    				</div>
    				<div class="col-sm-4" style="height: 100%">
    					<input data-role="maskedtextbox" style="width:230px;" disabled data-bind="value:model.recipientId">
    				</div>
    				<div class="col-sm-2" style="height: 100%">
    					<span>说明:</span>
    				</div>
    				<div class="col-sm-4" style="height: 100%">
    				<input data-role="maskedtextbox" style="width:230px;" disabled data-bind="value:model.instruction">
    				</div>
    			</div>
    		</div>
    		
    		<div class="row" style="width: 100%;height: 1%;margin-top: 5px">
    		</div>
    	</div>
    	<div class="col-sm-3" style="height: 100%;">
    		<div class="row" style="width: 100%;height: 11%;margin-top: 5px">
    			<div class="col-sm-4" style="height: 100%">
    				<span><b>检验计划</b></span>
    			</div>
    		</div>
    		<!-- row1 -->
    		<div class="row" style="width: 100%;height: 11%;margin-top: 5px">
    			<div class="col-sm-12" style="height: 100%">
    				<div class="col-sm-4" style="height: 100%">
    					<span>抽样方案:</span>
    				</div>
    				<div class="col-sm-8" style="height: 100%">
    					<input id="samplePlanComBoBox" style="width:230px;" disabled data-bind="value:model.samplePlan">
    				</div>
    			</div>
    			<script type="text/javascript">
	    			$("#samplePlanComBoBox").kendoComboBox({
				        dataTextField: "meaning",
				        dataValueField: "value",
				        valuePrimitive: true,
				        dataSource: hqmIqcSamplePlanType
					});
    			</script>
    		</div>
    		<!-- row2 -->
    		<div class="row" style="width: 100%;height: 11%;margin-top: 5px">
    			<div class="col-sm-12" style="height: 100%">
    				<div class="col-sm-4" style="height: 100%">
    					<span>抽样数量:</span>
    				</div>
    				<div class="col-sm-8" style="height: 100%">
    					<input id="sampleSizeNumberic" style="width:230px;" data-bind="value:model.sampleSize">
    				</div>
    			</div>
    			<script type="text/javascript">
	    			$("#sampleSizeNumberic").kendoNumericTextBox({
	                    //min: 0,
	                    step: 1,
	                    format: "0",
	                    change: function() {
	                        var value = this.value();
	                        console.log(value);
	                    }
	                });
    			</script>
    			
    		</div>
    		<!-- row3 -->
    		<div class="row" style="width: 100%;height: 11%;margin-top: 5px">
    			<div class="col-sm-12" style="height: 100%">
    				<div class="col-sm-4" style="height: 100%">
    					<span>影响转移:</span>
    				</div>
    				<div class="col-sm-8" style="height: 100%">
    					<input id="scoreFlagComboBox" style="width:230px;" disabled data-bind="value:model.scoreFlag">
    				</div>
    				<script>
	    				$("#scoreFlagComboBox").kendoComboBox({
					        dataTextField: "meaning",
					        dataValueField: "value",
					        valuePrimitive: true,
					        dataSource: yesNo
						});
    				</script>
    			</div>
    		</div>
    		<!-- row4 -->
    		<div class="row" style="width: 100%;height: 11%;margin-top: 5px">
    			<div class="col-sm-12" style="height: 100%">
    				<div class="col-sm-4" style="height: 100%">
    					<span>处理状态:</span>
    				</div>
    				<div class="col-sm-8" style="height: 100%">
    					<input id="inspectionStatusComboBox" style="width:230px;" disabled data-bind="value:model.inspectionStatus">
    					
    				</div>
    				<script>
	    				$("#inspectionStatusComboBox").kendoComboBox({
					        dataTextField: "meaning",
					        dataValueField: "value",
					        valuePrimitive: true,
					        dataSource: hqmIqcSolveStatus
						});
    				</script>
    			</div>
    		</div>
    		<!-- row5 -->
    		<div class="row" style="width: 100%;height: 11%;margin-top: 5px">
    			<div class="col-sm-12" style="height: 100%">
    				<div class="col-sm-4" style="height: 100%">
    					<span>检验日期:</span>
    				</div>
    				<div class="col-sm-8" style="height: 100%">
    					<input id="inspectionDatePicker" data-role="maskedtextbox" style="width:230px;" disabled data-bind="value:model.inspectionDate">
    				</div>
    				<script>
	    				$("inspectionDatePicker").kendoDateTimePicker({
							format: "yyyy-MM-dd HH:mm:ss"
						});
    				</script>
    			</div>
    		</div>
    		<!-- row6 -->
    		<div class="row" style="width: 100%;height: 11%;margin-top: 5px">
    			<div class="col-sm-12" style="height: 100%">
    				<div class="col-sm-4" style="height: 100%">
    					<span>检验人:</span>
    				</div>
    				<div class="col-sm-8" style="height: 100%">
    					<input id="userLov" style="width:230px;" data-bind="value:model.inspectorId,text:model.userName">
    				</div>
    				<script type="text/javascript">
	    				$("#userLov").kendoLov($.extend
	    			    	    (<@lov"user_lov"/>, {
	    			    	        textField: 'userName',
	    			    	        valueField:'userId',
	    			    	    }));
    				</script>
    			</div>
    		</div>
    		<!-- row7 -->
    		<div class="row" style="width: 100%;height: 11%;margin-top: 5px">
    			<div class="col-sm-12" style="height: 100%">
    				<div class="col-sm-4" style="height: 100%">
    					<span>备注:</span>
    				</div>
    				<div class="col-sm-8" style="height: 100%">
    					<input data-role="maskedtextbox" style="width:230px;" data-bind="value:model.remark">
    				</div>
    			</div>
    		</div>
    		<div class="row" style="width: 100%;height: 12%;margin-top: 5px">
    		</div>
    	</div>
    	<div class="col-sm-3" style="height: 100%;">
    		<div class="row" style="width: 100%;height: 11%;margin-top: 5px">
    			<div><span>审批判定</span></div>
    		</div>
    		<div class="row" style="width: 100%;height: 11%;margin-top: 5px">
    			<div class="col-sm-3"><span>检验结论</span></div>
    			<div class="col-sm-9"><span id="checkNgOrOk" style="color:white;background-color:red;">不合格</span></div>
    		</div>
    		<div class="row" style="width: 100%;height: 11%;margin-top: 5px">
    			<div class="col-sm-3"><span>审批结论</span></div>
    			<div class="col-sm-9">
    				<div id="approvalResultRadio" style="margin-top:5px;" data-bind="enabled: isEnabled,value:model.approvalResult"></div>
    				<script>
                                $("#approvalResultRadio").kendoRadio({
                                    layout: '',//vertical
                                    readonly: false,
                                    items: [{
                                        label: '<span style="color:white;background-color:green;">合格</span>',
                                        value: "OK"
                                    }, {
                                        label: '<span style="color:white;background-color:red;">不合格</span>',
                                        value: "NG"
                                    }],
                                    change: function (e) {
                                        console.log(e)
                                    }
                                });
                                //$("#grid").data('kendoGrid')
//                                 kendo.bind($("#radio"), viewModel);
//                                 var radio=$("#radio").data('kendoRadio');
                                //console.log(radio)
                            </script>
    			</div>
    		</div>
    		<div class="row" style="width: 100%;height: 11%;margin-top: 5px">
    			<div class="col-sm-4"><span>处置方法</span></div>
    		</div>
    		<div class="row" style="width: 100%;height: 33%;margin-top: 5px">
    			<div class="row" style="width: 100%;height: 33%;margin-top: 5px">
    				<div class="col-sm-3">
    				</div>
    				<div class="col-sm-9">
    					<div id="checkRadio1" style="margin-top:5px;" data-bind="enabled: isEnabled,value:model.solveWay"></div>
    				</div>
    			</div>
    			<div class="row" style="width: 100%;height: 33%;margin-top: 5px">
    				<div class="col-sm-3">
    				</div>
    				<div class="col-sm-9">
	    				<div id="checkRadio2" style="margin-top:5px;" data-bind="enabled: isEnabled,value:model.solveWay"></div>
	                </div>
    			</div>
    			<div class="row" style="width: 100%;height: 33%;margin-top: 5px">
    				<div class="col-sm-3">
    				</div>
    				<div class="col-sm-9">
    					<div id="checkRadio3" style="margin-top:5px;" data-bind="enabled: isEnabled,value:model.solveWay"></div>
                    </div>
    			</div>
    			<script>
                                $("#checkRadio1").kendoRadio({
                                	layout: '',//vertical
                                    readonly: false,
                                    items: [{
                                        label: '退货',
                                        value: "0"
                                    }, {
                                        label: '放行',
                                        value: "1"
                                    }],
                                    change: function (e) {
                                        console.log(e)
                                    }
                                });
                                $("#checkRadio2").kendoRadio({
                                	layout: '',//vertical
                                    readonly: false,
                                    items: [{
                                        label: '特采',
                                        value: "2"
                                    }, {
                                        label: '返工',
                                        value: "3"
                                    }],
                                    change: function (e) {
                                        console.log(e)
                                    }
                                });
                                $("#checkRadio3").kendoRadio({
                                	layout: '',//vertical
                                    readonly: false,
                                    items: [{
                                        label: '报废',
                                        value: "4"
                                    }, {
                                        label: '其他',
                                        value: "5"
                                    }],
                                    change: function (e) {
                                        console.log(e)
                                    }
                                });
                                
                </script>
    		</div>
    		<div class="row" style="width: 100%;height: 11%;margin-top: 5px">
    			<div class="col-sm-4"><span>审批描述</span></div>
    		</div>
    		<div class="row" style="width: 100%;height: 12%;margin-top: 5px">
    			<div class="col-sm-3"></div>
    			<div class="col-sm-9">
    				<textarea id="approvalDesArea" name="textarea" data-bind="value:model.approvalDes"></textarea>
    			</div>
    			<script>
                	$("#approvalDesArea").kendoTextArea({
                    });
                </script>
    		</div>
    	</div>
    </div>
    <div class="row" style="width: 100%;height: 15%;margin-top: 5px;">
    	<div class="col-sm-3" style="display:none;height: 100%">
    		<div class="col-sm-3">
    			<span>实物上传:</span>
    		</div>
    		<div class="col-sm-9">
    			<form id="mainform" class="form-horizontal">
				<div class="row">
					<div class="form-group">
						<div class="demo-section k-content">
							<input name="files" id="files1" type="file" />
						</div>
						<script>
							$(document).ready(function() {
								$("#files1").kendoUpload({
									async: {
			                        saveUrl: "${base.contextPath}/hqm/iqc/inspection/h/upload?${_csrf.parameterName}=${_csrf.token}",
									autoUpload: true
									},
									upload: function(e){
										e.data = {
			 						            headerId : viewModel.model.headerId,
			 						        }
									},
			                        success: function(e){
			                        	
			                        },
									showFileList:false
												});
											});
							</script>
					</div>
				</div>
				</form>
    		</div>
    		
    	</div>
    	<div class="col-sm-3" style="height: 100%">
    		<div class="col-sm-3">
    			<span>检验结果:</span>
    		</div>
    		<div class="col-sm-9">
<!--     			<div class="col-sm-6" style="height: 100%"> -->
    				<span style="display:inline;font-size:14px;width:100%">合格</span>
<!--     			</div> -->
<!--     			<div class="col-sm-3" style="height: 100%"> -->
    				<input id="okQtyNumberic" style="width:30px;" disabled data-bind="value:model.okQty">
<!--     			</div> -->
<!--     			<div class="col-sm-6" style="height: 100%"> -->
    				<span style="display:inline;font-size:14px;width:100%">不合格</span>
<!--     			</div> -->
<!--     			<div class="col-sm-3" style="height: 100%"> -->
    				<input id="ngQtyNumberic" style="width:30px;" disabled data-bind="value:model.ngQty">
<!--     			</div> -->
    			<script type="text/javascript">
// 	    			$("#okQtyNumberic").kendoNumericTextBox({
// 	                    min: 0,
// 	                    step: 1,
// 	                    format: "0"
// 	                });
// 	    			$("#ngQtyNumberic").kendoNumericTextBox({
// 	                    min: 0,
// 	                    step: 1,
// 	                    format: "0"
// 	                });
    			</script>
<!--     			<span>合格</span><input data-bind="value:model.okQty"> -->
<!--     			<span>不合格</span><input data-bind="value:model.ngQty"> -->
    		</div>
    	</div>
    	<div class="col-sm-3" style="height: 100%">
    		<div class="col-sm-3">
    			<span>检验结论:</span>
    		</div>
    		<div class="col-sm-9">
    			<div id="inspectionJudgeRadio" style="margin-top:5px;" data-bind="enabled: isEnabled,value:model.inspectionJudge"></div>
    		</div>
    		<script>
	    		$("#inspectionJudgeRadio").kendoRadio({
	                layout: '',//vertical
	                readonly: false,
	                items: [{
	                    label: '<span style="color:white;background-color:green;">合格</span>',
	                    value: "OK"
	                }, {
	                    label: '<span style="color:white;background-color:red;">不合格</span>',
	                    value: "NG"
	                }],
	                change: function (e) {
	                    if(e.values=="OK"){
	                    	$('#checkNgOrOk').css('background-color','green');
	                    	$('#checkNgOrOk').html('合格');
	                    }else{
	                    	$('#checkNgOrOk').css('background-color','red');
	                    	$('#checkNgOrOk').html('不合格');
	                    }
	                }
	            });
    		</script>
    	</div>
    	<div class="col-sm-6" style="height: 100%">
    		<div class="col-sm-3">
    			<span>检验描述:</span>
    		</div>
    		<div class="col-sm-9">
    			<input data-role="maskedtextbox" style="width:90%;" data-bind="value:model.inspectionDes">
    		</div>
    	</div>
    </div>
    <div class="row" style="width: 100%;height: 40%;margin-top: 5px">
	    <div style="display:none" >
	        <div id="grid"></div>
	    </div>
	    <div style="clear:both" >
	        <div id="gridLine"></div>
	    </div>
    </div>
</div>
<script>kendo.bind($('#page-content'), viewModel);</script>
<script type="text/javascript">
Hap.initEnterQuery('#query-form', viewModelLine.query);
var BaseUrl = _basePath;
dataSourceLine = new kendo.data.DataSource({
    transport: {
        read: {
            url: BaseUrl + "/hqm/iqc/inspection/l/query",
            type: "POST",
            dataType: "json"
        },
        update: {
            url: BaseUrl + "/hqm/iqc/inspection/l/submit",
            type: "POST",
            contentType: "application/json"
        },
        destroy: {
            url: BaseUrl + "/hqm/iqc/inspection/l/remove",
            type: "POST",
            contentType: "application/json"
        },
        create: {
            url: BaseUrl + "/hqm/iqc/inspection/l/submit",
            type: "POST",
            contentType: "application/json"
        },
        parameterMap: function (options, type) {
            if (type !== "read" && options.models) {
                var datas = Hap.prepareSubmitParameter(options, type);
                return kendo.stringify(datas);
            } else if (type === "read") {
            	viewModelLine.model.headerId = viewModel.model.headerId;//头ID赋值查询
                return Hap.prepareQueryParameter(viewModelLine.model.toJSON(), options);
            }
        }
    },
    batch: true,
    serverPaging: true,
    pageSize: 10,
    schema: {
        data: 'rows',
        total: 'total',
        model: {
            id: "lineId",
            fields: {},
            editable:function(col){
            	if(col=="inspectionHistory"){
            		return true;
            	}
            	return false;
            }
        }
    }
});

var gridLine = $("#gridLine").kendoGrid({
    dataSource: dataSourceLine,
    resizable: true,
    scrollable: true,
    autoBind: false,
    navigatable: false,
//     selectable: 'multiple, rowbox',
    dataBound: function () {
        if (parent.autoResizeIframe) {
            parent.autoResizeIframe('${RequestParameters.functionCode!}')
        }
    },
    pageable: {
        pageSizes: [5, 10, 20, 50],
        refresh: true,
        buttonCount: 5
    },
    toolbar: [
//         .

//         {
//             template: '<span data-bind="click:save" class="btn btn-success">保存</span>'
//         }, 
//         	{
//             template: '<span data-bind="click:plusFunction" class="btn btn-success">另加检验项目</span>'
//         },
        //{
        //    template: '<span data-bind="click:copyFunction" class="btn btn-success">复制</span>'
        //}
    ],
    columns: [
    	{
            field: "orderCode",
            title: '<@spring.message "iqcinspectionl.ordercode"/>',//排序号
            width: 70
        },
                {
            field: "inspectionAttribute",
            title: '<@spring.message "iqcinspectionl.inspectionattribute"/>',//检验项名称
            width: 120
        },
        {
            field: "attributeType",
            title: '<@spring.message "iqcinspectionl.attributetype"/>',//检验项类型
            width: 120,
            template:function(item){
            	var v = item.attributeType ? item.attributeType : "";
                $.each(hqmIqcAttributeCategory, function (i, n) {
                    if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
                        v = n.meaning;
                        return v;
                    }
                });
                return v;
            }
        },
        {
            field: "inspectionTool",
            title: '<@spring.message "iqcinspectionl.inspectiontool"/>',//检验工具
            width: 120
        },
                {
            field: "sampleProcedureType",
            title: '<@spring.message "iqcinspectionl.sampleproceduretype"/>',//抽样标准类型
            width: 120,
            template:function(item){
            	var v = item.sampleProcedureType ? item.sampleProcedureType : "";
                $.each(hqmIqcSampleStandardType, function (i, n) {
                    if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
                        v = n.meaning;
                        return v;
                    }
                });
                return v;
            }
        },
                {
            field: "inspectionLevels",
            title: '<@spring.message "iqcinspectionl.inspectionlevels"/>',//检验水平
            width: 120,
            template:function(item){
            	var v = item.inspectionLevels ? item.inspectionLevels : "";
                $.each(hqmIqcInspectionLevels, function (i, n) {
                    if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
                        v = n.meaning;
                        return v;
                    }
                });
                return v;
            }
        },
                {
            field: "qualityCharacterGrade",
            title: '<@spring.message "iqcinspectionl.qualitycharactergrade"/>',//质量特性等级
            width: 120,
            template:function(item){
            	var v = item.qualityCharacterGrade ? item.qualityCharacterGrade : "";
                $.each(hqmIqcQualityGrade, function (i, n) {
                    if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
                        v = n.meaning;
                        return v;
                    }
                });
                return v;
            },
        },
                {
            field: "sizeCodeLetter",
            title: '<@spring.message "iqcinspectionl.sizecodeletter"/>',
            width: 120
        },
                {
            field: "acceptanceQualityLimit",
            title: '<@spring.message "iqcinspectionl.acceptancequalitylimit"/>',//AQL
            width: 120,
            template:function(item){
            	var v = item.acceptanceQualityLimit ? item.acceptanceQualityLimit : "";
                $.each(hqmIqcAql, function (i, n) {
                    if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
                        v = n.meaning;
                        return v;
                    }
                });
                return v;
            },
        },
        {
            field: "ac",
            title: '<@spring.message "iqcinspectionl.ac"/>',
            width: 80
        },
                {
            field: "re",
            title: '<@spring.message "iqcinspectionl.re"/>',
            width: 80
        },
                {
            field: "sampleSize",
            title: '<@spring.message "iqcinspectionl.samplesize"/>',//抽样数量
            width: 120
        },
        {
            field: "standardType",
            title: '<@spring.message "iqcinspectionl.standardtype"/>',//规格类型M 字符 D 数字
            width: 120,
            template:function(item){
            	var v = item.standardType ? item.standardType : "";
                $.each(hqmIqcStandardType, function (i, n) {
                    if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
                        v = n.meaning;
                        return v;
                    }
                });
                return v;
            },
        },
        {
            field: "inspectionHistory",
            title: '<@spring.message "iqcinspectionl.inspectionhistory"/>',//检验记录 多input记录输入  头表的抽样数量决定多少
            width: 500,
            template:function(item){
            	return item['inspectionHistory']?item['inspectionHistory']:'';
            },
            editor:function(container, options){
            	if(viewModel.model.sampleSize > 0){
//             		debugger;
            		if(options.model.standardType == 'M'){
            			for (var i = 0; i < viewModel.model.sampleSize; i++) {
            				$('<input style="width:80px;" name="'+ options.field + i +'" inputindex="'+i+'"' +'"  required />')
                            .appendTo(container)
                            .kendoComboBox({
                                dataTextField: "meaning",
                                dataValueField: "value",
                                dataSource: ngOk,
                                change:function(){
                                	var value = this.value();
                                	console.log(value);
                                	var inputIndex = $(this.element[0]).attr("inputindex");
                                	if(options.model.inspectionHistory==null||options.model.inspectionHistory==undefined||options.model.inspectionHistory==''){
                                		for (var j = 0; j < viewModel.model.sampleSize-1; j++) {
                                			options.model.inspectionHistory+=","
                                		}
                                	}
                                	var arr = new Array();
                                	if(viewModel.model.sampleSize>1){
                                		arr = options.model.inspectionHistory.split(',');
                                	}else{
                                		arr.push(options.model.inspectionHistory?options.model.inspectionHistory:"");
                                	}
                                	arr[inputIndex] = value;
                                	options.model.inspectionHistory = arr.join(",");
                                	eval("options.model.inspectionHistory"+inputIndex+"='"+value+"'");
                                	//判断检验项的的合格和不合格值
                                	var hisArray = options.model.inspectionHistory.split(",");
                                	var okCount = 0;
                                	var ngCount = 0;
                                	for(var k=0;k<hisArray.length;k++){
                                		if(hisArray[k]=="OK"){
                                			okCount++;
                                		}else{
                                			ngCount++;
                                		}
                                	}
                                	if(ngCount>0){
                                		options.model.set("attributeInspectionRes","NG");
                                	}else{
                                		options.model.set("attributeInspectionRes","OK");
                                	}
                                	options.model.set("conformingqty",okCount);
                                	options.model.set("nonConformingQty",ngCount);
                                	judgeOkNgCount();
                                }
                            });
            		    }
            		}else{
            			for (var i = 0; i < viewModel.model.sampleSize; i++) {
            				$('<input style="width:80px;" name="'+ options.field + i +'" inputindex="'+i+'"' +'"  required />')
                            .appendTo(container)
                            .kendoNumericTextBox({
                                //min: 0,
                                step: 1,
                                format: "0",
                                change:function(){
                                	var value = this.value();
                                	console.log(value);
                                	var inputIndex = $(this.element[0]).attr("inputindex");
                                	if(options.model.inspectionHistory==null||options.model.inspectionHistory==undefined||options.model.inspectionHistory==''){
                                		for (var j = 0; j < viewModel.model.sampleSize-1; j++) {
                                			options.model.inspectionHistory+=","
                                		}
                                	}
                                	var arr = new Array();
                                	if(viewModel.model.sampleSize>1){
                                		arr = options.model.inspectionHistory.split(',');
                                	}else{
                                		arr.push(options.model.inspectionHistory?options.model.inspectionHistory:"");
                                	}
                                	arr[inputIndex] = value+"";
                                	options.model.inspectionHistory = arr.join(",");
                                	eval("options.model.inspectionHistory"+inputIndex+"='"+value+"'");
                                	//判断检验单的合格和不合格值
                                	var hisArray = options.model.inspectionHistory.split(",");
                                	var okCount = 0;
                                	var ngCount = 0;
                                	for(var k=0;k<hisArray.length;k++){
                                		if(hisArray[k]>=options.model.standardFrom&&hisArray[k]<=options.model.standardTo){
                                			okCount++;
                                		}else{
                                			ngCount++;
                                		}
                                	}
                                	if(ngCount>0){
                                		options.model.set("attributeInspectionRes","NG");
                                	}else{
                                		options.model.set("attributeInspectionRes","OK");
                                	}
                                	options.model.set("conformingqty",okCount);
                                	options.model.set("nonConformingQty",ngCount);
                                	judgeOkNgCount();
                                }
                            });
            		    }
            		}
            	}else{
            		return options.model.inspectionHistory;
            	}
            }
        },
        {
            field: "standradFrom",
            title: '<@spring.message "iqcinspectionl.standradfrom"/>',
            width: 80
        },
                {
            field: "standradTo",
            title: '<@spring.message "iqcinspectionl.standradto"/>',
            width: 80
        },
        {
            field: "standradUom",
            title: '<@spring.message "iqcinspectionl.standraduom"/>',//规格单位
            width: 120
        },    
                {
            field: "textStandrad",
            title: '<@spring.message "iqcinspectionl.textstandrad"/>',//文本规格值
            width: 120
        },
                {
            field: "remark",
            title: '<@spring.message "iqcinspectionl.remark"/>',
            width: 120
        },
                {
            field: "inspectionCount",
            title: '<@spring.message "iqcinspectionl.inspectioncount"/>',
            width: 120
        },
                {
            field: "conformingQty",
            title: '<@spring.message "iqcinspectionl.conformingqty"/>',//合格数
            width: 120
        },
                {
            field: "nonConformingQty",
            title: '<@spring.message "iqcinspectionl.nonconformingqty"/>',//不良数
            width: 120
        },
                {
            field: "attributeInspectionRes",
            title: '<@spring.message "iqcinspectionl.attributeinspectionres"/>',
            width: 120
        },
                {
            field: "enableType",
            title: '<@spring.message "iqcinspectionl.enabletype"/>',
            width: 120
        },
    ],
    editable: true
}).data('kendoGrid');
kendo.bind($('#gridLine'), viewModelLine);
</script>
<script>
	$(function (){
		getInspectionInfo();
	});
</script>
</body>
</html>