<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hqm.hqm_msa_grr_value.mapper.MsaGrrValueMapper">
    <resultMap id="BaseResultMap" type="com.hand.hqm.hqm_msa_grr_value.dto.MsaGrrValue">
        <result column="MSA_GRR_VALUE_ID" property="msaGrrValueId" jdbcType="DECIMAL" />
        <result column="MSA_PLAN_ID" property="msaPlanId" jdbcType="DECIMAL" />
        <result column="SAMPLE_NUM" property="sampleNum" jdbcType="VARCHAR" />
        <result column="MEASURE_DATE" property="measureDate" jdbcType="DATE" />
        <result column="MEASURE_NUM" property="measureNum" jdbcType="DECIMAL" />
        <result column="MEASURE_VALUE" property="measureValue" jdbcType="DECIMAL" />
        <result column="MEASURED_BY" property="measuredBy" jdbcType="VARCHAR" />
    </resultMap>


</mapper>