<#include "../include/header.html">
<script src="${base.contextPath}/lib/prints/doc_print.js" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript">
var parentData = window.parent.parentData;
//行
var map;
//列
var sampleNumAndstandardValueList;
//所有数据
var mapData;
//数据总数
var n = 0;
//偏倚的平均值
var pyAvg = 0;
//基准值的平均值
var jzAvg = 0;
var sumJzAvg = 0;
//极差平均值
var jcAvg = 0;
var sumJcAvg = 0;

//基准值list
var jzList = [];

var rows = 12;
var cols =5;

var viewModel = kendo.observable({
	model: {
	},
	submit: function(e){ 
		//页面数据
		var jsonList = [];
		
		$(".measureValue").each(function(){
			if(checkStr($(this).val())){
				var id = $(this).attr('id');
				var idSplit = id.split('_');
				var msaLinearValueId = null;
				if(idSplit.length > 3){
					msaLinearValueId = idSplit[3];
				}
				var jsonData = {
						"sampleNum":$("#sampleNum_"+idSplit[1])[0].innerHTML,
						"standardValue" :$("#standardValue_"+idSplit[1]).val(),
						"measureValue" : $(this).val(),
						"msaLinearValueId" : msaLinearValueId,
						"measureNum" :$("#measureNum_"+idSplit[2])[0].innerHTML,
						"expectedDeterioration" : viewModel.model.expectedDeterioration,
						"sampleDescription" : viewModel.model.sampleDescription,
						"measuredBy" : viewModel.model.measuredBy,
						"msaPlanId" : parentData.msaPlanId,
			   };
				jsonList.push(jsonData);
			}
		})	
		if(jsonList.length == 0){
			var jsonData = {
					"measureValue" : null,
					"expectedDeterioration" : viewModel.model.expectedDeterioration,
					"sampleDescription" : viewModel.model.sampleDescription,
					"measuredBy" : viewModel.model.measuredBy,
					"msaPlanId" : parentData.msaPlanId,
		   	};
			jsonList.push(jsonData);
		}
		$.ajax({
			url:"${base.contextPath}/hqm/msa/linear/value/save",
			type:"POST",
			data: kendo.stringify(jsonList),
			contentType: "application/json",
			success: function (resultData){
				if(resultData.success){
					Hap.showToast({
            			type:'success',
            			"positionClass": "toast-bottom-right",
            			message:"保存成功",
            			hideDuration:10*1000
            		})	
            		parentData.sampleDescription = viewModel.model.sampleDescription
            		parentData.expectedDeterioration = viewModel.model.expectedDeterioration
            		parentData.measuredBy = viewModel.model.measuredBy
            		window.parent.viewModel.query();
            		initTable();
				}else{
					kendo.ui.showErrorDialog({
						title: "错误提示",
		    			message: resultData.message
		    		})
				}
			}
		})   
	},
	//删除
	remove: function(){
		if(!checkStr(parentData.msaPlanId)){
			kendo.ui.showInfoDialog({
    			title: '<@spring.message "dialog.showInfo"/>',
    			message: '获取计划信息失败'
    		})
    		return;
		}
		kendo.ui.showConfirmDialog({
    		title: '<@spring.message "dialog.showInfo"/>',
    		message: '是否确认清除？'
    	}).done(function(e){
    		if(e.button=='OK'){    			
				var jsonData = {
		    			"msaPlanId" : parentData.msaPlanId
		    	}
		    	$.ajax({
		    		url: "${base.contextPath}/hqm/msa/linear/value/removeByMsaPlanId",
		    		data: jsonData,
		    		type: "POST",
		    		async:false,
		    		dataType: "json",
		    		success: function(data){
		    			if(data.success){
		    				 Hap.showToast({
		                         type: 'success',
		                         "positionClass": "toast-bottom-right",
		                         message: "删除成功"
		                     });
		             		initTable()
		    			}else{
		            		kendo.ui.showErrorDialog({
		                            message: data.message
		                        });
		            		
		            	}
		    		}
		    	})
    		}
    	})
	},
	//返回
	closeWin: function(e){
    	window.parent.$("#linear").data("kendoWindow").close();
    },
    //刷新
    refresh: function(){
    	initTable();
    },
    importExcel : function(){
    	var newModelWindow = $('#excelimport').kendoWindow({
            title: '<@spring.message "msaplan.import"/>',
            width: 300,
            height: 120,
            modal: true,
            actions: ["Minimize", "Maximize", "Close"],
        }).data('kendoWindow');
    	newModelWindow.center().open();
    },
    //分析
    analyze: function(){
    	var msaPlanLine = {
	  			"measurePlanLineId": parentData.measurePlanLineId
	  	}
		$.ajax({
			url: "${base.contextPath}/hqm/msa/plan/line/updateAnalyzeData",
			data: msaPlanLine,
			type: "POST",
			dataType: "json",
			success: function(data){
				if(data.success){
					viewModel.model.set('analyzeDate',data.rows[0].analyzeDate);
				}
			}
		})
    	
		jzAvg = sumJzAvg/sampleNumAndstandardValueList.length;
		jcAvg = sumJcAvg/sampleNumAndstandardValueList.length;
    	//x*y求和
    	var xySum = 0;
    	//x求和
    	var xSum = 0;
    	//y/n求和
    	var ycnSum = 0;
    	//x平方求和
    	var xxSum = 0;
    	//y平方和
    	var yySum = 0;
    	//y求和
    	var ySum = 0;
    	//x-x平均  平方求和
    	var xxpfSum = 0;
    	for(var key in mapData){
    		var list = mapData[key];
    		for(var i=0;i<list.length;i++){
    			xySum += list[i].standardValue * list[i].bias;
    			xSum += list[i].standardValue;
    			ycnSum += list[i].bias/n;
    			xxSum += Math.pow(list[i].standardValue,2);
    			yySum += Math.pow(list[i].bias,2);
    			ySum += list[i].bias;
    			xxpfSum += Math.pow(list[i].standardValue - jzAvg,2);
    		}
    	}
    	//系数a
    	var a =  (xySum - xSum*ycnSum)/(xxSum - Math.pow(xSum,2)/n);
    	//斜率b
    	var b = pyAvg - a*jzAvg;
    	//标准差s
    	var s = Math.sqrt((yySum - b*ySum - a*xySum)/(n-2));
    	//基准值的最小值
    	var jzMin = Math.min.apply(null,jzList);
    	//基准值的最大值
    	var jzMax = Math.max.apply(null,jzList);
    	
    	
    	//传参给父页面
    	//系数a
	    window.parent.a = a;
	    //斜率b
		window.parent.b = b;
		//标准差s
		window.parent.s = s;
		//数据总数
		window.parent.n = n;
		//x-x平均  平方求和
		window.parent.xxpfSum = xxpfSum;
		//基准值的平均值
		window.parent.jzAvg = jzAvg;
		//基准值的最大值
		window.parent.jzMax = jzMax;
		//基准值的最小值
		window.parent.jzMin = jzMin;
		//极差的平均值
		window.parent.jcAvg = jcAvg;
		//行
		window.parent.mapData = mapData;
		//列
		window.parent.sampleNumAndstandardValueList = sampleNumAndstandardValueList;
		var selectFunction = window.parent.$("#pictureLineWindow").kendoWindow({
            actions: ["Close"],
            width: 1500,
			height: 750,
            title: '<@spring.message "msaplan.analysis.linear.result"/>',
            visible: false,
            iframe: true,
            modal: true,
            content: 'msa_linear_value_picture.html'
        }).data("kendoWindow");
        selectFunction.center().open(); 
    }
});

function openWindow(title){

}
$(function(){
	//计算高度
	$("#tableRow").height(window.innerHeight*18/24)
	$("#tableRow").width(window.innerWidth*97/100)
	//量具名称
	viewModel.model.set('measureToolName',parentData.measureToolName);
	//量具编号
	viewModel.model.set('measureToolNum',parentData.measureToolNum);
	//样品名称 
	viewModel.model.set('sampleDescription',parentData.sampleDescription);
	//待测特性
	viewModel.model.set('measureCharacter',parentData.measureCharacter);
	//量具量程
	viewModel.model.set('measuringRange',parentData.measuringRange);
	//预期过程变差
	viewModel.model.set('expectedDeterioration',parentData.expectedDeterioration);
	//测量人
	viewModel.model.set('measuredBy',parentData.measuredBy);
	//分析人
	viewModel.model.set('userName',parentData.userName);
	//分析日期
	viewModel.model.set('analyzeDate',parentData.analyzeDate);
	initTable()
	//已关闭隐藏按钮
	if(parentData.measurePlanStatus == '3'){
		$("#refresh").hide()
		$("#save").hide()
		$("#import").hide()
		$("#getImport").hide()
		$("#clear").hide();
	}
})
function clearNoNum(obj) { 
        obj.value = obj.value.replace(/[^\d.]/g,""); //清除"数字"和"."以外的字符  
            obj.value = obj.value.replace(/^\./g,""); //验证第一个字符是数字而不是  
            obj.value = obj.value.replace(/\.{2,}/g,"."); //只保留第一个. 清除多余的  
            obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");  
            obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3'); //只能输入两个小数  

    }
function clearNoNum2(obj) { 
    obj.value = obj.value.replace(/[^\d.]/g,""); //清除"数字"和"."以外的字符  
        obj.value = obj.value.replace(/^\./g,""); //验证第一个字符是数字而不是  
        obj.value = obj.value.replace(/\.{2,}/g,"."); //只保留第一个. 清除多余的  
        obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");  
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d).*$/,'$1$2.$3'); //只能输入一个小数  

}
//加载table数据 
function initTable(){
	var jsonData = {
			"msaPlanId" : parentData.msaPlanId
	}
	$.ajax({
		url: "${base.contextPath}/hqm/msa/linear/value/query",
		data: jsonData,
		type: "POST",
		dataType: "json",
		success: function(data){
			if(data.success){
				var lLength = 0;
				if(data.rows != null && data.rows.length > 0){ 
					sumJzAvg = 0;
					jzList = [];
					n = 0;
					//行
					var _obj = JSON.stringify(data.rows[0].map);
					map = JSON.parse(_obj);
					mapData = data.rows[0].map;
					//列
					sampleNumAndstandardValueList = data.rows[0].sampleNumAndstandardValueList;
					var str = '';
					//前三行
					for(var i=0; i<3; i++){
						if(i == 0){							
							str += '<tr><th colspan="2" style="text-align: center"><@spring.message "msaplan.samplenum"/></th>';
						}else if(i == 1){
							str += '<tr><th colspan="2" style="text-align: center"><@spring.message "msaplan.reference"/></th>';
						}else if(i == 2){
							str += '<tr><th colspan="2" style="text-align: center"><@spring.message "msaplan.bias.measure.value"/></th>';
						}
						for(var j=0; j<sampleNumAndstandardValueList.length; j++){
							//零件编号
							var sampleNum = sampleNumAndstandardValueList[j].split(',')[0];
							//基准值
							var standardValue = sampleNumAndstandardValueList[j].split(',')[1];
							if(i == 0){
								str += '<th id="sampleNum_'+ j +'" colspan="2"  style="text-align: center">'+ parseFloat(sampleNum).toFixed(0) +'</th>';	
							}else if(i == 1){
								str += '<td colspan="2" ><input id="standardValue_'+ j +'" onkeyup="clearNoNum2(this)" onblur="clearNoNum2(this)" onfocus="clearNoNum2(this)" style="margin:0px;border:0;background:transparent;width:100%;text-align: center;"  value="'+ standardValue +'"/></td>';
								sumJzAvg += parseFloat(standardValue);
								jzList.push(parseFloat(standardValue))
							}else if(i == 2){
								str += '<th style="text-align: center"><@spring.message "msaplan.measure.value"/></th><th style="text-align: center"><@spring.message "msaplan.bias"/></th>';
							}
						}
						str += '</tr>';
					}
					var index = 0;
					//第四行开始
					for(var key in map){
						str += '<tr>';
						if(index == 0){							
							str += '<th rowspan="'+ Object.keys(map).length +'" style="text-align: center"><@spring.message "msaplan.measure.num"/></th>';
						}
						str += '<th id="measureNum_'+ index +'" style="text-align: center">'+ parseFloat(key).toFixed(0) +'</th>';
						for(var i=0; i<sampleNumAndstandardValueList.length; i++){
							//零件编号
							var sampleNum = sampleNumAndstandardValueList[i].split(',')[0];
							//基准值
							var standardValue = sampleNumAndstandardValueList[i].split(',')[1];
							//匹配标识
							var flag = false;
							for(var j=0; j<map[key].length; j++){	
								var data = map[key][j];
								if(data.sampleNum == sampleNum && data.standardValue == standardValue){
									n++;
									str += '<td><input class="measureValue" id="measureValue_'+ i + '_' + index+ '_' + data.msaLinearValueId +'" name="measureValue_'+ i +'" onkeyup="clearNoNum(this)" onblur="clearNoNum(this)" onfocus="clearNoNum(this)" style="margin:0px;border:0;background:transparent;width:100%;text-align: center;"  value="'+ data.measureValue +'"/></td>';									
									str += '<td id="bias_'+ i + '_' + index +'" name="bias_'+ i +'" style="text-align: center">'+ data.bias.toFixed(2) +'</td>';
									map[key].splice(j,1);
									flag = true;
									break;
								}
							}
							if(!flag){
								str += '<td><input id="measureValue_'+ i + '_' + index +'" name="measureValue_'+ i +'" class="measureValue" onkeyup="clearNoNum(this)" style="margin:0px;border:0;background:transparent;width:100%;text-align: center;"  value=""/></td>';									
								str += '<td id="bias_'+ i + '_' + index +'" name="bias_'+ i +'" style="text-align: center"></td>';
							}
						}
						str += '</tr>';
						index++;
					}
					//最后两行
					for(var i=0; i<2; i++){
						var id = '';
						if(i == 0){
							id = 'jz';
							str += '<tr><th colspan="2" style="text-align: center"><@spring.message "msaplan.measure.biasaverage"/></th>';						
						}else if(i == 1){
							id = 'jc';
							str += '<tr><th colspan="2" style="text-align: center"><@spring.message "msaplan.measure.range"/></th>';	
						}
						for(var j=0; j<sampleNumAndstandardValueList.length; j++){
							str += '<th id="'+ id +'_'+ j +'" colspan="2" style="text-align: center"></th>';
						}
					}
					//设置table宽度
					$("#mytable").width(window.innerWidth/13*(sampleNumAndstandardValueList.length*2+2));
					$("table").html("");
					$("table").append(str);
					operation()
				}else{
					var str = '';
					//前三行
					for(var i=0; i<3; i++){
						if(i == 0){							
							str += '<tr><th colspan="2" style="text-align: center">零件编号</th>';
						}else if(i == 1){
							str += '<tr><th colspan="2" style="text-align: center">基准值</th>';
						}else if(i == 2){
							str += '<tr><th colspan="2" style="text-align: center">测量值与偏倚</th>';
						}
						for(var j=0; j<cols; j++){
							if(i == 0){
								str += '<th id="sampleNum_'+ j +'" colspan="2"  style="text-align: center">'+ (j+1) +'</th>';	
							}else if(i == 1){
								str += '<td colspan="2" ><input id="standardValue_'+ j +'" style="margin:0px;border:0;background:transparent;width:100%;text-align: center;"  value=""/></td>';
							}else if(i == 2){
								str += '<th style="text-align: center">测量值</th><th style="text-align: center">偏倚</th>';
							}
						}
						str += '</tr>';
					}
					//第四行开始
					for(var j=0; j<rows; j++){
						str += '<tr>';
						if(j == 0){							
							str += '<th rowspan="'+ rows +'" style="text-align: center">测量次数</th>';
						}
						str += '<th id="measureNum_'+ j +'" style="text-align: center">'+ (j+1) +'</th>';
						for(var i=0; i<cols; i++){
							str += '<td><input id="measureValue_'+ i + '_' + j +'" name="measureValue_'+ i +'" class="measureValue" onkeyup="clearNoNum(this)" onblur="clearNoNum(this)" onfocus="clearNoNum(this)" style="margin:0px;border:0;background:transparent;width:100%;text-align: center;"  value=""/></td>';									
							str += '<td id="bias_'+ i + '_' + j +'" name="bias_'+ i +'" style="text-align: center"></td>';
						}
						str += '</tr>';
					}
					//最后两行
					for(var i=0; i<2; i++){
						var id = '';
						if(i == 0){
							id = 'jz';
							str += '<tr><th colspan="2" style="text-align: center">偏倚平均值</th>';						
						}else if(i == 1){
							id = 'jc';
							str += '<tr><th colspan="2" style="text-align: center">测量值极差</th>';	
						}
						for(var j=0; j<cols; j++){
							str += '<th id="'+ id +'_'+ j +'" colspan="2" style="text-align: center"></th>';
						}
					}
					//设置table宽度
					$("#mytable").width(window.innerWidth/13*(cols*2+2));
					$("table").html("");
					$("table").append(str);
				}
				if(parentData.measurePlanStatus == '3'){
		    		$("input").attr('readOnly','true')
		    	}
			}
		}
	}) 
}
//均值 极差运算
function operation(){
	dataList = [];
	var countNum = 0;
	sumJcAvg = 0;
	for(var i=0; i<sampleNumAndstandardValueList.length; i++){	
		/* 测量值极差  */
		var min = 0;
		var max = 0;
		var numFlag = true;
		var sameFlag;
		$("[name = 'measureValue_"+i +"']").each(function(){
			if(checkStr($(this).val())){
				if(numFlag){
					max = parseFloat(nvl($(this).val(),0));
					min = parseFloat($(this).val());
					numFlag = false;
					sameFlag = '1';
				}else if(!numFlag && parseFloat(max) <= parseFloat($(this).val())){
					sameFlag = '2';
					max = parseFloat(nvl($(this).val(),0));
				}else if(!numFlag && parseFloat(min) > parseFloat($(this).val())){
					sameFlag = '2';
					min = parseFloat($(this).val());
				}
			}
		})
		//极差
		if(sameFlag === '1' && max == min){
			length++;
			$('#jc_' + i).text(max.toFixed(3));
			sumJcAvg += max;
		}else if(sameFlag === '2'){
			length++;
			$('#jc_'+ i).text((max-min).toFixed(3));
			sumJcAvg += max-min;
		}
		
		/* 偏倚平均值  */
		var jzCount = 0;
		var jzSum = 0;
		$("[name = 'bias_"+i +"']").each(function(){
			if(checkStr($(this)[0].innerHTML)){
				jzCount++;
				jzSum += parseFloat($(this)[0].innerHTML);
			}
		})
		
		//均值
		if(jzCount != 0){
			var jzData = (jzSum/jzCount).toFixed(3);
			$('#jz_' + i).text(jzData);
			countNum++;
			pyAvg += parseFloat(jzData);
		}
	}
	pyAvg = (pyAvg/sampleNumAndstandardValueList.length).toFixed(2);
}
function checkStr(str){
	if(str == null || str === '' ||typeof(str) == "undefined"){
		return false;
	}
	return true;
}
$(document).ready(function() {
	var msaPlanId = parentData.msaPlanId;
	$("#files1").kendoUpload({
		async: {
        saveUrl: "${base.contextPath}/hqm/msa/linear/value/upload?${_csrf.parameterName}=${_csrf.token}",//
		autoUpload: true
		},
		upload : function(e){
			e.data = {
					"msaPlanId": msaPlanId
			}
		},
        success : function(e){
        	var response = e.response;
        	if(response.success){
        		Hap.showToast({
                    type: 'success',
                    "positionClass": "toast-bottom-right",
                    message: "导入成功"
                });
        		initTable()
        		//kendo.ui.showInfoDialog({message: "导入成功"});
        		
        	}else{
        		kendo.ui.showErrorDialog({
                        message: response.message
                    });
        		
        	}
        },
		showFileList:false,
					});
				});
</script>
<body>
<div id="pictureWindow"></div>
<div id="page-content" style="heigth:100%;">
	<div id="head" style="heigth:100%">
		<form class="form-horizontal" style="heigth:100%">
			<div id="form" style="heigth:100%">
					<div class="row" style=";height:10%">
					    <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
					    	<span id="save" class="btn btn-success k-grid-save-changes" style="float:left;margin-right:5px;"
                          	data-bind="click:submit"><i class="fa fa-save" style="margin-right:3px;"></i><@spring.message "hap.save"/></span>
                          	<span id="analyze" type="button" class="btn btn-primary"
                            style="float:left;margin-right:5px" data-bind="click:analyze"><i class="fa fa-undo" style="margin-right:3px;"></i><@spring.message "msaplan.analyze"/></span>
					    	<span id="getImport" class="btn btn-primary" style="float:left;width:120px;margin-right:5px;margin-left: 5px;" onclick="modelDownload()" type="submit"><@spring.message "excel.getexceltemplate"/></span>
                            <span id="import"  data-bind="click:importExcel" class="btn btn-primary fa fa-upload" style="float:left;margin-right:5px;">&nbsp;<@spring.message "hap.import"/></span>	
					    	<span id="clear" class="btn btn-danger" style="float:left;margin-right:5px" data-bind="click:remove"><i class="fa fa-trash-o" style="margin-right:3px;"></i><@spring.message "hap.clear"/></span>
					    	<span id="refresh" class="btn btn-default k-grid-save-changes"  style="float:left;margin-right:5px;" data-bind="click:refresh"><i class="fa fa-refresh" style="margin-right: 3px;"></i><@spring.message "hap.refresh"/></span>
					    	<span type="button" class="btn btn-primary"
                            style="float:left;margin-right:5px" data-bind="click:closeWin"><i class="fa fa-undo" style="margin-right:3px;"></i><@spring.message "hap.back"/></span>
					    </div>
					    <script>kendo.bind($('#toolbar-btn'), viewModel);</script>
					    <div class="pull-right" id="query-form" style="padding-bottom:10px;">
					        <div style="clear:both"></div>
					    </div>
					    <script>kendo.bind($('#query-form'), viewModel);</script>
				    </div>
				    <div class="row" style="height:10%;margin-top: 5px;font-size:14px">
				    		<!-- 量具名称 -->
				    		<div class="col-sm-3" style="padding:0px">
						    	    <lable class="col-xs-5 control-lable" style="text-align:right;padding:0px;margin-top:1%"><@spring.message "msaplan.measuretoolname"/>：</lable>
						    	    <div class="col-xs-7"  style="padding:0px">
							    	    <input id=measureToolName style="width:200px" disabled="disabled"    data-role="maskedtextbox" type="text" data-bind="value:model.measureToolName" />
							    	    <script>kendo.bind($("#measureToolName"),viewModel);</script>
						    	    </div>
						    </div>
							<!-- 量具编号 -->
						    <div class="col-sm-3" style="padding:0px">
						    	    <lable class="col-xs-5 control-lable" style="text-align:right;padding:0px;margin-top:1%"><@spring.message "msaplan.measuretoolnum"/>：</lable>
						    	    <div class="col-xs-7"  style="padding:0px">
							    	    <input id="measureToolNum" style="width:200px" disabled="disabled"    data-role="maskedtextbox" type="text" data-bind="value:model.measureToolNum" />
							    	    <script>kendo.bind($("#measureToolNum"),viewModel);</script>
						    	    </div>
						    </div>
						    <!-- 样品名称 -->
						    <div class="col-sm-3" style="padding:0px">
						    	    <lable class="col-xs-5 control-lable" style="text-align:right;padding:0px;margin-top:1%"><@spring.message "msaplan.sampledescription"/>：</lable>
						    	    <div class="col-xs-7"  style="padding:0px">
							    	    <input id="sampleDescription" style="width:200px"    data-role="maskedtextbox" type="text" data-bind="value:model.sampleDescription" />
							    	    <script>kendo.bind($("#sampleDescription"),viewModel);</script>
						    	    </div>
						    </div>
						    <div class="col-sm-3" style="padding:0px">
						    </div>
				    </div>
				    <div class="row" style="height:10%;margin-top: 5px;font-size:14px">
						    <!-- 待测特性 -->
						    <div class="col-sm-3" style="padding:0px">
						    	    <lable class="col-xs-5 control-lable" style="text-align:right;padding:0px;margin-top:1%"><@spring.message "msaplan.measurecharacter"/>：</lable>
						    	    <div class="col-xs-7"  style="padding:0px">
							    	    <input id="measureCharacter" disabled style="width:200px"   data-role="maskedtextbox" type="text" data-bind="value:model.measureCharacter" />
							    	    <script>kendo.bind($("#measureCharacter"),viewModel);</script>
						    	    </div>
						    </div>
						    <!-- 预期过程变差 -->
						    <div class="col-sm-3" style="padding:0px">
						    	    <lable class="col-xs-5 control-lable" style="text-align:right;padding:0px;margin-top:1%"><@spring.message "msaplan.expected.process.variance"/>：</lable>
						    	    <div class="col-xs-7" style="padding:0px">
							    	    <input id="expectedDeterioration"  style="width:200px"  data-role="maskedtextbox" type="text" data-bind="value:model.expectedDeterioration" />
						    	    	<script>kendo.bind($("#expectedDeterioration"),viewModel);</script>
						    	    </div>
						    </div>
						    <!-- 量具量程 -->
						    <div class="col-sm-3" style="padding:0px">
						    	    <lable class="col-xs-5 control-lable" style="text-align:right;padding:0px;margin-top:1%"><@spring.message "msaplan.measuringrange"/>：</lable>
						    	    <div class="col-xs-7" style="padding:0px">
							    	    <input  disabled id="measuringRange" style="width:200px" data-role="maskedtextbox" type="text" data-bind="value:model.measuringRange" type="text"  /> 
						    	    	<script>kendo.bind($("#measuringRange"),viewModel);</script>
						    	    </div>				    	    
						    </div>
						    
						    
				    </div>
				    <div class="row" style="height:10%;margin-top: 5px;font-size:14px">
			     			<!-- 测量人 -->
						    <div class="col-sm-3" style="padding:0px">
						    	    <lable class="col-xs-5 control-lable" style="text-align:right;padding:0px;margin-top:1%"><@spring.message "msaplan.measuredby"/>：</lable>
						    	    <div class="col-xs-7" style="padding:0px">
							    	    <input id="measuredBy"  style="width:200px"  data-role="maskedtextbox" type="text" data-bind="value:model.measuredBy" />
						    	    	<script>kendo.bind($("#measuredBy"),viewModel);</script>
						    	    </div>
						    </div>
						     <!-- 分析人 -->
						    <div class="col-sm-3" style="padding:0px">
						    	    <lable class="col-xs-5 control-lable" style="text-align:right;padding:0px;margin-top:1%"><@spring.message "msaplan.analyzedby"/>：</lable>
						    	    <div class="col-xs-7"  style="padding:0px">
							    	    <input disabled id="userName" style="width:200px"   data-role="maskedtextbox" type="text" data-bind="value:model.userName" />
							    	    <script>kendo.bind($("#userName"),viewModel);</script>
						    	    </div>
						    </div>
						    <!-- 分析日期 -->
						    <div class="col-sm-3" style="padding:0px">
						    	    <lable class="col-xs-5 control-lable" style="text-align:right;padding:0px;margin-top:1%"><@spring.message "msaplanline.analyzeDate"/>：</lable>
						    	    <div class="col-xs-7" style="padding:0px">
							    	    <input  disabled id="analyzeDate" style="width:200px" data-role="maskedtextbox" type="text" data-bind="value:model.analyzeDate" type="text"  /> 
						    	    	<script>kendo.bind($("#analyzeDate"),viewModel);</script>
						    	    </div>				    	    
						    </div>	
			     	</div>
				    <div id="tableRow" class="row" style="margin-top:10px">
				    	<div style="height:100%; overflow:scroll;">
							<table id="mytable" style='color: black;width: 100%;table-layout: fixed;font-size: small;text-align: center;border-color:#697882;overflow:scroll' border='2px'>
								<!-- <tr>
									<th style="width:20%"></th>
									<th style="text-align: center;width:80%">分析内容</th>
								</tr> 
								<tr>
									<td style="width:20%"><input type="radio" name="check" value="" style="margin-top:5%"></td>
									<td style="width:80%"></td>
								</tr> -->
							</table>
						</div>
				    </div>
			</div>
		</form>
	</div>
</div>
<div id="excelimport" style="display:none">
	<form id="mainform" class="form-horizontal">
	<div class="row" style="width:95%">
		<div class="form-group">
			<label class="col-sm-3 control-label"><@spring.message "attachcategory.attachment"/></label>
			<div class="col-sm-7" style="margin-left: 20%">
			<div class="demo-section k-content">
				<input name="files" id="files1" type="file" accept=".xlsx" />
			</div>

			<script>
				
				</script>
			</div>
		</div>
	</div>
	</form>
</div>
<script type="text/javascript">
function modelDownload() {//EXCEL模板下载
    window.location.href="${base.contextPath}/resources/files/线性数据导入模板.xlsx";
}
</script>
</body>
</html>