<html style="color: black">
<#include "../include/header.html">
<script src="${base.contextPath}/lib/prints/doc_print.js" type="text/javascript" charset="UTF-8"></script>
<script src="${base.contextPath}/common/code?HQM_CONTROL_CHART_TYPE=HQM_CONTROL_CHART_TYPE"></script>
<script src="${base.contextPath}/lib/js/echarts.common.min.js?_v_=1553896255267" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript" src="${base.contextPath}/lib/js/echarts.min.js"></script> 
<script type="text/javascript" src="${base.contextPath}/lib/js/ecStat.min.js"></script>
<script>
function initAsnPrintSetting() {
    var jsonSetting = {
        PaperWidth: 297,//A4纵向宽度
        PaperHeight: 210,//A4纵向高度
        MainFontSize: 'middle',
        TableFontSize: 'middle',
        TitleFontSize: 'xx-large',
        TableRowHeight: '15',
        TableBarCodeFontSize: '5',
        BarCodeFontSize: '20',
//         FirstPageRowNum: "30", //第一页的表格显示多少行
//         MaxRowNum: "35"  //第2页~第n页的表格显示多少行
    };

    return jsonSetting;
}
var asnPrintSetting = initAsnPrintSetting();
</script>
<style>
       span {
       		font-size:130%
       }
</style>
<script>
    var viewModel = kendo.observable({
        model: {
            limit: '700'  //上下差距
        }
    });
</script>
<body style="width: 98%; margin-left: 15px;">
	<!--页面布局-->
	<div id="pageDiv" style="width: 100%;">
<!-- 		<div class="row" style=";height:5%;text-align:center"> -->
<!-- 			<label id="label" style="font-size:250%;"></label> -->
<!-- 	    </div> -->
<!-- 	    <div class="row" style=";text-align:left"> -->
<!-- 			<span class="form-group col-sm-12" >测试信息：</span> -->
<!-- 	    </div> -->
	    <div class="row" style=";text-align:left">
			<span class="form-group col-sm-2" id="measureToolNum"></span>
			<span class="form-group col-sm-2" id="measureToolName"></span>
			<span class="form-group col-sm-2" id="positionTitle"></span>
			<span class="form-group col-sm-2" id="userName"></span>
			<span class="form-group col-sm-4" id="analyzeDate"></span>
	    </div>
	    <div class="row" style=";text-align:left">
			<span class="form-group col-sm-2" id="sampleDescription"></span>
			<span class="form-group col-sm-2" id="measureCharacter"></span>
			<span class="form-group col-sm-2" id="tolerance"></span>
			<span class="form-group col-sm-2" id="count"></span>
			<span class="form-group col-sm-4" id="measuredBy"></span>
	    </div>
	    <div class="row" style=";text-align:left">
			<span class="form-group col-sm-12" >分析图表：</span>
	    </div>
	    <div class="row" style="margin:0px;padding:0px;">
<!-- 	    	<div  class="form-group col-sm-1" style="height:350px;"> -->
<!-- 	    	</div> -->
	    	<div id="picture" class="form-group col-sm-5" style="height:350px;">
	    	</div>
	    	<div id="picture2" class="form-group col-sm-5" style="height:350px">
	    	</div>
	    	<div  class="form-group col-sm-1" style="height:350px;">
	    	</div>
	    </div>
	    <div class="row" style="margin-top:0px;padding:0px;">
<!-- 	    	<div  class="form-group col-sm-1" style="height:350px;"> -->
<!-- 	    	</div> -->
	    	<div id="picture3" class="form-group col-sm-5" style="height:350px;">
	    	</div>
	    </div>
	    <div class="row" style=";text-align:left">
			<span class="form-group col-sm-12" >分析结论：</span>
	    </div>
	    <div class="row" style="height:5%;text-align:left;padding-left:1%">
			<span class="form-group col-sm-11" id="result" style="border: 1px solid #e2e2e4;border-radius:10px;height:100%;padding-top:5px"></span>
	    </div>
	    <div class="row" style=";text-align:left">
			<span class="form-group col-sm-12" >备注：</span>
	    </div>
	    <div class="row" style="height:10%;text-align:left;padding-left:1%">
			<span class="form-group col-sm-11" id="result" style="border: 1px solid #e2e2e4;border-radius:10px;height:100%;"></span>
	    </div>
	    <div class="row" style=";text-align:left">
			<span class="form-group col-sm-2">编制人：</span>
			<span class="form-group col-sm-2">日期：</span>
			<span class="form-group col-sm-2"></span>
			<span class="form-group col-sm-2">批准人：</span>
			<span class="form-group col-sm-4">日期：</span>
	    </div>
	</div>

	<script>kendo.bind($('html'), viewModel);</script>
	<script>
		$(document).ready(function () {
		    /*根据asnPrintSetting初始化样式*/
	        //纸张大小
	        $('html').css('width', tranMmToPxWidth(asnPrintSetting.PaperWidth) + "px");
// 		    $('html').css('width',"1122.5196850393702px");
	        var parentData = window.parent.parentData;
		    
// 		    $('#label').html('标题：'+parentData.measureToolNum+'MSA');
		    $('#measureToolNum').html('量具编号：'+nvl(parentData.measureToolNum,''));
		    $('#measureToolName').html('量具名称：'+nvl(parentData.measureToolName,''))
		    $('#positionTitle').html('使用岗位：'+nvl(parentData.positionTitle,''))
		    $('#userName').html('分析人：'+nvl(parentData.userName,''))
		    $('#analyzeDate').html('研究日期：'+nvl(parentData.analyzeDate,''))
		    
		    $('#sampleDescription').html('样品名称：'+nvl(parentData.sampleDescription,''));
		    $('#measureCharacter').html('测量特性：'+nvl(parentData.measureCharacter,''))
		    $('#tolerance').html('公差范围：'+nvl(parentData.tolerance,''))
		    $('#count').html('样品数量：'+window.parent.groupAndDateList.length)
		    $('#measuredBy').html('测量人员：'+ nvl(parentData.measuredBy,''))
		    $('#result').html(nvl(window.parent.msgResult,''))
	        showXbar();
	    	histogram()
		    
            setTimeout(function(){
            	window.print();
                window.close();
            	window.parent.$('#printWindow').data('kendoWindow').close();
        	},0.4*1000)
		});
		
		   /*
	     初始化当前的css样式
	     */
	    function initCss() {
	        $('.titleDiv').css('font-size', asnPrintSetting.TitleFontSize);  //标题div的字体
	        $('.mainDiv').css('font-size', asnPrintSetting.MainFontSize);  //标题div的字体
	        $('.myTable').css('font-size', asnPrintSetting.TableFontSize);   //表格内的字体
	    }	   
	</script>
<script type="text/javascript">
	//展示Xbar图
	function showXbar(type){
		/* Xbar图 */
		//UCL
		var UCL = window.parent.UCL;
		//LCL
		var LCL = window.parent.LCL;
		XbarR(window.parent.averageData,UCL,LCL,window.parent.cl,window.parent.xData,'<@spring.message "msaplan.xbar.chart"/>','<@spring.message "msaplan.sample.average"/>','picture');
		/* R图 */
		var R_UCL = window.parent.R_UCL;
		var R_LCL = window.parent.R_LCL;
		XbarR(window.parent.jcList,R_UCL,R_LCL,window.parent.averageJc,window.parent.xData,'<@spring.message "msaplan.Range.chart"/>','<@spring.message "msaplan.sample.range"/>','picture2');

		
	}
//R图
/*  
 * dataList: 数据体
 * UCL：不同图的UCL
 * LCL：不同图的LCL
 * CL：数据平均值
 * LCL：x轴：测量次数的总个数
 * title： 标题
 * name: 数据描述
 * id: div id
 */
function XbarR(dataList,UCL,LCL,CL,xData,title,name,id){
	dataList.push(UCL);
	dataList.push(LCL);
	option = {
		    title: {
		        text: title,
		        //subtext: '纯属虚构'
		    },
		    tooltip: {
		        trigger: 'axis'
		    },
		    legend: {
		        data:[name]
		    },
		    animation:false,
		    toolbox: {
		        show: true,
		        feature: {
		            /* dataZoom: {
		                yAxisIndex: 'none'
		            }, */
		            dataView: {readOnly: false},
		            magicType: {type: ['line', 'bar']},
		            restore: {},
		            saveAsImage: {}
		        }
		    },
		    xAxis:  {
		        type: 'category',
		        boundaryGap: false,
		        data: xData
		    },
		    yAxis: {
		    	//name: name,
		        type: 'value',
		        axisLabel: {
		            formatter: '{value}'
		        },
		        min:'dataMin'
		    },
		    series: [
		        {
		            name:name,
		            type:'line',
		            data:dataList,
		            markPoint: {
		                data: [
		                    {type: 'max', name: '最大值'},
		                    {type: 'min', name: '最小值'}
		                ]
		            },
		            markLine: {
		                data: [
		                    {
		                    	yAxis: CL, 
		                    	name: '平均值',
		                    	label:{
		                    			normal: {formatter: '平均值('+ CL +')'}
		                    	},
		                    	lineStyle:{
		                    		color: 'green'
		                    	}
		                    },
		                    {
		                    	yAxis: UCL,  
		                    	name: 'UCL',
		                    	label:{
		                    		normal: {formatter: 'UCL('+ UCL +')'}
		                    	},
		                    	lineStyle:{
		                    		color: 'red',
		                    		type: 'solid'
		                    	}
		                    },
		                    {
		                    	yAxis: LCL,  
		                    	name: 'LCL',
		                    	label:{
		                    		normal: {formatter: 'LCL('+ LCL +')'}
		                    	},
		                    	lineStyle:{
		                    		color: 'red',
		                    		type: 'solid'
		                    	}
		                    }
		                ]
		            }
		        },
		    ]
		};
	$("#"+ id +"").empty();
	$("#"+ id +"").append('<div id="'+ id +'a" style="height:100%;width:100%;"></div>')
	var myChart = echarts.init(document.getElementById(id+'a'));
	myChart.setOption(option);
	dataList.splice(dataList.length-2,2);
}
//条形图
function bar(){
	option = {
		    legend: {},
		    tooltip: {},
		    animation:false,
		    dataset: {
		        source: [
		            ['product', '2015', '2016', '2017'],
		            ['Matcha Latte', 43.3, 85.8, 93.7],
		            ['Milk Tea', 83.1, 73.4, 55.1],
		            ['Cheese Cocoa', 86.4, 65.2, 82.5],
		            ['Walnut Brownie', 72.4, 53.9, 39.1]
		        ]
		    },
		    xAxis: {type: 'category'},
		    yAxis: {},
		    // Declare several bar series, each will be mapped
		    // to a column of dataset.source by default.
		    series: [
		        {type: 'bar'},
		        {type: 'bar'},
		        {type: 'bar'}
		    ]
		};
	var id = 'picture3';
	$("#"+ id +"").empty();
	$("#"+ id +"").append('<div id="'+ id +'c" style="height:100%;width:100%;"></div>')
	var myChart = echarts.init(document.getElementById(id+'c'));
	myChart.setOption(option);
}
function accSub(arg1, arg2) {
    var r1, r2, m, n;
    try {
      r1 = arg1.toString().split(".")[1].length;
    } catch (e) {
      r1 = 0;
    }
    try {
      r2 = arg2.toString().split(".")[1].length;
    } catch (e) {
      r2 = 0;
    }
    m = Math.pow(10, Math.max(r1, r2)); //last modify by deeka //动态控制精度长度
    n = (r1 >= r2) ? r1 : r2;
    return ((arg1 * m - arg2 * m) / m).toFixed(n);
  }
  var dataInfo;
//直方图
function histogram(){
	var girth = window.parent.measureValueList;

	var bins = ecStat.histogram(girth);

	var interval;
	var min = Infinity;
	var max = -Infinity;

	dataInfo = echarts.util.map(bins.data, function (item, index) {
	    var x0 = bins.bins[index].x0.toFixed(4);
	    var x1 = bins.bins[index].x1.toFixed(4);
	    
	    interval = (x1-x0).toFixed(4);//accSub(x1,x0);
	    min = Math.min(min, x0).toFixed(4);
	    max = Math.max(max, x1).toFixed(4);
	    return [x0, x1, item[1]];
	});
    
	setTimeout("optionFuntion("+min+","+max+","+interval+")","200");
	
	
}
function optionFuntion(min,max,interval){
	function renderItem(params, api) {
	    var yValue = api.value(2);
	    var start = api.coord([api.value(0), yValue]);
	    var size = api.size([api.value(1) - api.value(0), yValue]);
	    var style = api.style();

	    return {
	        type: 'rect',
	        shape: {
	            x: start[0] + 1,
	            y: start[1],
	            width: size[0] - 2,
	            height: size[1]
	        },
	        style: style
	    };
	}
	option = {
		    title: {
		        text: '<@spring.message "msaplan.measured.value.histogram"/>',
		        /* subtext: 'By ecStat.histogram',
		        sublink: 'https://github.com/ecomfe/echarts-stat', */
		        left: 'center',
		        top: 10
		    },
		    color: ['rgb(25, 183, 207)'],
		    grid: {
		        top: 80,
		        containLabel: true
		    },
		    xAxis: [{
		        type: 'value',
		        min: min,
		        max: max,
		        interval: interval
		    }],
		    yAxis: [{
		        type: 'value',
		    }],
		    series: [{
		        name: 'height',
		        type: 'custom',
		        renderItem: renderItem,
		        label: {
		            normal: {
		                show: true,
		                position: 'insideTop'
		            }
		        },
		        encode: {
		            x: [0, 1],
		            y: 2,
		            tooltip: 2,
		            label: 2
		        },
		        data: dataInfo
		    }]
		};
	var id = 'picture3';
	$("#"+ id +"").empty();
	$("#"+ id +"").append('<div id="'+ id +'c" style="height:100%;width:100%;"></div>')
	var myChart = echarts.init(document.getElementById(id+'c'));
	myChart.setOption(option);
}
</script>
</body>
</html>