<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hcs.hcs_supply_demand.mapper.SupplyDemandMapper">
    <resultMap id="BaseResultMap" type="com.hand.hcs.hcs_supply_demand.dto.SupplyDemand">
        <result column="SUPPLY_DEMAND_ID" property="supplyDemandId" jdbcType="DECIMAL" />
        <result column="SUPPLY_DEMAND_NUM" property="supplyDemandNum" jdbcType="VARCHAR" />
        <result column="SUPPLY_PLAN_LINE_NUM" property="supplyPlanLineNum" jdbcType="DECIMAL" />
        <result column="ITEM_ID" property="itemId" jdbcType="DECIMAL" />
        <result column="PLANT_ID" property="plantId" jdbcType="DECIMAL" />
        <result column="SOURCE_TYPE" property="sourceType" jdbcType="VARCHAR" />
        <result column="PURCHASE_TYPE" property="purchaseType" jdbcType="VARCHAR" />
        <result column="SUPPLIER_ID" property="supplierId" jdbcType="DECIMAL" />
        <result column="SUPPLIER_SITE_ID" property="supplierSiteId" jdbcType="DECIMAL" />
        <result column="REQUIRE_TIME" property="requireTime" jdbcType="DATE" />
        <result column="REQUIRE_QTY" property="requireQty" jdbcType="DECIMAL" />
        <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
        <result column="SUPPLY_PLAN_FLAG" property="supplyPlanFlag" jdbcType="VARCHAR" />
        <result column="REQUIRE_WEEKS" property="requireWeeks" jdbcType="VARCHAR" />
        <result column="REQUIRE_WEEK" property="requireWeek" jdbcType="DATE" />
    </resultMap>

<select id="selectMaxSupplyDemandNum" resultMap="BaseResultMap" parameterType="com.hand.hcs.hcs_supply_demand.dto.SupplyDemand">
SELECT t.supply_demand_num
  FROM hcs_supply_demand t
 WHERE 1 = 1
   AND t.supply_demand_num LIKE concat(#{supplyDemandNum}, '%')
 ORDER BY t.supply_demand_num DESC
</select>

<!-- ST导入供货需求按周汇总(当前数据的时间上周时间) -->
<select id="selectWeeksGroup" resultMap="BaseResultMap" parameterType="com.hand.hcs.hcs_supply_demand.dto.SupplyDemand">
SELECT hsd.item_id,
       hsd.plant_id,
       hsd.supplier_id,
       hsd.purchase_type,
       SUM(hsd.require_qty) AS require_qty,
       to_char(hsd.require_time, 'YYYYIW') AS require_weeks,
       trunc(hsd.require_time - 1, 'd') + #{week} AS require_week
  FROM (SELECT t.item_id,
               t.plant_id,
               t.supplier_id,
               t.purchase_type,
               t.require_qty,
               t.supply_demand_num,
               CASE
                 WHEN to_char(t.require_time, 'YYYYIW') &lt; to_char(SYSDATE, 'YYYYIW') THEN
                  SYSDATE
                 ELSE
                  t.require_time
               END AS require_time
          FROM hcs_supply_demand t) hsd,
       hcm_item_b hib
 WHERE 1 = 1
   AND hsd.plant_id = hib.plant_id
   AND hsd.item_id = hib.item_id
   AND hsd.supply_demand_num = #{supplyDemandNum}
 GROUP BY hsd.item_id,
          hsd.plant_id,
          hsd.supplier_id,
          hsd.purchase_type,
          to_char(hsd.require_time, 'YYYYIW'),
          trunc(hsd.require_time - 1, 'd')
 ORDER BY hsd.item_id, trunc(hsd.require_time - 1, 'd')
</select>

<!-- 
+ (decode(hac.lead_time,
                         NULL,
                         (decode(hib.purchase_type, 'JIT', jit.jit, 'LARGE', large.large, '0')),
                         hac.lead_time)) / 24
 -->
<select id="selectLeadTime" resultMap="BaseResultMap" parameterType="com.hand.hcs.hcs_supply_demand.dto.SupplyDemand">
   SELECT hsd.*
  FROM hcs_supply_demand hsd
  LEFT JOIN hcs_asl ha
    ON hsd.item_id = ha.item_id
   AND hsd.plant_id = ha.plant_id
   AND hsd.supplier_id = ha.supplier_id
  LEFT JOIN hcs_asl_control hac
    ON ha.asl_id = hac.asl_id, hcm_item_b hib, (SELECT scvb.meaning AS jit
          FROM sys_code_b scb, sys_code_value_b scvb
         WHERE scb.code_id = scvb.code_id
           AND scb.code = 'SRM_SUPPLIER_LEAD_TIME'
           AND scvb.value = 'JIT') jit, (SELECT scvb.meaning AS large
          FROM sys_code_b scb, sys_code_value_b scvb
         WHERE scb.code_id = scvb.code_id
           AND scb.code = 'SRM_SUPPLIER_LEAD_TIME'
           AND scvb.value = 'LARGE') large
 WHERE 1 = 1
   AND hsd.plant_id = hib.plant_id
   AND hsd.item_id = hib.item_id
   AND hsd.supply_demand_num = #{supplyDemandNum}
   AND hsd.require_time &gt; SYSDATE
 ORDER BY hsd.item_id, hsd.require_time 
</select>
</mapper>