<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hqm.hqm_supp_item_exemption_his.mapper.SuppItemExemptionHisMapper">
    <resultMap id="BaseResultMap" type="com.hand.hqm.hqm_supp_item_exemption_his.dto.SuppItemExemptionHis">
        <result column="EVENT_ID" property="eventId" jdbcType="DECIMAL" />
        <result column="EVENT_BY" property="eventBy" jdbcType="DECIMAL" />
        <result column="EVENT_TIME" property="eventTime" jdbcType="DATE" />
        <result column="EXEMPTION_ID" property="exemptionId" jdbcType="DECIMAL" />
        <result column="PLANT_ID" property="plantId" jdbcType="DECIMAL" />
        <result column="ITEM_ID" property="itemId" jdbcType="DECIMAL" />
        <result column="SUPPLIER_ID" property="supplierId" jdbcType="DECIMAL" />
        <result column="SUPPLIER_SITE_ID" property="supplierSiteId" jdbcType="DECIMAL" />
        <result column="EXEMPTION_TIME_FROM" property="exemptionTimeFrom" jdbcType="DATE" />
        <result column="EXEMPTION_TIME_TO" property="exemptionTimeTo" jdbcType="DATE" />
        <result column="EXEMPTION_FLAG" property="exemptionFlag" jdbcType="VARCHAR" />
        <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR" />
        <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    </resultMap>


</mapper>