<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hcm.hcm_item_b.mapper.ItemBMapper">
    <resultMap id="BaseResultMap" type="com.hand.hcm.hcm_item_b.dto.ItemB">
        <result column="ITEM_ID" property="itemId" jdbcType="DECIMAL" />
        <result column="PLANT_ID" property="plantId" jdbcType="DECIMAL" />
        <result column="ITEM_CODE" property="itemCode" jdbcType="VARCHAR" />
        <result column="PRIMARY_UOM" property="primaryUom" jdbcType="VARCHAR" />
        <result column="DESIGN_CODE" property="designCode" jdbcType="VARCHAR" />
        <result column="PLAN_CODE" property="planCode" jdbcType="VARCHAR" />
        <result column="ITEM_IDENTIFY_CODE" property="itemIdentifyCode" jdbcType="VARCHAR" />
        <result column="ITEM_TYPE" property="itemType" jdbcType="VARCHAR" />
        <result column="MAKE_BUY_CODE" property="makeBuyCode" jdbcType="VARCHAR" />
        <result column="SUPPLY_TYPE" property="supplyType" jdbcType="VARCHAR" />
        <result column="KEY_COMPONENT_FLAG" property="keyComponentFlag" jdbcType="VARCHAR" />
        <result column="SCHEDULE_FLAG" property="scheduleFlag" jdbcType="VARCHAR" />
        <result column="MAKE_TO_ORDER_FLAG" property="makeToOrderFlag" jdbcType="VARCHAR" />
        <result column="PROD_LINE_RULE" property="prodLineRule" jdbcType="VARCHAR" />
        <result column="ITEM_SIZE" property="itemSize" jdbcType="VARCHAR" />
        <result column="UNIT_WEIGHT" property="unitWeight" jdbcType="DECIMAL" />
        <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR" />
        <result column="DEMAND_MERGE_TIME_FENCE" property="demandMergeTimeFence" jdbcType="VARCHAR" />
        <result column="SUPPLY_MERGE_TIME_FENCE" property="supplyMergeTimeFence" jdbcType="VARCHAR" />
        <result column="SAFETY_STOCK_METHOD" property="safetyStockMethod" jdbcType="VARCHAR" />
        <result column="SAFETY_STOCK_PERIOD" property="safetyStockPeriod" jdbcType="DECIMAL" />
        <result column="SAFETY_STOCK_VALUE" property="safetyStockValue" jdbcType="DECIMAL" />
        <result column="MAX_STOCK_QTY" property="maxStockQty" jdbcType="DECIMAL" />
        <result column="MIN_STOCK_QTY" property="minStockQty" jdbcType="DECIMAL" />
        <result column="PRODUCT_CAPACITY_TIME_FENCE" property="productCapacityTimeFence" jdbcType="VARCHAR" />
        <result column="PRODUCT_CAPACITY" property="productCapacity" jdbcType="DECIMAL" />
        <result column="ECONOMIC_SPLIT_PARAMETER" property="economicSplitParameter" jdbcType="DECIMAL" />
        <result column="MIN_ORDER_QTY" property="minOrderQty" jdbcType="DECIMAL" />
        <result column="FIXED_LOT_MULTIPLE" property="fixedLotMultiple" jdbcType="DECIMAL" />
        <result column="PACK_QTY" property="packQty" jdbcType="DECIMAL" />
        <result column="SEQUENCE_LOT_CONTROL" property="sequenceLotControl" jdbcType="VARCHAR" />
        <result column="EXPIRE_CONTROL_FLAG" property="expireControlFlag" jdbcType="VARCHAR" />
        <result column="EXPIRE_DAYS" property="expireDays" jdbcType="DECIMAL" />
        <result column="RELEASE_CONCURRENT_RULE" property="releaseConcurrentRule" jdbcType="VARCHAR" />
        <result column="CID" property="cid" jdbcType="DECIMAL" />
        <result column="MRP_PLANNING_CODE" property="mrpPlanningCode" jdbcType="DECIMAL" />
        <result column="AUTO_SERIAL_ALPHA_PREFIX" property="autoSerialAlphaPrefix" jdbcType="VARCHAR" />
        <result column="INVENTORY_ITEM_STATUS_CODE" property="inventoryItemStatusCode" jdbcType="VARCHAR" />
        <result column="MAXIMUM_ORDER_QUANTITY" property="maximumOrderQuantity" jdbcType="DECIMAL" />
        <result column="GLOBAL_ATTRIBUTE1" property="globalAttribute1" jdbcType="VARCHAR" />
        <result column="GLOBAL_ATTRIBUTE2" property="globalAttribute2" jdbcType="VARCHAR" />
        <result column="GLOBAL_ATTRIBUTE3" property="globalAttribute3" jdbcType="VARCHAR" />
        <result column="GLOBAL_ATTRIBUTE4" property="globalAttribute4" jdbcType="VARCHAR" />
        <result column="GLOBAL_ATTRIBUTE5" property="globalAttribute5" jdbcType="VARCHAR" />
        <result column="GLOBAL_ATTRIBUTE6" property="globalAttribute6" jdbcType="VARCHAR" />
        <result column="GLOBAL_ATTRIBUTE7" property="globalAttribute7" jdbcType="VARCHAR" />
        <result column="GLOBAL_ATTRIBUTE8" property="globalAttribute8" jdbcType="VARCHAR" />
        <result column="GLOBAL_ATTRIBUTE9" property="globalAttribute9" jdbcType="VARCHAR" />
        <result column="GLOBAL_ATTRIBUTE10" property="globalAttribute10" jdbcType="VARCHAR" />
        <result column="SYNC_DATE" property="syncDate" jdbcType="DATE" />
        <result column="ITEM_EDITION" property="itemEdition" jdbcType="DECIMAL" />
        <result column="PURCHASE_TYPE" property="purchaseType" jdbcType="VARCHAR" />
        
        <result column="ITEM_DESCRIPTIONS" property="itemDescriptions" jdbcType="VARCHAR" />
    </resultMap>

<update id="refreshEnableFlag" parameterType="com.hand.hcm.hcm_item_b.dto.ItemB">

UPDATE hcm_item_b t SET t.enable_flag = #{enableFlag}
</update>

<update id="updateByItemPlantId" parameterType="com.hand.hcm.hcm_item_b.dto.ItemB">
UPDATE hcm_item_b t
   SET t.enable_flag      = #{enableFlag},
       t.last_updated_by  = #{lastUpdatedBy},
       t.last_update_date = #{lastUpdateDate},
       t.primary_uom      = #{primaryUom},
       t.item_type        = #{itemType},
       t.make_buy_code    = #{makeBuyCode},
       t.pack_qty         = #{packQty},
       t.unit_price       = #{unitPrice},
       t.price_unit       = #{priceUnit},
       t.purchase_lead_time = #{purchaseLeadTime}
 WHERE t.item_id = #{itemId}
   AND t.plant_id = #{plantId}
</update>

<update id="disableByItemPlantId" parameterType="com.hand.hcm.hcm_item_b.dto.ItemB">
UPDATE hcm_item_b t
   SET t.enable_flag      = #{enableFlag},
       t.last_updated_by  = #{lastUpdatedBy},
       t.last_update_date = #{lastUpdateDate}
 WHERE t.item_id = #{itemId}
   AND t.plant_id = #{plantId}
</update>


<update id="updatePurchaseUomByItemPlantId" parameterType="com.hand.hcm.hcm_item_b.dto.ItemB">
UPDATE hcm_item_b t
   SET t.purchase_uom      = #{purchaseUom},
       t.last_updated_by  = #{lastUpdatedBy},
       t.last_update_date = #{lastUpdateDate}
 WHERE t.item_id = #{itemId}
   AND t.plant_id = #{plantId}
</update>

<select id="teselect" resultType="java.lang.Float">
select count(1) from hcm_item_b t where 1=1 and t.plant_id = #{0}

</select>

<select id="reSelect" resultMap="BaseResultMap" parameterType="com.hand.hcm.hcm_item_b.dto.ItemB">
SELECT hib.item_code, hit.descriptions AS item_descriptions
  FROM hcm_item_b hib, hcm_item_tl hit
 WHERE hib.item_id = hit.item_id
   AND hib.plant_id = hit.plant_id
   AND hib.item_id = #{itemId}
   AND hib.plant_id = #{plantId}

</select>

<select id="getSequence" resultType="java.lang.Float">

SELECT hcm_item_b_s.nextval FROM dual

</select>

<select id="interfaceSelect" resultMap="BaseResultMap" parameterType="com.hand.hcm.hcm_item_b.dto.ItemB">
SELECT hib.item_code,hib.item_id,hib.plant_id,hp.plant_code
  FROM hcm_item_b hib,hcm_plant hp
 WHERE hib.plant_id = hp.plant_id
   AND hib.item_code = #{itemCode}
   AND hib.plant_id = #{plantId}

</select>

</mapper>